{% extends 'backend/layouts/app.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="list-product-header">
                            <div class="d-flex justify-content-between">
                                <h4>Add Student</h4>
                                <a class="btn btn-primary" href="{% url 'backend:getStudents' %}"><i class="fa fa-eye"></i>View Students</a>
                            </div>
                        </div>
                        <hr>
                        <div class="form theme-form">
                            <form class="price-wrapper" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-6"> 
                                        <label class="form-label">Student Name</label>
                                        <input class="form-control" name="name" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label">Image</label>
                                                <div class="input-group flatpicker-calender product-date">
                                                    <input class="form-control" name="image" type="file">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label">Birthday</label>
                                                <div class="input-group flatpicker-calender product-date">
                                                    <input class="form-control" name="birthday" type="date">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label">Gender</label>
                                                <select class="form-select" name="gender">
                                                    <option selected="" value="">Select Gender</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label">Sponsorship Covers</label>
                                                <select class="form-select" name="spo_cover">
                                                    <option value="School Fees">School Fees</option>
                                                    <option value="Shelter">Shelter</option>
                                                    <option value="Clothes">Clothes</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-12">
                                        <div class="col-12">
                                            <label class="form-label">Additional Information</label>
                                            <textarea name="description" rows="10" class="form-control" placeholder="Additional Information"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="text-end">
                                            <button class="btn btn-primary me-3">Add Student</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}