{% extends 'backend/layouts/app.html' %}
{% load static %}
{% block content %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="list-product-header">
                            <div class="d-flex justify-content-between">
                                <h4>Add Student</h4>
                                <a class="btn btn-primary" href="{% url 'backend:getStudents' %}"><i class="fa fa-eye"></i>View Students</a>
                            </div>
                        </div>
                        <hr>
                        <div class="form theme-form">
                            <form class="price-wrapper" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-6"> 
                                        <label class="form-label">Student Name</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label">Image</label>
                                                <div class="input-group flatpicker-calender product-date">
                                                    {{ form.image }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label">Birthday</label>
                                                <div class="input-group flatpicker-calender product-date">
                                                    {{ form.birthday }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label">Gender</label>
                                                {{ form.gender }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label">Sponsorship Covers</label>
                                                {{ form.spo_cover }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-12">
                                        <div class="col-12">
                                            <label class="form-label">Additional Information</label>
                                            {{ form.description }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="text-end">
                                            <button class="btn btn-primary me-3">Add Student</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}