{% extends 'backend/layouts/app.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="list-product-header">
                            <div class="d-flex justify-content-between">
                                <h4>Edit Student</h4>
                                <a class="btn btn-primary" href="{% url 'backend:getStudents' %}"><i class="fa fa-eye"></i>View Students</a>
                            </div>
                        </div>
                        <hr>
                        <div class="form theme-form">
                            <form class="price-wrapper">
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-6"> 
                                        <label class="form-label">Student Name</label>
                                        <input class="form-control" type="number">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label">Birthday</label>
                                                <div class="input-group flatpicker-calender product-date">
                                                    <input class="form-control" id="datetime-local1" type="date">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="form-label">Gender</label>
                                                <select class="form-select" id="validationDefault04" required="">
                                                    <option selected="" value="">Select Gender</option>
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row g-2 product-tag">
                                            <div class="col-12">
                                                <label class="form-label d-block m-0">Sponsorship Covers</label>
                                            </div>
                                            <div class="col-12">
                                                <input name="basic-tags" value="School fees,">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-12">
                                        <div class="col-12">
                                            <div class="sidebar-body">
                                                <div class="product-upload mt-3">
                                                    <p>Product Gallery</p>
                                                    <div class="dropzone dropzone-light bg-light-primary" id="multiFileUpload" action="/upload.php">
                                                        <div class="dz-message needsclick">
                                                            <svg>
                                                                <use href="{% static 'backend/svg/icon-sprite.svg#file-upload1' %}"></use>
                                                            </svg>
                                                            <h5>Drag files here</h5><span class="note needsclick">Add Product Gallery Images</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-12">
                                        <div class="col-12">
                                            <label class="form-label">Additional Information</label>
                                            <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Additional Information"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="text-end">
                                            <button class="btn btn-primary me-3">Edit Student</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}