{% extends 'backend/layouts/app.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12"> 
                <div class="card"> 
                    <div class="card-body">
                        <div class="list-product-header">
                            <div> 
                                <a class="btn btn-primary" href="{% url 'backend:addStudent' %}"><i class="fa fa-plus"></i>Add Student</a>
                            </div>
                        </div>
                        <div class="list-product">
                            <table class="table" id="project-status">
                                <thead> 
                                    <tr> 
                                    <th>
                                        <div class="form-check"> 
                                            <input class="form-check-input checkbox-primary" type="checkbox">
                                        </div>
                                    </th>
                                    <th> <span class="f-light f-w-600">Student</span></th>
                                    <th> <span class="f-light f-w-600">Age</span></th>
                                    <th> <span class="f-light f-w-600">Birthday</span></th>
                                    <th> <span class="f-light f-w-600">Gender</span></th>
                                    <th> <span class="f-light f-w-600">Sponsor Cover</span></th>
                                    <th> <span class="f-light f-w-600">Description</span></th>
                                    <th> <span class="f-light f-w-600">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr class="product-removes">
                                        <td>
                                            <div class="form-check"> 
                                                <input class="form-check-input checkbox-primary" type="checkbox">
                                            </div>
                                        </td>
                                        <td> 
                                            <div class="product-names">
                                                <div class="light-product-box">
                                                    <img class="img-fluid" src="{% static 'frontend/images/students/1.jpg' %}" alt="laptop">
                                                </div>
                                                <p>Mfuranzima Geoffrey</p>
                                            </div>
                                        </td>
                                        <td> 
                                            <p class="f-light">13 Years Old</p>
                                        </td>
                                        <td> 
                                            <p class="f-light">June 17, 2011</p>
                                        </td>
                                        <td> 
                                            <p class="f-light">Male</p>
                                        </td>
                                        <td> 
                                            <p class="f-light">
                                                School fees, Uniform, Camp
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit...
                                            </p>
                                        </td>
                                        <td> 
                                            <div class="product-action">
                                                <a href="#"> 
                                                    <svg>    
                                                        <use href="{% static 'backend/svg/icon-sprite.svg#edit-content' %}"></use>
                                                    </svg>
                                                </a>
                                                <svg>
                                                    <use href="{% static 'backend/svg/icon-sprite.svg#trash1' %}"></use>
                                                </svg>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}