{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Sponsor Account {% endblock %}
{% block content %}

<section class="page-title-center-alignment cover-background top-space-padding" style="background-image: url({% static 'frontend/images/bg.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center position-relative page-title-extra-large">
                <h1 class="alt-font d-inline-block fw-700 ls-minus-05px text-white mb-10px mt-3 md-mt-50px">My account</h1>
            </div>
            <div class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center">
                <ul>
                    <li><a href="{% url 'frontend:home' %}" class="text-white">Home</a></li> 
                    <li>My account</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row g-0 justify-content-center">
            {% include 'frontend/auth/login.html' %}

            {% include 'frontend/auth/register.html' %}
        </div>
    </div>
</section>

{% endblock %}