<div class="col-lg-5 col-md-10 offset-xl-1 offset-lg-1 col-md-10 contact-form-style-04 md-mb-50px" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay":150, "staggervalue": 150, "easing": "easeOutQuad" }'>
    <span class="fs-26 xs-fs-24 alt-font fw-600 text-dark-gray mb-20px d-block">Create an account</span>
    <form action="email-templates/contact-form.php" method="post">
        <div>
            <label class="text-dark-gray mb-10px fw-500">Name<span class="text-red">*</span></label>
            <input class="mb-20px bg-very-light-gray form-control required" type="text" name="name" placeholder="Enter your name" />
        </div>
        <div>
            <label class="text-dark-gray mb-10px fw-500">Email address<span class="text-red">*</span></label>
            <input class="mb-20px bg-very-light-gray form-control required" type="email" name="email" placeholder="Enter your email" />
        </div>
        <div>
            <label class="text-dark-gray mb-10px fw-500">Password<span class="text-red">*</span></label>
            <input class="mb-20px bg-very-light-gray form-control required" type="password" name="password" placeholder="Enter your password" />
        </div>
        <div>
            <label class="text-dark-gray mb-10px fw-500">Confirm Password<span class="text-red">*</span></label>
            <input class="mb-20px bg-very-light-gray form-control required" type="password" name="password" placeholder="Confirm password" />
        </div>
        <button class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow submit w-100 text-transform-none" type="submit">Register</button>
        <div class="form-results mt-20px d-none"></div>
    </form>
</div>