{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="AOF ">
    <title>AOF - Admin</title>
    <!-- favicon icon -->
    <link rel="shortcut icon" href="{% static 'frontend/images/logo/logo-black.png' %}">
    <link rel="apple-touch-icon" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/font-awesome.css' %}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/icofont.css' %}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/themify.css' %}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/flag-icon.css' %}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/feather-icon.css' %}">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/range-slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/fullcalender.css' %}">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/vendors/bootstrap.css' %}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'backend/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'backend/css/responsive.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <div class="tap-top">
        <i data-feather="chevrons-up"></i>
    </div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        {% include 'backend/inc/header.html' %}

        <div class="page-body-wrapper">
            {% include 'backend/inc/sidebar.html' %}


            <div class="page-body">
                {% block content %}{% endblock %}
            </div>
            {% include 'backend/inc/footer.html' %}
        </div>
    </div>

    <!-- latest jquery-->
    <script src="{% static 'backend/js/jquery.min.js' %}"></script>
    <!-- Bootstrap js-->
    <script src="{% static 'backend/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!-- feather icon js-->
    <script src="{% static 'backend/js/icons/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'backend/js/icons/feather-icon/feather-icon.js' %}"></script>
    <!-- scrollbar js-->
    <script src="{% static 'backend/js/scrollbar/simplebar.js' %}"></script>
    <script src="{% static 'backend/js/scrollbar/custom.js' %}"></script>
    <!-- Sidebar jquery-->
    <script src="{% static 'backend/js/config.js' %}"></script>
    <!-- Plugins JS start-->
    <script src="{% static 'backend/js/sidebar-menu.js' %}"></script>
    <script src="{% static 'backend/js/sidebar-pin.js' %}"></script>
    <script src="{% static 'backend/js/slick/slick.min.js' %}"></script>
    <script src="{% static 'backend/js/slick/slick.js' %}"></script>
    <script src="{% static 'backend/js/header-slick.js' %}"></script>
    <script src="{% static 'backend/js/chart/apex-chart/apex-chart.js' %}"></script>
    <script src="{% static 'backend/js/chart/apex-chart/stock-prices.js' %}"></script>
    <script src="{% static 'backend/js/chart/apex-chart/moment.min.js' %}"></script>
    <script src="{% static 'backend/js/notify/bootstrap-notify.min.js' %}"></script>
    <!-- calendar js-->
    <script src="{% static 'backend/js/calendar/fullcalender.js' %}"></script>
    <script src="{% static 'backend/js/calendar/custom-calendar.js' %}"> </script>
    <script src="{% static 'backend/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'backend/js/datatable/datatables/datatable.custom.js' %}"></script>
    <script src="{% static 'backend/js/datatable/datatables/datatable.custom1.js' %}"></script>
    <script src="{% static 'backend/js/range-slider/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'backend/js/range-slider/rangeslider-script.js' %}"></script>
    <script src="{% static 'backend/js/typeahead/handlebars.js' %}"></script>
    <script src="{% static 'backend/js/typeahead/typeahead.bundle.js' %}"></script>
    <script src="{% static 'backend/js/typeahead/typeahead.custom.js' %}"></script>
    <script src="{% static 'backend/js/typeahead-search/handlebars.js' %}"></script>
    <script src="{% static 'backend/js/typeahead-search/typeahead-custom.js' %}"></script>
    <script src="{% static 'backend/js/dashboard/dashboard_2.js' %}"></script>
    <script src="{% static 'backend/js/height-equal.js' %}"></script>
    <script src="{% static 'backend/js/animation/wow/wow.min.js' %}"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="{% static 'backend/js/script.js' %}"></script>
    <script src="{% static 'backend/js/theme-customizer/customizer.js' %}"></script>
    <!-- Plugin used-->
    <script>new WOW().init();</script>
</body>
</html>