<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="AOF ">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="{% static 'frontend/images/logo/logo-black.png' %}">
    <link rel="apple-touch-icon" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'frontend/images/logo-black.png' %}">
    <title>AOS Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
</head>