{% extends 'backend/layouts/app.html' %}
{% load static %}
{% load custom_filters %}  <!-- Load your custom filters -->
{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="list-product-header">
                            <div class="d-flex justify-content-between">
                                <h4>Edit Resource ({{ resource.title }})</h4>
                                <a class="btn btn-primary" href="{% url 'backend:resources' %}"><i class="fa fa-eye"></i>View Resources</a>
                            </div>
                        </div>
                        <hr>
                        <div class="form theme-form">
                            <form class="price-wrapper" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row g-3 custom-input">
                                    <div class="col-sm-4">
                                        <label class="form-label">Title</label>
                                        {{ form.title }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label">Category</label>
                                        {{ form.category }}
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="form-label">Upload Type</label>
                                        {{ form.upload_type }}
                                    </div>
                                    <div class="col-sm-4" id="image-field" style="display: none;">
                                        <label class="form-label">Image</label>
                                        <div class="input-group flatpicker-calender product-date">
                                            {{ form.image }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4" id="file-field" style="display: none;">
                                        <label class="form-label">File</label>
                                        <div class="input-group flatpicker-calender product-date">
                                            {{ form.file }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="text-end">
                                            <button class="btn btn-primary me-3">Update Resource</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const uploadTypeField = document.querySelector('select[name="upload_type"]');
            const imageField = document.getElementById('image-field');
            const fileField = document.getElementById('file-field');
            
            uploadTypeField.addEventListener('change', function() {
                if (this.value === 'image') {
                    imageField.style.display = 'block';
                    fileField.style.display = 'none';
                } else if (this.value === 'file') {
                    imageField.style.display = 'none';
                    fileField.style.display = 'block';
                }
            });
            
            // Trigger change event on page load if there's a selected option
            const selectedUploadType = uploadTypeField.value;
            if (selectedUploadType) {
                uploadTypeField.dispatchEvent(new Event('change'));
            }
        });
    </script>

{% endblock %}
