{% extends 'backend/layouts/app.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12"> 
                <div class="card"> 
                    <div class="card-body">
                        <div class="list-product-header">
                            <div class="d-flex justify-content-between">
                                <h4>Donations</h4>
                            </div>
                        </div>
                        <div class="list-product">
                            <table class="table" id="project-status">
                                <thead> 
                                    <tr> 
                                        <th> <span class="f-light f-w-600">Title</span></th>
                                        <th> <span class="f-light f-w-600">Amount</span></th>
                                        <th> <span class="f-light f-w-600">Product</span></th>
                                        <th> <span class="f-light f-w-600">Payment Mode</span></th>
                                        <th> <span class="f-light f-w-600">Donated By</span></th>
                                        <th> <span class="f-light f-w-600">Email</span></th>
                                        <th> <span class="f-light f-w-600">Status</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for donate in team %}
                                        <tr class="product-removes">
                                            <td> 
                                                <div class="product-names">
                                                    <p>{{ donate.donationTitle }}</p>
                                                </div>
                                            </td>
                                            <td> 
                                                <p class="f-light">{{ donate.amount }}</p>
                                            </td>
                                            <td> 
                                                <p class="f-light">{{ donate.productId }}</p>
                                            </td>
                                            <td> 
                                                <p class="f-light">{{ donate.paymentMode }}</p>
                                            </td>
                                            <td> 
                                                <p class="f-light">{{ donate.donatedby }}</p>
                                            </td>
                                            <td> 
                                                <p class="f-light">{{ donate.email }}</p>
                                            </td>
                                            <td> 
                                                <p class="f-light">{{ donate.status }}</p>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}