{% extends 'backend/layouts/app.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12"> 
                <div class="card"> 
                    <div class="card-body">
                        <div class="list-product-header">
                            <div class="d-flex justify-content-between">
                                <h4>Stories</h4>
                                <a class="btn btn-primary" href="{% url 'backend:addStory' %}"><i class="fa fa-plus"></i>Add Story</a>
                            </div>
                        </div>
                        <div class="list-product">
                            <table class="table" id="project-status">
                                <thead> 
                                    <tr> 
                                    <th>
                                        <div class="form-check"> 
                                            <input class="form-check-input checkbox-primary" type="checkbox">
                                        </div>
                                    </th>
                                    <th> <span class="f-light f-w-600">Title</span></th>
                                    <th> <span class="f-light f-w-600">Category</span></th>
                                    <th> <span class="f-light f-w-600">Status</span></th>
                                    <th> <span class="f-light f-w-600">Description</span></th>
                                    <th> <span class="f-light f-w-600">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for story in stories %}
                                        <tr class="product-removes">
                                            <td>
                                                <div class="form-check"> 
                                                    <input class="form-check-input checkbox-primary" type="checkbox">
                                                </div>
                                            </td>
                                            <td> 
                                                <div class="product-names">
                                                    <div class="light-product-box">
                                                        <img class="img-fluid" src="{{ story.image.url }}" alt="laptop">
                                                    </div>
                                                    <p>{{ story.title }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p>
                                                    {{ story.category }}
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    {% if story.status == 'Active' %}
                                                        <span class="badge badge-success">Active</span>
                                                    {% else %}
                                                        <span class="badge badge-danger">Unactive</span>
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td>
                                                {{ story.description|safe|truncatewords:7 }}
                                            </td>
                                            <td> 
                                                <div class="product-action">
                                                    <a href="{% url 'backend:editStory' story.slug %}"> 
                                                        <svg>    
                                                            <use href="{% static 'backend/svg/icon-sprite.svg#edit-content' %}"></use>
                                                        </svg>
                                                    </a>
                                                    <form method="post" action="{% url 'backend:deleteStory' story.slug %}" style="display: inline;">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-link p-0 m-0 align-baseline" onclick="return confirm('Are you sure you want to delete this story ({{ story.title }})?');">
                                                            <svg>
                                                                <use href="{% static 'backend/svg/icon-sprite.svg#trash1' %}"></use>
                                                            </svg>
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}