{% extends 'backend/layouts/app.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12"> 
                <div class="card"> 
                    <div class="card-body">
                        <div class="list-product-header">
                            <div class="d-flex justify-content-between">
                                <h4>Letters</h4>
                            </div>
                        </div>
                        <div class="list-product">
                            <table class="table" id="project-status">
                                <thead> 
                                    <tr> 
                                        <th>
                                            <div class="form-check"> 
                                                <input class="form-check-input checkbox-primary" type="checkbox">
                                            </div>
                                        </th>
                                        <th> <span class="f-light f-w-600">Receiver</span></th>
                                        <th> <span class="f-light f-w-600">Sender</span></th>
                                        <th> <span class="f-light f-w-600">Subject</span></th>
                                        <th> <span class="f-light f-w-600">Summary</span></th>
                                        <th> <span class="f-light f-w-600">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for item in letters %}
                                        <tr class="product-removes">
                                            <td>
                                                <div class="form-check"> 
                                                    <input class="form-check-input checkbox-primary" type="checkbox">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="product-names">
                                                    <div class="light-product-box">
                                                        <img class="img-fluid" src="{{ item.student.image.url }}" alt="{{ itemstudent.name }}">
                                                    </div>
                                                    <p>{{ item.student.name }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                {{ item.sponsor_name }}
                                            </td>
                                            <td>
                                                {{ item.subject }}
                                            </td>
                                            <td>
                                                {{ item.body|safe|truncatewords:14 }}
                                            </td>
                                            <td> 
                                                
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}