{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} {{ product.name }} {% endblock %}
{% block content %}

<section class="pt-60px"></section>

<section class="pt-60px pb-0 md-pt-30px">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 pe-50px md-pe-15px md-mb-40px">
                <div class="row overflow-hidden position-relative">
                    <div class="col-12 col-lg-10 position-relative order-lg-2 product-image ps-30px md-ps-15px">
                        <div class="swiper product-image-slider" data-slider-options='{ "spaceBetween": 10, "loop": true, "autoplay": { "delay": 2000, "disableOnInteraction": false }, "watchOverflow": true, "navigation": { "nextEl": ".slider-product-next", "prevEl": ".slider-product-prev" }, "thumbs": { "swiper": { "el": ".product-image-thumb", "slidesPerView": "auto", "spaceBetween": 15, "direction": "vertical", "navigation": { "nextEl": ".swiper-thumb-next", "prevEl": ".swiper-thumb-prev" } } } }' data-thumb-slider-md-direction="horizontal">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide gallery-box">
                                    <a href="{{ product.image.url }}" data-group="lightbox-gallery" title="Relaxed corduroy shirt">
                                        <img class="w-100" src="{{ product.image.url }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 product-info">
                <h4 class="alt-font text-dark-gray fw-500 mb-5px">
                    {{ product.name }}
                </h4>
                <p>
                    {{ product.description }}
                </p>
                <div class="d-block d-sm-flex align-items-center mb-15px">
                    <div class="col-xl-12 col-lg-12">
                        {% include 'frontend/inc/sponsorship.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}