<div class="">
    <div class="container" data-anime='{ "el": "childs", "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div class="row justify-content-center mb-2">
            <div class="col-lg-6 text-center" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="fw-300 title-font text-dark-gray ls-minus-2px">Your Partnership Changes lives</h2> 
                <p>
                    Your faithful generosity allows AOF to meet the physical, emotional, and spiritual needs of many of the most vulnerable children and families in Bugesera, Rwanda. Lives are transformed, relationships are restored, and communities are changed because of your generosity.
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center position-relative z-index-1">
            <div class="col-xl-8 col-lg-12">    
                {% include 'frontend/inc/sponsorship.html' %}
            </div>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>

    var stripe = Stripe("pk_test_51NKjuZBgTqCqRQoauXI2bpGRiYg0IDl9mTAgq69X2EYcOkhzpZjv17shvRvqn0eDqGuDr4JArw9ylIwv7Z5XURwe00xg9EgQa4")
  // Create an instance of Elements.
  var elements = stripe.elements();
  
  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
  base: {
  color: '#32325d',
  fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
  fontSmoothing: 'antialiased',
  fontSize: '16px',
  '::placeholder': {
   color: '#aab7c4'
  }
  },
  invalid: {
  color: '#fa755a',
  iconColor: '#fa755a'
  }
  };
  
  // Create an instance of the card Element.
  var card = elements.create('card', {style: style});
  
  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');
  
  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
  displayError.textContent = event.error.message;
  } else {
  displayError.textContent = '';
  }
  });
  
  // Handle form submission.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
  event.preventDefault();
  stripe.createToken(card).then(function(result) {
  if (result.error) {
   // Inform the user if there was an error.
   var errorElement = document.getElementById('card-errors');
   errorElement.textContent = result.error.message;
  } else {
   // Send the token to your server.
    console.log({result})
   console.log({token: result.token.paymentMethod.id})
   stripeTokenHandler(result.token);
   
  }
  });
  stripe.createPaymentMethod({
        type: 'card',
        card: card,
      }).then(function(result) {
        if (result.error) {
          // Handle error
        } else {
          // Send PaymentMethod ID to your Django backend
          var paymentMethodId = result
          console.log({data:paymentMethodId.paymentMethod.id})
  var form = document.getElementById('payment-form');
  var hiddenpayInput = document.createElement('input');
  hiddenpayInput.setAttribute('type', 'hidden');
  hiddenpayInput.setAttribute('name', 'payment_id');
  hiddenpayInput.setAttribute('value', paymentMethodId.paymentMethod.id);
  form.appendChild(hiddenpayInput);
  
  // Submit the form
  form.submit();
        }
      });
  });
  
  
  
  
  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  
  form.appendChild(hiddenInput);
  
  
  // Submit the form
  form.submit();
  }
  
    
  </script>