<div class="">
    <div class="container" data-anime='{ "el": "childs", "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div class="row justify-content-center mb-2">
            <div class="col-lg-6 text-center" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="fw-700 alt-font text-dark-gray ls-minus-2px">Your Partnership Changes lives</h2> 
                <p>
                    Your faithful generosity allows AOF to meet the physical, emotional, and spiritual needs of many of the most vulnerable children and families in Bugesera, Rwanda. Lives are transformed, relationships are restored, and communities are changed because of your generosity.
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center position-relative z-index-1">
            <div class="col-xl-8 col-lg-12">    
                {% include 'frontend/inc/sponsorship.html' %}
            </div>
        </div>
    </div>
</div>