{% load static %}

<div class="background-repeat position-relative overflow-hidden">
    <div class="container">
        <div class="row justify-content-center mb-2">
            <div class="col-lg-6 text-center" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="fw-700 alt-font text-dark-gray ls-minus-2px">Special Project</h2> 
                <p>
                    Fund our 
                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-3" data-anime='{ "el": "childs", "translateY": [30, 0], "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col team-style-05 md-mb-20px">
                <div class="interactive-banner-style-09 border-radius-6px overflow-hidden position-relative mb-10">

                    <div class="card bg-transparent border-0 h-100">
                        <div class="blog-image position-relative overflow-hidden border-radius-4px">
                            <a href="#">
                                <img src="{% static 'frontend/images/blog/1.png' %}" alt />
                            </a>
                        </div>
                        <div class="card-body px-0 pt-30px pb-30px">
                            <a href="#" class="card-title mb-10px fw-600 fs-17 lh-26 text-dark-gray text-dark-gray-hover d-inline-block w-95">4 Creative Ways You Can Partner With Us</a>
                            <p class="mb-10px w-95">
                                This family of BAZUBAGIRA Rosalie a mother of 7 children lives in,..
                            </p>
                            <a href="#" class="card-link alt-font fs-12 text-uppercase text-dark-gray text-dark-gray-hover fw-700">
                                Fund this project
                                <i class="feather icon-feather-arrow-right icon-very-small"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div> 
        </div>
        <div class="col-12 mt-4 d-flex justify-content-center">
            <ul class="pagination pagination-style-01 fs-13 fw-500 mb-0">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="feather icon-feather-arrow-left fs-18 d-xs-none"></i>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">01</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">02</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">03</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">04</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="feather icon-feather-arrow-right fs-18 d-xs-none"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>