
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="AOF ">
    <title>AOF - {% block title %} Home {% endblock %}</title>
    <!-- favicon icon -->
    <link rel="shortcut icon" href="{% static 'frontend/images/logo/logo-black.png' %}">
    <link rel="apple-touch-icon" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'frontend/images/logo-black.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'frontend/images/logo-black.png' %}">

    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- style sheets -->
    <link rel="stylesheet" href="{% static 'frontend/css/vendors.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'frontend/css/icon.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'frontend/css/responsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'frontend/css/custom.css' %}"/>
</head>
<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-style="modern" data-mobile-nav-bg-color="#1d1d1d">
    {% include 'frontend/inc/header.html' %}
    {% block content %}

    {% endblock content %}
    {% include 'frontend/inc/footer.html' %}

    <script type="text/javascript" src="{% static 'frontend/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/vendors.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/js/main.js' %}"></script>
</body>
</html>