{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Get Involved {% endblock %}
{% block content %}

<section class="pt-3 pb-0 md-pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 text-center position-relative page-title-double-large">
                <div class="d-flex flex-column justify-content-center extra-very-small-screen">
                    <h1 class="text-dark-gray title-font fs-50 ls-minus-1px fw-300">Get Involved</h1>
                    <p>
                        Donate. Pray. Join us. Share the story.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-9 md-mb-50px">
                <figure class="position-relative m-0 border-radius-5px overflow-hidden" data-anime='{ "effect": "slide", "direction": "lr", "color": "#010101", "duration": 1000, "delay": 0 }'>
                    <img src="{% static 'frontend/images/pray.jpg' %}" alt="" class="w-100">
                </figure>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-9" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <h2 class="alt-font fw-600 text-dark-gray ls-minus-2px">Pray With us.</h2>
                <p class="w-90 lg-w-100 md-mx-auto mb-35px">
                    We truly believe that prayer is what fuels Africa Oasis Foundation and that is one way everyone can be involved in our mission.​
                </p>
                <a href="{% url 'frontend:prayWithUs' %}" class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-black btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto text-white">
                    Learn more
                    <span class="bg-white text-black">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="p-0 bg-dark-gray">
    <div class="container-fluid p-0"> 
        <div class="row justify-content-center g-0">
            <div class="col-lg-6 md-h-550px sm-h-400px">
                <div class="h-100 cover-background" style="background-image: url({% static 'frontend/images/heart.jpg' %})" data-anime='{ "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'></div>
            </div>
            <div class="col-lg-6 ps-8 pe-7 pt-6 pb-6 lg-p-6 sm-p-10" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'> 
                <h2 class="alt-font fw-500 text-white ls-minus-2px w-80 xl-w-100 mb-25px">Donate.</h2> 
                <p class="w-65 xl-w-85 lg-w-100 mb-30px text-white">
                    Your partnership in ministry allows us to make disciples of Jesus through authentic relationships, excellent education, and strengthened communities. Make an impact that outlives you.
                </p>
                <a href="{% url 'frontend:donate' %}" class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto text-black">
                    Learn more
                    <span class="bg-black text-white">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="d-flex flex-column h-100 cover-background p-7 border-radius-6px sm-h-500px" style="background-image: url({% static 'frontend/images/our-story-bg.png' %})">
                    <div class="opacity-light bg-gradient-regal-blue-transparent flex-grow-1"></div>
                    <div class="bg-white box-shadow-quadruple-large border-radius-4px w-100 overflow-hidden z-index-1 mt-auto">
                        <div class="p-40px lg-p-30px last-paragraph-no-margin">
                            <span class="fs-24 ls-minus-05px alt-font text-dark-gray fw-700 mb-10px d-block">Share the Story</span>
                            <p class="w-100 lg-w-100">
                                We would love for you to share our story – and your story.
                            </p>
                        </div>
                        <div class="bg-dark-gray p-15px text-center">
                            <a href="{% url 'frontend:history' %}" class="text-white text-white-hover fw-500"><i class="fa-solid fa-arrow-right me-10px"></i>Learn more about us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="d-flex flex-column h-100 cover-background p-7 border-radius-6px sm-h-500px" style="background-image: url({% static 'frontend/images/faq-bg.jpg' %})">
                    <div class="opacity-light bg-gradient-regal-blue-transparent flex-grow-1"></div>
                    <div class="bg-white box-shadow-quadruple-large border-radius-4px w-100 overflow-hidden z-index-1 mt-auto">
                        <div class="p-40px lg-p-30px last-paragraph-no-margin">
                            <span class="fs-24 ls-minus-05px alt-font text-dark-gray fw-700 mb-10px d-block">FAQs</span>
                            <p class="w-100 lg-w-100">
                                We hope our website can answer all your questions.
                            </p>
                        </div>
                        <div class="bg-dark-gray p-15px text-center">
                            <a href="{% url 'frontend:faq' %}" class="text-white text-white-hover fw-500"><i class="fa-solid fa-arrow-right me-10px"></i>Review our faqs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="d-flex flex-column h-100 cover-background p-7 border-radius-6px sm-h-500px" style="background-image: url({% static 'frontend/images/about-rwanda/img-1.jpg' %})">
                    <div class="opacity-light bg-gradient-regal-blue-transparent flex-grow-1"></div>
                    <div class="bg-white box-shadow-quadruple-large border-radius-4px w-100 overflow-hidden z-index-1 mt-auto">
                        <div class="p-40px lg-p-30px last-paragraph-no-margin">
                            <span class="fs-24 ls-minus-05px alt-font text-dark-gray fw-700 mb-10px d-block">Visit Us</span>
                            <p class="w-100 lg-w-100">
                                Get a glimpse of the work we have the privilege to be a part of.
                            </p>
                        </div>
                        <div class="bg-dark-gray p-15px text-center">
                            <a href="{% url 'frontend:visitUs' %}" class="text-white text-white-hover fw-500"><i class="fa-solid fa-arrow-right me-10px"></i>Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="d-flex flex-column h-100 cover-background p-7 border-radius-6px sm-h-500px" style="background-image: url({% static 'frontend/images/heart.jpg' %})">
                    <div class="opacity-light bg-gradient-regal-blue-transparent flex-grow-1"></div>
                    <div class="bg-white box-shadow-quadruple-large border-radius-4px w-100 overflow-hidden z-index-1 mt-auto">
                        <div class="p-40px lg-p-30px last-paragraph-no-margin">
                            <span class="fs-24 ls-minus-05px alt-font text-dark-gray fw-700 mb-10px d-block">Volunteer Opportunities</span>
                            <p class="w-100 lg-w-100">
                                Volunteers are crucial to AOF. When you volunteer with us, you help make transformation possible and bring hope to families and communities throughout Rwanda.
                            </p>
                        </div>
                        <div class="bg-dark-gray p-15px text-center">
                            <a href="{% url 'frontend:volunteers' %}" class="text-white text-white-hover fw-500"><i class="fa-solid fa-arrow-right me-10px"></i>Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="d-flex flex-column h-100 cover-background p-7 border-radius-6px sm-h-500px" style="background-image: url({% static 'frontend/images/blog/1.png' %})">
                    <div class="opacity-light bg-gradient-regal-blue-transparent flex-grow-1"></div>
                    <div class="bg-white box-shadow-quadruple-large border-radius-4px w-100 overflow-hidden z-index-1 mt-auto">
                        <div class="p-40px lg-p-30px last-paragraph-no-margin">
                            <span class="fs-24 ls-minus-05px alt-font text-dark-gray fw-700 mb-10px d-block">Start a Compaign</span>
                            <p class="w-100 lg-w-100">
                                You can start your own fundraiser for a program of your choice at Africa New Life.
                            </p>
                        </div>
                        <div class="bg-dark-gray p-15px text-center">
                            <a href="{% url 'frontend:campaigns' %}" class="text-white text-white-hover fw-500"><i class="fa-solid fa-arrow-right me-10px"></i>Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}