{% extends 'backend/layouts/app.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row"> 
        <div class="col-sm-12"> 
            <div class="card"> 
                <div class="card-body">
                    <div class="list-product-header">
                        <div class="d-flex justify-content-between">
                            <h4>Fundraising</h4>
                        </div>
                    </div>
                    <div class="list-product">
                        <table class="table" id="project-status">
                            <thead> 
                                <tr> 
                                <th>
                                    <div class="form-check"> 
                                        <input class="form-check-input checkbox-primary" type="checkbox">
                                    </div>
                                </th>
                                <th> <span class="f-light f-w-600">Campaign</span></th>
                                <th> <span class="f-light f-w-600">Name</span></th>
                                <th> <span class="f-light f-w-600">Email</span></th>
                                <th> <span class="f-light f-w-600">Date</span></th>
                                <th> <span class="f-light f-w-600">Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for fund in fundraising %}
                                    <tr class="product-removes">
                                        <td>
                                            <div class="form-check"> 
                                                <input class="form-check-input checkbox-primary" type="checkbox">
                                            </div>
                                        </td>
                                        <td> 
                                            
                                            <p>{{ fund.name }}</p>
                                        </td>
                                        <td> 
                                            
                                            <p>{{ fund.campaign.title }}</p>
                                        </td>
                                        <td> 
                                            
                                            <p>{{ fund.email }}</p>
                                        </td>
                                        <td> 
                                            
                                            <p>{{ fund.date }}</p>
                                        </td>
                                        <td> 
                                            <div class="product-action">
                                                <form method="post" action="#" style="display: inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-link p-0 m-0 align-baseline" onclick="return confirm('Are you sure you want to delete this data ({{ fund.name }})?');">
                                                        <svg>
                                                            <use href="{% static 'backend/svg/icon-sprite.svg#trash1' %}"></use>
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}