{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Projects {% endblock %}
{% block content %}

<section class="pb-0 ipad-top-space-margin md-pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 text-center position-relative page-title-double-large">
                <div class="d-flex flex-column justify-content-center extra-very-small-screen">
                    <h1 class="text-dark-gray title-font ls-minus-1px fw-300">Projects</h1>
                    <p>
                        Help child reach potential
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-position-left-top position-relative" style="background-image: url({% static 'frontend/images/bg-02.jpg' %})">
    <div class="position-absolute left-0px top-minus-50px lg-top-minus-40px md-top-minus-25px sm-top-minus-20px xs-top-minus-15px background-position-left-top w-100 h-100px lg-h-60px md-h-50px background-size-100 background-no-repeat" style="background-image: url({% static 'frontend/images/bg-03.jpg' %})"></div>
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center mb-5 sm-mb-35px" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 200, "easing": "easeOutQuad" }'>
            {% for project in projects %}
                <div class="col md-mb-30px">
                    <!-- start services box style --> 
                    <div class="box-shadow-quadruple-large box-shadow-quadruple-large-hover services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                        <div class="position-relative">
                            <a href="{% url 'frontend:viewProject' project.slug %}">
                                <img src="{{ project.image.url }}" alt="{{ project.title }}">
                            </a>
                        </div>
                        <div class="bg-white">
                            <div class="ps-50px pe-50px pt-20px pb-30px xl-ps-20px xl-pe-20px text-center progress-bar-style-01">
                                <a href="{% url 'frontend:viewProject' project.slug %}" class="d-inline-block fs-20 fw-500 text-dark-gray text-dark-gray-hover mb-5px ls-minus-05px">{{ project.title }}</a>
                                <p>
                                    {{ project.description|safe|truncatechars:10 }}
                                </p>
                                <!-- start progress bar item -->
                                <div class="progress mt-50px mb-15px bg-zircon-grey"> 
                                    <div class="progress-bar bg-dark-gray" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-label="child-issue-one">
                                        <span class="progress-bar-percent text-center bg-dark-gray fs-11 lh-12 fw-500 text-white">0%</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-start">
                                        <div class="fs-15 lh-normal"><span class="fw-500 text-dark-gray d-block d-xl-inline-block">Goal:</span> ${{ project.target }}</div>
                                    </div>
                                    <div class="col-6 text-end">
                                        <div class="fs-15 lh-normal"><span class="fw-500 text-dark-gray d-block d-xl-inline-block">Raised:</span> $0</div>
                                    </div>
                                </div>
                                <!-- end progress bar item -->
                            </div> 
                            <div class="border-top border-color-extra-medium-gray pt-15px pb-20px text-center">
                                <a href="{% url 'frontend:viewProject' project.slug %}" class="btn btn-link btn-hover-animation-switch btn-large text-dark-gray">
                                    <span>
                                        <span class="btn-text">Explore more</span>
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    </span> 
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end services box style -->
                </div>
            {% empty %}
                <div class="text-center">
                    <span class="text-black">
                        No projects available!!!
                    </span>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <ul class="pagination pagination-style-01 fs-13 fw-500 mb-0">
                    {% if projects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ projects.previous_page_number }}">
                                <i class="feather icon-feather-arrow-left fs-18 d-xs-none"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in projects.paginator.page_range %}
                        {% if projects.number == num %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if projects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ projects.next_page_number }}">
                                <i class="feather icon-feather-arrow-right fs-18 d-xs-none"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}