{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} About Rwanda {% endblock %}
{% block content %}

<section class="pb-0 ipad-top-space-margin md-pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 text-center position-relative page-title-double-large">
                <div class="d-flex flex-column justify-content-center extra-very-small-screen">
                    <h1 class="text-dark-gray alt-font ls-minus-1px fw-700">
                        About Rwanda
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}