{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} About Rwanda {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/revolution/css/navigation.css' %}">
{% endblock %}
{% block content %}

{% include 'frontend/inc/about-rwanda-slider.html' %}

<section class="big-section" style="background-image: url({% static 'frontend/images/about-rwanda/imigongo-bg.jpg' %})">
    <h1 class="text-dark-gray text-center title-font ls-minus-1px fs-50 fw-300 mb-20px mb-5">Culture & History</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center md-mb-50px" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <img src="{% static 'frontend/images/about-rwanda/img-1.jpg' %}" class="animation-float" alt="">
            </div>
            <div class="col-lg-2 divider-style-02 d-none d-lg-block ">
                <div class="divider-dot d-flex align-items-center w-100 h-100"><span class="bg-base-color border border-color-extra-medium-gray rounded-circle"></span></div>
            </div>
            <div class="col-lg-5 text-center text-lg-start" data-anime='{ "el": "childs", "willchange": "transform", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'>
                <h2 class="alt-font text-dark-gray fs-20 fw-600 ls-minus-1px mb-1">Pre-Colonial</h2>
                <p class="w-100 text-dark-gray">
                    Pre-colonial Rwanda was a highly centralized Kingdom presided over by Tutsi kings who hailed from one ruling clan. The king ruled through three categories of chiefs: cattle chiefs; land chiefs; and military chiefs. The chiefs were predominantly, but not exclusively, Batutsi, especially the cattle and military chiefs. While the relationship between the king and the rest of the population was unequal, the relationship between the ordinary Bahutu, Batutsi and Batwa was one of mutual benefit mainly through the exchange of their labour. The relationship was symbiotic. A clientele system called "Ubuhake" permeated the whole society.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center text-lg-start" data-anime='{ "el": "childs", "willchange": "transform", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'>
                <h2 class="text-dark-gray fs-20 fw-600 ls-minus-1px mb-1">
                    Colonial
                </h2>
                <p class="text-dark-gray">
                    In 1899 Rwanda became a German colony. After the defeat of the Germans during WW1, subsequently in 1919 Rwanda became a mandate territory of the League of Nations under the administration of Belgium. The Germans and the Belgians administered Rwanda through a system of indirect rule. During this colonial era, a cash crop economy was introduced in Rwanda, and this was administered through harsh methods that further alienated the King and his chiefs from the rest of the population.
                </p>
                <p class="text-dark-gray">
                    In 1935 the Belgian colonial administration introduced a discriminatory national identification on the basis of ethnicity. Banyarwanda who possessed ten or more cows were registered as Batutsi whereas those with less were registered as Bahutu. At first, the Belgian authorities, for political and practical reasons, favored the King and his chiefs, who were mostly a Batutsi ruling elite. When the demand for independence began, mainly by a political party - Union Nationale Rwandaise (UNAR) - formed by people from the aforementioned ruling elite, the Belgian authorities hastily nurtured another party called PARMEHUTU that was founded on a sectarian ethnic ideology. Under the Belgian supervision, the first massacres of Batutsi at the hands of the PARMEHUTU occurred in 1959. With Belgian connivance, PARMEHUTU abolished the monarchy amidst widespread violence. On 1st July 1962 Belgium granted formal political independence to Rwanda.
                </p>
            </div>
            <div class="col-lg-2 divider-style-02 d-none d-lg-block ">
                <div class="divider-dot d-flex align-items-center w-100 h-100"><span class="bg-base-color border border-color-extra-medium-gray rounded-circle"></span></div>
            </div>
            <div class="col-lg-5 text-center md-mb-50px" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <img src="{% static 'frontend/images/about-rwanda/img-2.jpg' %}" class="animation-float mb-20" alt="">
                <img src="{% static 'frontend/images/about-rwanda/img-3.jpg' %}" class="animation-float" alt="">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center md-mb-50px" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <img src="{% static 'frontend/images/about-rwanda/img-4.jpg' %}" class="animation-float mb-10" alt="">
                <img src="{% static 'frontend/images/about-rwanda/img-5.jpg' %}" class="animation-float mb-10" alt="">
                <img src="{% static 'frontend/images/about-rwanda/img-6.jpg' %}" class="animation-float mb-10" alt="">
            </div>
            <div class="col-lg-2 divider-style-02 d-none d-lg-block ">
                <div class="divider-dot d-flex align-items-center w-100 h-100"><span class="bg-base-color border border-color-extra-medium-gray rounded-circle"></span></div>
            </div>
            <div class="col-lg-5 text-center text-lg-start" data-anime='{ "el": "childs", "willchange": "transform", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'>
                <h2 class="alt-font text-dark-gray fs-20 fw-600 ls-minus-1px mb-1">Genocide</h2>
                <p class="text-dark-gray">
                    The first massacres in Rwanda took place in 1959. Thereafter, almost in a regular manner, killings of the Batutsi became a common practice. In the 1960s, 1970s, 1980s and early 1990s massacres of Batutsi were common. Between April and July 1994, over 1 million Rwandese people, mainly Batutsi and some Bahutu opposition were killed by the genocidal regime. Many people were involved in the killings. Those who planned and organised the genocide include the late President, Major General Juvenal Habyarimana, top government officials, including members of the so-called Provisional Government, the Presidential Guard, the National Gendarmerie, the Rwanda Armed Forces (FAR), the MRND-CDR militia (Interahamwe), local officials, and many Bahutu in the general population.
                </p>
                <p class="text-dark-gray">
                    Preparation to carry out genocide by these groups involved the training of the militia, the arming of both the militia and some sections of the population, the establishment and widespread use of a hate radio called Radio Television Libre De Mille Collines (RTLM), and the distribution of lists of those targeted from elimination. Repeatedly, these groups prevented the establishment of the Arusha Peace Accords.
                </p>
                <p class="text-dark-gray">
                    When the genocide began, the United Nations had a peacekeeping force - the United Nations Assistance Mission for Rwanda (UNAMIR) - in Rwanda of about 2500 troops. The first reaction of the United Nations, and indeed of other nations that had their own nationals in Rwanda, was to withdraw their troops and their nationals respectively. Under the circumstances the RPF had to fight again in order to stop the genocide.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center text-lg-start" data-anime='{ "el": "childs", "willchange": "transform", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'>
                <h2 class="text-dark-gray fs-20 fw-600 ls-minus-1px mb-1">
                    The fall of the Genocide regime
                </h2>
                <p class="text-dark-gray">
                    On 4th July 1994, the capital city of Rwanda, Kigali, fell to the forces of the Rwandese Patriotic Army (RPA), the armed wing of the RPF.
                </p>
                <p class="text-dark-gray">
                    The members of the so-called Provisional Government, the armed groups, and many people who were involved in genocide, fled mainly to the DRC and Tanzania. Over three million refugees fled to Tanzania and the DRC.
                </p>
                <p class="text-dark-gray">
                    On 19th July, 1994, the RPF established the Government of National Unity with four other political parties - the Liberal Party (PL), the Social Democratic Party (PSD), the Christian Democratic Party (PDC), and the Republican Democratic Movement (MDR). Weeks later a 70-member Transitional National Assembly was formed consisting of representatives of the RPF, the four other original parties plus three other smaller parties, namely, the Islamic Party (PDI), the Socialist Party (PSR), and the Democratic Union for Rwandese People (UDPR), as well as six representatives of the Rwandese Patriotic Army (RPA).
                </p>
            </div>
            <div class="col-lg-2 divider-style-02 d-none d-lg-block ">
                <div class="divider-dot d-flex align-items-center w-100 h-100"><span class="bg-base-color border border-color-extra-medium-gray rounded-circle"></span></div>
            </div>
            <div class="col-lg-5 text-center md-mb-50px" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <img src="{% static 'frontend/images/about-rwanda/img-7.jpg' %}" class="animation-float mb-10" alt="">
                <img src="{% static 'frontend/images/about-rwanda/img-8.jpg' %}" class="animation-float" alt="">
            </div>
        </div>
    </div>
</section>

<section class="bg-dark-gray background-position-center-top overflow-hidden" style="background-image: url('images/demo-architecture-dotted-pattern.svg')">
    <div class="container">
        <div class="row align-items-center mb-6 sm-mb-9 text-center text-lg-start">
            <div class="col-lg-12 md-mb-20px text-center">
                <h3 class="title-font text-white fs-50 fw-300 mb-3 ls-minus-1px">
                    Rwanda Today
                </h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "scale":[0.9,1], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
            <!-- start interactive banner item -->
            <div class="col interactive-banner-style-03 transition-inner-all md-mb-30px mb-3">
                <div class="position-relative overflow-hidden border-radius-6px last-paragraph-no-margin">
                    <figure class="m-0">
                        <div class="bg-gradient-gray-light-dark-transparent position-absolute top-0px left-0px w-100 h-100 z-index-1"></div>
                        <img src="{% static 'frontend/images/about-rwanda/img-9.jpg' %}" alt="" />
                        <figcaption class="d-flex flex-column w-100 h-100 p-60px lg-p-35px z-index-1">
                            <span class="align-self-start fs-15 fw-500 ls-1px text-uppercase text-white">
                                Rwanda Rising
                            </span>
                            <span class="mb-auto fs-14 text-white text-white-hover w-90 lg-w-100">
                                Rwanda's future is promising and bright. The country boasts one of the fastest-growing economies in Africa, with a real growth rate of 8.6% in 2018. Approximately 75% of the labor force is employed in agriculture, which contributes nearly 31% to the national GDP.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end interactive banner item -->
            <!-- start interactive banner item -->
            <div class="col interactive-banner-style-03 transition-inner-all md-mb-30px mb-3">
                <div class="position-relative overflow-hidden border-radius-6px last-paragraph-no-margin">
                    <figure class="m-0">
                        <div class="bg-gradient-gray-light-dark-transparent position-absolute top-0px left-0px w-100 h-100 z-index-1"></div>
                        <img src="{% static 'frontend/images/about-rwanda/img-10.jpg' %}" alt="" />
                        <figcaption class="d-flex flex-column w-100 h-100 p-60px lg-p-35px z-index-1">
                            <span class="align-self-start fs-15 fw-500 ls-1px text-uppercase text-white">
                                Rwanda's Progress
                            </span>
                            <span class="mb-auto fs-14 text-white text-white-hover w-90 lg-w-100">
                                Over decades, Rwanda advanced economically and improved education. The 2003 constitution mandates 30% women in parliament, now at 61%. Joining the Commonwealth in 2009, Rwanda promotes unity and fights hate crimes.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end interactive banner item -->
            <!-- start interactive banner item -->
            <div class="col interactive-banner-style-03 transition-inner-all md-mb-30px mb-3">
                <div class="position-relative overflow-hidden border-radius-6px last-paragraph-no-margin">
                    <figure class="m-0">
                        <div class="bg-gradient-gray-light-dark-transparent position-absolute top-0px left-0px w-100 h-100 z-index-1"></div>
                        <img src="{% static 'frontend/images/about-rwanda/img-11.jpg' %}" alt="" />
                        <figcaption class="d-flex flex-column w-100 h-100 p-60px lg-p-35px z-index-1">
                            <span class="align-self-start fs-15 fw-500 ls-1px text-uppercase text-white">
                                Rwandan Resilience
                            </span>
                            <span class="mb-auto fs-14 text-white text-white-hover w-90 lg-w-100">
                                Rwandans are compassionate, creative, and dedicated to Christ's love. Africa New Life highlights Rwanda's resilience and grace. Despite past violence, Rwanda is now safe, honoring victims and educating to prevent future violence.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'frontend/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script type="text/javascript">
        /* https://learn.jquery.com/using-jquery-core/document-ready/ */
        jQuery(document).ready(function () {

            let windowHeight = $(window).outerHeight();
            $(window).resize(function() {
                windowHeight = $(window).outerHeight();
            })

            /* initialize the slider based on the Slider's ID attribute from the wrapper above */
            jQuery('#about-rwanda-slider').show().revolution({
                sliderType: "standard",
                /* options are 'auto', 'fullwidth' or 'fullscreen' */
                sliderLayout: 'fullscreen',
                /* sets the Slider's default timeline */
                delay: 9000,
                /* options that disable autoplay */
                stopLoop: "off",
                stopAfterLoops: 0,
                stopAtSlide: 1,
                navigation: {
                    keyboardNavigation: "on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    mouseScrollReverse: "default",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        touchOnDesktop: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: true
                    },
                    arrows: {

                        enable: true,
                        style: 'uranus',
                        rtl: false,
                        hide_onleave: false,
                        hide_onmobile: true,
                        hide_under: 0,
                        hide_over: 778,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        left: {
                            container: 'slider',
                            h_align: 'left',
                            v_align: 'center',
                            h_offset: 10,
                            v_offset: 10
                        },
                        right: {
                            container: 'slider',
                            h_align: 'right',
                            v_align: 'center',
                            h_offset: 10,
                            v_offset: 10
                        }

                    }

                },

                responsiveLevels: [1240, 1024, 778, 480],
                /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
                gridwidth: [1190, 1024, 778, 480],
                /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
                gridheight: [900, 920, 700, 650],
                /* Lazy Load options are "all", "smart", "single" and "none" */
                lazyType: "smart",
                spinner: "spinner0",
                parallax: {
                    type: "mouse+scroll",
                    origo: "enterpoint",
                    speed: 400,
                    speedbg: 1500,
                    speedls: 1000,
                    levels: [5, 10, 15, 20, 25, 30, 35, 40, 60, 46, -10, -15, -20, -25, -30, 55],
                }
                ,
                shadow: 0,
                shuffle: "off",
                autoHeight: "on",
                fullScreenAutoWidth: "on",
                fullScreenAlignForce: "on",
                fullScreenOffsetContainer: "",
                fullScreenOffset: "1px",
                disableProgressBar: "on",
                hideThumbsOnMobile: "on",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            }
            );
        });
    </script>
{% endblock %}