{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Checkout {% endblock %}
{% block content %}

<section class="page-title-center-alignment cover-background top-space-padding" style="background-image: url({% static 'frontend/images/demo-decor-store-title-bg.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center position-relative page-title-extra-large">
                <h1 class="title-font d-inline-block fw-300 ls-minus-05px text-dark-gray mb-10px mt-3 md-mt-50px">Checkout</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-7 pe-50px md-pe-15px md-mb-50px xs-mb-35px">
                <span class="fs-26 alt-font fw-600 text-dark-gray mb-20px d-block">Billing details</span>
                <form class="">
                    <div class="row">
                        <div class="col-md-6 mb-20px">
                            <label class="mb-10px">First name</label>
                            <input class="border-radius-4px input-small" type="text" aria-label="text" required>
                        </div>
                        <div class="col-md-6 mb-20px">
                            <label class="mb-10px">Last name</label>
                            <input class="border-radius-4px input-small" type="text" aria-label="text" required>
                        </div>
                        <div class="col-md-6 mb-20px">
                            <label class="mb-10px">Email</label>
                            <input class="border-radius-4px input-small" type="email" aria-label="text">
                        </div>
                        <div class="col-md-6 mb-20px">
                            <label class="mb-10px">Phone Number</label>
                            <input class="border-radius-4px input-small" type="number" aria-label="text">
                        </div>
                        <div class="col-md-6 mb-20px">
                            <label class="mb-10px">Town / City</label>
                            <input class="border-radius-4px input-small" type="text" required>
                        </div>
                        <div class="col-md-6 mb-20px">
                            <label class="mb-10px" for="state1">State</label>
                            <input class="border-radius-4px input-small" type="text" required>
                        </div>
                        <div class="col-12 mb-20px">
                            <label class="mb-10px">Street address</label>
                            <input class="border-radius-4px input-small mb-20px" type="text" placeholder="Street Address 1">
                            <input class="border-radius-4px input-small" type="text" placeholder="Street Address 2">
                        </div>
                        <div class="col-12 mb-20px">
                            <label class="mb-10px">ZIP</label>
                            <input class="border-radius-4px input-small" type="text" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
                <div class="bg-very-light-gray border-radius-6px p-50px lg-p-25px your-order-box">
                    <span class="fs-26 alt-font fw-600 text-dark-gray mb-5px d-block">Your order</span>
                    <table class="w-100 total-price-table your-order-table">
                        <tbody>
                            <tr>
                                <th class="w-60 lg-w-55 xs-w-50 fw-600 text-dark-gray alt-font">Project</th>
                                <td class="fw-600 text-dark-gray alt-font">Donation</td>
                            </tr>
                            {% for item in cart %}
                                <tr class="product">
                                    <td class="product-thumbnail">
                                        <a href="#" class="text-dark-gray fw-500 d-block lh-initial">{{ item.title }} x 1</a>
                                    </td>
                                    <td class="product-price" data-title="Price">${{ item.amount }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="total-amount">
                                <th class="fw-600 text-dark-gray alt-font">Total</th>
                                <td data-title="Total">
                                    <h6 class="d-block fw-700 mb-0 text-dark-gray alt-font">${{ total_amount }}</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="p-40px lg-p-25px bg-white border-radius-6px box-shadow-large mt-10px mb-30px sm-mb-25px checkout-accordion">
                        <div class="w-100" id="accordion-style-05">
                            <!-- start tab content -->
                            <div class="heading active-accordion">
                                <label class="mb-5px">
                                    <input class="d-inline w-auto me-5px mb-0 p-0" type="radio" name="payment-option">
                                    <span class="d-inline-block text-dark-gray fw-500">Stripe</span>
                                    <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion-style-05" href="#style-5-collapse-2"></a>
                                </label>
                            </div>
                            <div id="style-5-collapse-2" class="collapse" data-bs-parent="#accordion-style-05">
                                <div class="p-25px bg-very-light-gray mt-20px mb-20px fs-14 lh-24">
                                    Pay with stripe
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div class="heading active-accordion">
                                <label class="mb-5px">
                                    <input class="d-inline w-auto me-5px mb-0 p-0" type="radio" name="payment-option">
                                    <span class="d-inline-block text-dark-gray fw-500">PayPal <img src="images/paypal-logo.jpg" class="w-120px ms-10px" alt=""/></span> 
                                    <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion-style-05" href="#style-5-collapse-4"></a>
                                </label>
                            </div>
                            <div id="style-5-collapse-4" class="collapse" data-bs-parent="#accordion-style-05">
                                <div class="p-25px bg-very-light-gray mt-20px fs-14 lh-24">
                                    Pay with paypal
                                </div>
                            </div>
                            <!-- end tab content -->
                        </div> 
                    </div>
                    <a href="#" class="btn btn-dark-gray btn-extra-large btn-switch-text btn-round-edge btn-box-shadow w-100 text-transform-none mt-30px">
                        <span>
                            <span class="btn-double-text" data-text="Process Gift">Process Gift</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}