{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} FAQs {% endblock %}
{% block content %}

<section class="pb-0 ipad-top-space-margin md-pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 text-center position-relative page-title-double-large">
                <div class="d-flex flex-column justify-content-center extra-very-small-screen">
                    <h1 class="text-dark-gray title-font ls-minus-1px fw-700">
                        Frequent asked questions
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-0 position-relative">
    <div class="container">
        <div class="row align-items-center" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-12">
                <div class="bg-linen p-9 md-p-7 border-radius-6px overflow-hidden position-relative">
                    <div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus">
                        <div class="accordion-item active-accordion">
                            <div class="accordion-header border-bottom border-color-extra-medium-gray pt-0">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01" aria-expanded="true" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-minus"></i>
                                        <span class="fw-500 fs-18">Are there other ways I can help my child?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                    <p>
                                        Absolutely! We consistently have unique initiatives underway that would greatly benefit from additional support. We invite you to explore our website to discover how you can participate. Thank you in advance for your willingness to contribute to the remarkable endeavors at Africa Oasis Foundation.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i>
                                        <span class="fw-500 fs-17">What happens when my child graduates?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                    <p>
                                        We aspire for the unique bond between you and your child to endure long after their journey with Africa Oasis Foundation has concluded. Upon your child's graduation, we will help facilitate a connection so that you may continue to stay in contact through your own arrangements.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-light-medium-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i>
                                        <span class="fw-500 fs-17">What happens if my situation changes and I am unable to continue my sponsorship?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                    We recognize that life can be unpredictable, and while we greatly value your ongoing support, there may be times when sponsors need to pause their commitment due to personal situations. To ensure that our children's experience remains uninterrupted, we kindly request that you provide us with a 60-day advance notice. This allows us ample time to find a new sponsor for your child.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-light-medium-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-04" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i>
                                        <span class="fw-500 fs-17">Will I have access to my child’s family?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-04" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                    <p>
                                        Rest assured that the leaders and team members of our Foundation maintain strong bonds with the families of our students and are deeply engaged in their children's education. Nonetheless, we advise against initiating personal communication with the students' parents, out of respect for cultural sensitivities and to maintain equitable treatment among all families participating in our program. Should you decide to visit the Africa Oasis Foundation and meet your sponsored child, we can facilitate a home visit for you.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-light-medium-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-05" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-500 fs-17">
                                            Can I visit my child?
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-05" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                    <p>
                                        Yes! We absolutely encourage you to visit our school and meet your child.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-06" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-500 fs-17">Can I send extra gifts to my child?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-06" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>
                                        We are convinced that providing our students with a superior education rooted in Christian values is the most profound gift they could receive. Moreover, you will be given the chance to contribute a specified sum every Christmas, which will be utilized to buy a present for your student on your behalf.

                                        There is also a provision for the purchase of gifts for students who have not yet been sponsored. As we strive to ensure equal educational experiences for all our children, we advise against sending extra presents to our students.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-07" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-500 fs-17">What is the expectation of my investment and my involvement?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-07" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>
                                        Our program aims to cultivate Rwandan Christian leaders and entrepreneurs who will shape the world. Recognizing the significance of our mission, we trust in God's faithfulness and provision. As a sponsor, we hope you embrace the vital role of nurturing a student's growth, bolstering their educational and personal development, and enriching their lives with correspondence and prayers.

                                        We aspire for a deep, enduring bond to form between you and your student, one that flourishes well past the completion of our program.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-08" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-500 fs-17">Will I have contact with my child?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-08" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>
                                        As a benefactor of the Africa Oasis Foundation, you have the opportunity to send words of support and motivation to your sponsored child up to three times annually. Our students eagerly anticipate these heartfelt messages from their sponsors. The knowledge that someone across the globe cares for them and believes in their potential greatly influences their achievements.

                                        Through our dedicated sponsor portal, you can compose and send letters filled with affection and inspiration to your child. They will receive and read your letters at school and respond in kind. Our team in the US will collect these replies and ensure they are sent to you. We organize a letter-writing event each term, providing you with the chance to correspond with your child up to three times a year. Additionally, we will keep you updated on their accomplishments and notable happenings at the school.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-09" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-500 fs-17">Are the parents involved in their child’s education?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-09" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>
                                        Indeed, they are committed! We hold the conviction that parents who are actively engaged and contribute to their child’s educational journey tend to be more invested in their long-term academic and personal success. This commitment from our parents is evident as they either contribute towards their child's tuition or engage in our Earning and Learning Program to assist in meeting these expenses.

                                        The investment from most families is substantial, yet they recognize the value and long-term benefits associated with the high-quality education provided by the Africa Oasis Foundation. Additionally, parents are encouraged to be a part of worship assemblies, engage in parental meetings, and acquire vocational skills, further fostering a supportive community environment.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-10" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-500 fs-17">Does Africa Oasis Foundation Have an Orphanage In Rwamda ?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-10" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>
                                        Africa Oasis Foundation does not operate an orphanage. Instead, our mission centers
                                        on supporting families to avert the risk of children ending up as orphans. Many times,
                                        due to an inability to meet their basic needs, parents or guardians feel compelled to
                                        place their children in orphanages. Through your partnership, the significant
                                        responsibilities of covering education fees, providing daily meals, and ensuring medical
                                        care are lifted from the shoulders of parents and guardians. This support helps keep
                                        families together.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-11" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-500 fs-17">Can I visit Africa Oasis Foundation In Rwanda</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-11" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>
                                        Absolutely! The Africa Oasis Foundation warmly welcomes visitors every day between
                                        1:00 and 4:30 PM. Should you wish to pay us a visit in Rwanda, kindly fill out the visit
                                        request form. Following your submission, a member of the Africa Oasis Foundation
                                        team will be in touch. We're deeply appreciative of your interest in the Africa Oasis
                                        Foundation and eagerly anticipate your visit to Rwanda!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-12" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-500 fs-17">Can I write a letter to the children that African Oasis Foundation Serves ?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-12" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>
                                        Certainly. Children in Rwanda are always thrilled to receive letters from people
                                        in Western countries. These children enjoy learning about your daily life, how
                                        you came to know about Africa Oasis Foundation, and your prayers for them as
                                        well as for those in our outreach programs. Please send your letters to our
                                        office in the United States at:
                                        Africa Oasis Foundation 9717 e Thunderhawk Rd Scottsdale , Az 85255
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-13" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-500 fs-17">Is Africa Oasis Foundation?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-13" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>
                                        Yes. Africa Oasis Foundation is a 501(c)(3) nonprofit organization, and your donation is tax-deductible to the fullest extent the law allows.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-14" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-500 fs-17">I have More Questions about Africa Oasis Foundation. How do I get those Answered?</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-14" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>
                                        If you have any more questions regarding the Africa Oasis Foundation, please feel free
                                        to send us an email at info@africanoasis.org. We will get back to you at the earliest
                                        opportunity.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section> 

{% endblock %}