{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Our History {% endblock %}
{% block content %}

    <section class="cover-background page-title-big-typography ipad-top-space-margin">
        <div class="container">
            <div class="row align-items-center align-items-lg-end justify-content-center extra-very-small-screen g-0">
                <div class="col-xxl-5 col-xl-6 col-lg-7 position-relative page-title-extra-small md-mb-30px md-mt-auto" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="mb-10px">
                        <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                        <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Our Story</span>
                    </div>
                    <h2 class="alt-font text-dark-gray fw-500 mb-0 ls-minus-1px shadow-none" data-shadow-animation="true" data-animation-delay="700">
                        The Story of 
                        <span class="fw-700 text-highlight d-inline-block">
                            Africa Oasis<span class="bg-base-color h-10px bottom-3px opacity-3 separator-animation"></span>
                        </span>
                        Foundation.
                    </h2>
                </div>
                <div class="col-lg-5 offset-xxl-2 offset-xl-1 border-start border-2 border-color-base-color ps-40px sm-ps-25px md-mb-auto">
                    <span class="d-block w-100 lg-w-100" data-anime='{ "el": "lines", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        The Africa Oasis Foundation, established in Rwanda, is dedicated to making disciples of Jesus through education, community development, and authentic relationships. Guided by the inspirational story of missionary Julie and her commitment to humanitarian work, the foundation provides a safe haven for learning and growth.
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="overflow-hidden p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0 position-relative">
                    <img src="{% static 'frontend/images/our-story-bg.png' %}" alt class="w-100">
                    <div class="alt-font fw-600 fs-250 lg-fs-275 md-fs-250 xs-fs-160 ls-minus-5px xs-ls-minus-2px position-absolute right-minus-50px lg-right-0px bottom-minus-1px md-bottom-minus-60px xs-bottom-minus-40px text-white text-outline text-outline-width-3px" data-bottom-top="transform: translate3d(80px, 0px, 0px);" data-top-bottom="transform: translate3d(-280px, 0px, 0px);">
                        our story
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0 ipad-top-space-margin md-pt-0">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-xl-6 col-lg-8 text-center position-relative page-title-double-large">
                    <div class="d-flex flex-column justify-content-center extra-very-small-screen">
                        <h1 class="text-dark-gray alt-font ls-minus-1px fw-700">
                            The Mission of Africa Oasis Foundation
                        </h1>
                        <p>
                            In the heart of Rwanda, a land known for its resilience and beauty, the Africa Oasis Foundation was established with a profound mission at its core. This foundation is dedicated to making disciples of Jesus through authentic relationships, excellent education, and strengthened communities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="big-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center md-mb-50px" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    {% comment %} <img src="https://via.placeholder.com/455x466" class="animation-float" alt=""> {% endcomment %}
                </div>
                <div class="col-lg-2 divider-style-02 d-none d-lg-block ">
                    <div class="divider-dot d-flex align-items-center w-100 h-100">
                        <span class="bg-dark border border-color-extra-medium-gray rounded-circle"></span>
                    </div>
                </div>
                <div class="col-lg-5 text-center text-lg-start" data-anime='{ "el": "childs", "willchange": "transform", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'>
                    <h2 class="text-dark-gray fw-600 ls-minus-1px mb-20px">
                        Julie's Role
                    </h2>
                    <p>
                        Julie, a devoted missionary, arrived in Rwanda, becoming a guiding light for those she encountered. Her unwavering commitment to humanitarian work, fueled by her faith, was evident in her actions
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center text-lg-start" data-anime='{ "el": "childs", "willchange": "transform", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'>
                    <p>
                        Julie's commitment to humanitarian work extended far beyond the norm. She adopted Ninah, a young Rwandan girl, into her family, providing not just shelter but also the love and guidance that Ninah needed. This act of love and sacrifice, driven by the teachings of Jesus, touched the lives of those around her.
                    </p>
                </div>
                <div class="col-lg-2 divider-style-02 d-none d-lg-block ">
                    <div class="divider-dot d-flex align-items-center w-100 h-100">
                        <span class="bg-dark border border-color-extra-medium-gray rounded-circle"></span>
                    </div>
                </div>
                <div class="col-lg-5 text-center md-mb-50px" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    {% comment %} <img src="https://via.placeholder.com/455x466" class="animation-float" alt=""> {% endcomment %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center md-mb-50px" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    {% comment %} <img src="https://via.placeholder.com/455x466" class="animation-float" alt=""> {% endcomment %}
                </div>
                <div class="col-lg-2 divider-style-02 d-none d-lg-block ">
                    <div class="divider-dot d-flex align-items-center w-100 h-100">
                        <span class="bg-dark border border-color-extra-medium-gray rounded-circle"></span>
                    </div>
                </div>
                <div class="col-lg-5 text-center text-lg-start" data-anime='{ "el": "childs", "willchange": "transform", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'>
                    <p>
                        United by their shared gratitude for their faith and inspired by Julie's dedication, Ninah and Hodal, established the Africa Oasis Foundation. Their mission was clear—to make disciples of Jesus through authentic relationships, excellent education, and strengthened communities.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center text-lg-start" data-anime='{ "el": "childs", "willchange": "transform", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'>
                    <p>
                        The love of Jesus Christ became the foundation's guiding light, emphasizing the importance of faith and compassion. Recognizing the transformative power of these values, the foundation's core principles were firmly rooted in making disciples, education, and community development.
                    </p>
                </div>
                <div class="col-lg-2 divider-style-02 d-none d-lg-block ">
                    <div class="divider-dot d-flex align-items-center w-100 h-100">
                        <span class="bg-dark border border-color-extra-medium-gray rounded-circle"></span>
                    </div>
                </div>
                <div class="col-lg-5 text-center md-mb-50px" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    {% comment %} <img src="https://via.placeholder.com/455x466" class="animation-float" alt=""> {% endcomment %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center md-mb-50px" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    {% comment %} <img src="https://via.placeholder.com/455x466" class="animation-float" alt=""> {% endcomment %}
                </div>
                <div class="col-lg-2 divider-style-02 d-none d-lg-block ">
                    <div class="divider-dot d-flex align-items-center w-100 h-100">
                        <span class="bg-dark border border-color-extra-medium-gray rounded-circle"></span>
                    </div>
                </div>
                <div class="col-lg-5 text-center text-lg-start" data-anime='{ "el": "childs", "willchange": "transform", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 600, "delay": 100, "easing": "easeOutCirc" }'>
                    <p>
                        As the Africa Oasis Foundation grew, its commitment to its mission remained unwavering, actively shaping its programs and strategies. Julie's dedication to humanitarian work, rooted in faith and compassion, continued to be a source of inspiration for all who crossed paths with the organization
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include 'frontend/inc/mission-vision.html' %}

    <section>
        <div class="container">
            <div class="row mb-6 sm-mb-50px">
                <div class="col-md-12 text-center text-md-start" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="fs-140 xxl-fs-100 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-8px sm-ls-minus-2px" data-bottom-top="transform: translate3d(-50px, 0px, 0px);" data-top-bottom="transform: translate3d(50px, 0px, 0px);">Journey Through</div>
                </div>
                <div class="col-12">
                    <div class="row align-items-center align-items-lg-end" data-bottom-top="transform: translate3d(-30px, 0px, 0px);" data-top-bottom="transform: translate3d(30px, 0px, 0px);">
                        <div class="col-lg-3 col-md-4 text-md-end text-center md-mt-30px md-mb-20px" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <div class="position-relative">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 text-center text-md-start" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <div class="fs-140 xxl-fs-100 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-8px sm-ls-minus-2px">Time</div>
                        </div>
                        <div class="col-lg-4 last-paragraph-no-margin md-mt-30px" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <p class="w-95 md-w-80 mx-auto text-center text-lg-start sm-w-100">
                                Embracing Rwanda: Our Commitment to Service and Impact Since 2021
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="big-section bg-very-light-gray"> 
        <div class="container"> 
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-md-10 position-relative md-mb-50px md-mb-30px"> 
                    <figure class="position-relative mb-0 overflow-hidden" data-anime='{ "effect": "slide", "color": "#f7f7f7", "direction":"rl", "easing": "easeOutQuad", "delay":50}'> 
                        <img src="{% static 'frontend/images/history/journey.jpg' %}" class="w-100" alt=""> 
                        <figcaption class="position-absolute text-center left-0px bottom-0px pt-35px pb-35px ps-15px pe-15px bg-very-light-gray" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 600, "easing": "easeOutQuad" }'>
                            <span class="fs-90 lh-85 text-dark-gray ls-minus-2px position-relative fw-700 mb-5px d-block alt-font">4<sub class="fs-40 lh-40 text-dark-gray position-relative top-minus-40px">+</sub></span>
                            <span class="d-block mx-auto fs-14 fw-600 lh-20 w-200px text-center text-dark-gray text-uppercase">Years working experience</span>
                        </figcaption>
                    </figure>
                </div> 
                <div class="col-12 col-xl-6 col-lg-7 col-md-10 offset-xl-1">
                    <span class="fs-13 text-uppercase text-gray fw-600 mb-10px d-inline-block">Embracing Rwanda: Our Commitment to Service and Impact Since 2021</span>
                    <h3 class="fw-700 mb-40px alt-font text-dark-gray ls-minus-1px">Journey Through Time</h3>
                    <div class="accordion accordion-style-01" id="accordion-style-01" data-active-icon="fa-angle-down" data-inactive-icon="fa-angle-right">
                        <!-- start accordion item -->
                        <div class="accordion-item bg-white active-accordion">
                            <div class="accordion-header">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-01" aria-expanded="true" data-bs-parent="#accordion-style-01">
                                    <div class="accordion-title position-relative fs-18 d-flex align-items-center pe-20px text-dark-gray fw-600 alt-font mb-0">2024<span><i class="fa-solid fa-angle-down icon-small"></i></span></div>
                                </a>
                            </div>
                            <div id="accordion-style-01-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-01">
                                <div class="accordion-body last-paragraph-no-margin">
                                    <span>First Christmas was celebrated.</span> <br>
                                    <span>30 Bibles were Donated.</span> <br>
                                    <span>Plans submitted for construction Permit.</span>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="accordion-item bg-white">
                            <div class="accordion-header">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-02" aria-expanded="false" data-bs-parent="#accordion-style-01">
                                    <div class="accordion-title position-relative fs-18 d-flex align-items-center pe-20px text-dark-gray fw-600 alt-font mb-0">2023<span><i class="fa-solid fa-angle-right icon-small"></i></span></div>
                                </a>
                            </div>
                            <div id="accordion-style-01-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-01">
                                <div class="accordion-body last-paragraph-no-margin">
                                    <span>Land was purchased for Oasis Christin Academy.</span> <br>
                                    <span>Land was purchased for Africa Oasis Foundation offices.</span> <br>
                                    <span>House renovated for  A genocide Survivor.</span> <br>
                                    <span>Sponsorship program grew to 100 students.</span> <br>
                                    <span>Plans announced to build the school in partnership with Welink Group Ltd.</span>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="accordion-item bg-white">
                            <div class="accordion-header">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-03" aria-expanded="false" data-bs-parent="#accordion-style-01">
                                    <div class="accordion-title position-relative fs-18 d-flex align-items-center pe-20px text-dark-gray fw-600 alt-font mb-0">2022<span><i class="fa-solid fa-angle-right icon-small"></i></span></div>
                                </a>
                            </div>
                            <div id="accordion-style-01-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-01">
                                <div class="accordion-body last-paragraph-no-margin">
                                    <span>Afterschool program was lunched.</span><br>
                                    <span>30 families received medical insurance.</span><br>
                                    <span>Soccer /volleyball tournaments were launched.</span>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                        <!-- start accordion item -->
                        <div class="accordion-item bg-white">
                            <div class="accordion-header">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-04" aria-expanded="false" data-bs-parent="#accordion-style-01">
                                    <div class="accordion-title position-relative fs-18 d-flex align-items-center pe-20px text-dark-gray fw-600 alt-font mb-0">2021<span><i class="fa-solid fa-angle-right icon-small"></i></span></div>
                                </a>
                            </div>
                            <div id="accordion-style-01-04" class="accordion-collapse collapse" data-bs-parent="#accordion-style-01">
                                <div class="accordion-body last-paragraph-no-margin">
                                    <span>Hodal and Ninah Moved to US.</span><br>
                                    <span>Africa Oasis Foundation was established.</span><br>
                                    <span>Sponsorship Program began with 30 students.</span>
                                </div>
                            </div>
                        </div>
                        <!-- end accordion item -->
                    </div> 
                </div>
            </div> 
        </div>
    </section>

{% endblock %}