{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Our History {% endblock %}
{% block content %}

    <section class="cover-background page-title-big-typography ipad-top-space-margin">
        <div class="container">
            <div class="row align-items-center align-items-lg-end justify-content-center extra-very-small-screen g-0">
                <div class="col-xxl-5 col-xl-6 col-lg-7 position-relative page-title-extra-small md-mb-30px md-mt-auto" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="mb-10px">
                        <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                        <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Our Story</span>
                    </div>
                    <h2 class="alt-font text-dark-gray fw-500 mb-0 ls-minus-1px shadow-none" data-shadow-animation="true" data-animation-delay="700">
                        The Story of 
                        <span class="fw-700 text-highlight d-inline-block">
                            Africa Oasis<span class="bg-base-color h-10px bottom-3px opacity-3 separator-animation"></span>
                        </span>
                        Foundation.
                    </h2>
                </div>
                <div class="col-lg-5 offset-xxl-2 offset-xl-1 border-start border-2 border-color-base-color ps-40px sm-ps-25px md-mb-auto">
                    <span class="d-block w-100 lg-w-100" data-anime='{ "el": "lines", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        The Africa Oasis Foundation, established in Rwanda, is dedicated to making disciples of Jesus through education, community development, and authentic relationships. Guided by the inspirational story of missionary Julie and her commitment to humanitarian work, the foundation provides a safe haven for learning and growth.
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="overflow-hidden p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0 position-relative">
                    <img src="{% static 'frontend/images/our-story-bg.png' %}" alt class="w-100">
                    <div class="alt-font fw-600 fs-250 lg-fs-275 md-fs-250 xs-fs-160 ls-minus-5px xs-ls-minus-2px position-absolute right-minus-50px lg-right-0px bottom-minus-1px md-bottom-minus-60px xs-bottom-minus-40px text-white text-outline text-outline-width-3px" data-bottom-top="transform: translate3d(80px, 0px, 0px);" data-top-bottom="transform: translate3d(-280px, 0px, 0px);">
                        our story
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0 ipad-top-space-margin md-pt-0">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-xl-6 col-lg-8 text-center position-relative page-title-double-large">
                    <div class="d-flex flex-column justify-content-center extra-very-small-screen">
                        <h1 class="text-dark-gray alt-font ls-minus-1px fw-700">
                            The Mission of Africa Oasis Foundation
                        </h1>
                        <p>
                            In the heart of Rwanda, a land known for its resilience and beauty, the Africa Oasis Foundation was established with a profound mission at its core. This foundation is dedicated to making disciples of Jesus through authentic relationships, excellent education, and strengthened communities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="mx-5">
            <div class="row justify-content-center mb-3">
                <div class="col-md-12 text-center">
                    <h6 class="alt-font text-dark-gray fw-600">Julie's Role</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4 md-mb-15px">
                    <div class="p-40px sm-p-30px last-paragraph-no-margin">
                        Julie, a devoted missionary, arrived in Rwanda, becoming a guiding light for those she encountered. Her unwavering commitment to humanitarian work, fueled by her faith, was evident in her actions.
                    </div>
                </div>
                <div class="col-12 col-lg-4 md-mb-15px">
                    <div class="p-40px sm-p-30px last-paragraph-no-margin">
                        <p>Julie's commitment to humanitarian work extended far beyond the norm. She adopted Ninah, a young Rwandan girl, into her family, providing not just shelter but also the love and guidance that Ninah needed. This act of love and sacrifice, driven by the teachings of Jesus, touched the lives of those around her.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 md-mb-15px">
                    <div class="p-40px sm-p-30px last-paragraph-no-margin">
                        <p>United by their shared gratitude for their faith and inspired by Julie's dedication, Ninah and Hodal, established the Africa Oasis Foundation. Their mission was clear—to make disciples of Jesus through authentic relationships, excellent education, and strengthened communities.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 md-mb-15px mt-2">
                    <div class="p-40px sm-p-30px last-paragraph-no-margin">
                        The love of Jesus Christ became the foundation's guiding light, emphasizing the importance of faith and compassion. Recognizing the transformative power of these values, the foundation's core principles were firmly rooted in making disciples, education, and community development.
                    </div>
                </div>
                <div class="col-12 col-lg-6 md-mb-15px mt-2">
                    <div class="p-40px sm-p-30px last-paragraph-no-margin">
                        <p>As the Africa Oasis Foundation grew, its commitment to its mission remained unwavering, actively shaping its programs and strategies. Julie's dedication to humanitarian work, rooted in faith and compassion, continued to be a source of inspiration for all who crossed paths with the organization.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-0 border-top border-color-extra-medium-gray mt-6 md-mt-0 sm-border-top-0">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 g-0" data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col process-step-style-06 last-paragraph-no-margin hover-box sm-mb-50px">
                    <div class="process-step-icon-box position-relative top-minus-14px">
                        <span class="progress-step-separator bg-light-gray w-100 separator-line-1px opacity-1"></span>
                        <div class="step-box d-flex align-items-center justify-content-center bg-white border-radius-100 w-25px h-25px position-relative border border-color-extra-medium-gray box-shadow-large">
                            <span class="w-7px h-7px bg-dark-gray border-radius-100"></span>
                        </div>
                    </div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M4.5 16.5c-1.5 1.26-2 5-2 5s3.74-.5 5-2c.71-.84.7-2.13-.09-2.91a2.18 2.18 0 0 0-2.91-.09M12 15l-3-3a22 22 0 0 1 2-3.95A12.88 12.88 0 0 1 22 2c0 2.72-.78 7.5-6 11a22.4 22.4 0 0 1-4 2"/><path d="M9 12H4s.55-3.03 2-4c1.62-1.08 5 0 5 0m1 7v5s3.03-.55 4-2c1.08-1.62 0-5 0-5"/></g></svg>
                    </span>
                    <span class="d-block alt-font text-dark-gray fw-600 mb-10px mt-15px fs-22 lh-28 ls-minus-05px w-60 lg-w-75 md-w-100">Our Mission</span>
                    <p class="w-90 lg-w-75 md-w-100 sm-w-100">
                        Our mission is to make disciples of Jesus through authentic relationships, excellent education, and strengthened communities.
                    </p>
                </div>
                <div class="col process-step-style-06 last-paragraph-no-margin hover-box sm-mb-50px">
                    <div class="process-step-icon-box position-relative top-minus-14px">
                        <span class="progress-step-separator bg-light-gray w-100 separator-line-1px opacity-1"></span>
                        <div class="step-box d-flex align-items-center justify-content-center bg-white border-radius-100 w-25px h-25px position-relative border border-color-extra-medium-gray box-shadow-large">
                            <span class="w-7px h-7px bg-dark-gray border-radius-100"></span>
                        </div>
                    </div>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 256 256"><path fill="#000" d="M221.87 83.16A104.1 104.1 0 1 1 195.67 49l22.67-22.68a8 8 0 0 1 11.32 11.32l-96 96a8 8 0 0 1-11.32-11.32l27.72-27.72a40 40 0 1 0 17.87 31.09a8 8 0 1 1 16-.9a56 56 0 1 1-22.38-41.65l22.75-22.75a87.88 87.88 0 1 0 23.13 29.67a8 8 0 0 1 14.44-6.9"/></svg>
                    </span>
                    <span class="d-block alt-font text-dark-gray fw-600 mb-10px mt-15px fs-22 lh-28 ls-minus-05px w-60 lg-w-75 md-w-100">Our Vision</span>
                    <p class="w-90 lg-w-75 md-w-100 sm-w-100">
                        That every person we serve would know Christ and make Him known, resulting in transformed lives, restored relationships, and changed communities.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row mb-6 sm-mb-50px">
                <div class="col-md-12 text-center text-md-start" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="fs-140 xxl-fs-100 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-8px sm-ls-minus-2px" data-bottom-top="transform: translate3d(-50px, 0px, 0px);" data-top-bottom="transform: translate3d(50px, 0px, 0px);">Journey Through</div>
                </div>
                <div class="col-12">
                    <div class="row align-items-center align-items-lg-end" data-bottom-top="transform: translate3d(-30px, 0px, 0px);" data-top-bottom="transform: translate3d(30px, 0px, 0px);">
                        <div class="col-lg-3 col-md-4 text-md-end text-center md-mt-30px md-mb-20px" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <div class="position-relative">
                                <img src="{% static 'frontend/images/exp.png' %}" class="animation-rotation position-relative z-index-2" alt="">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 text-center text-md-start" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <div class="fs-140 xxl-fs-100 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-8px sm-ls-minus-2px">Time</div>
                        </div>
                        <div class="col-lg-4 last-paragraph-no-margin md-mt-30px" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <p class="w-95 md-w-80 mx-auto text-center text-lg-start sm-w-100">
                                Embracing Rwanda: Our Commitment to Service and Impact Since 2021
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-solitude-blue">
        <div class="px-5">
            <div class="row justify-content-center" data-anime='{ "el": "childs", "perspective": [1200,1200], "translateY": [30, 0], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col-lg-6 col-md-6 fancy-text-box-style-02 mb-30px">
                    <div class="feature-box feature-box-left-icon-middle h-100 bg-white hover-box dark-hover border-radius-6px ps-4 pe-4 pt-9 pb-9 box-shadow-extra-large box-shadow-extra-large-hover overflow-hidden">
                        <div class="feature-box-icon ms-40px me-40px lg-ms-15px lg-me-15px">
                            <h2 class="text-dark-gray fw-700 ls-minus-1px mb-0">2024</h2>
                        </div>
                        <div class="feature-box-content border-start border-color-extra-medium-gray ps-20px pe-20px lg-ps-10px lg-pe-15px last-paragraph-no-margin">
                            <p class="text-light-opacity">First Christmas was celebrated.</p>
                            <p class="text-light-opacity">30 Bibles were Donated.</p>
                            <p class="text-light-opacity">Plans submitted for construction Permit.</p>
                        </div>
                        <div class="feature-box-overlay bg-extra-dark-slate-blue"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 fancy-text-box-style-02 mb-30px">
                    <div class="feature-box feature-box-left-icon-middle h-100 bg-white hover-box dark-hover border-radius-6px ps-4 pe-4 pt-9 pb-9 box-shadow-extra-large box-shadow-extra-large-hover overflow-hidden">
                        <div class="feature-box-icon ms-40px me-40px lg-ms-15px lg-me-15px">
                            <h2 class="text-dark-gray fw-700 ls-minus-1px mb-0">2023</h2>
                        </div>
                        <div class="feature-box-content border-start border-color-extra-medium-gray ps-40px pe-40px lg-ps-15px lg-pe-15px last-paragraph-no-margin">
                            <p class="text-light-opacity">Land was purchased for Oasis Christin Academy.</p>
                            <p class="text-light-opacity">Land was purchased for Africa Oasis Foundation offices.</p>
                            <p class="text-light-opacity">House renovated for  A genocide Survivor.</p>
                            <p class="text-light-opacity">Sponsorship program grew to 100 students.</p>
                            <p class="text-light-opacity">Plans announced to build the school in partnership with Welink Group Ltd.</p>
                        </div>
                        <div class="feature-box-overlay bg-extra-dark-slate-blue"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 fancy-text-box-style-02 md-mb-30px">
                    <div class="feature-box feature-box-left-icon-middle h-100 bg-white hover-box dark-hover border-radius-6px ps-4 pe-4 pt-9 pb-9 box-shadow-extra-large box-shadow-extra-large-hover overflow-hidden">
                        <div class="feature-box-icon ms-40px me-40px lg-ms-15px lg-me-15px">
                            <h2 class="text-dark-gray fw-700 ls-minus-1px mb-0">2022</h2>
                        </div>
                        <div class="feature-box-content border-start border-color-extra-medium-gray ps-40px pe-40px lg-ps-15px lg-pe-15px last-paragraph-no-margin">
                            <p class="text-light-opacity">Afterschool program was lunched.</p>
                            <p class="text-light-opacity">30 families received medical insurance.</p>
                            <p class="text-light-opacity">Soccer /volleyball tournaments were launched. </p>
                        </div>
                        <div class="feature-box-overlay bg-extra-dark-slate-blue"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 fancy-text-box-style-02">
                    <div class="feature-box feature-box-left-icon-middle h-100 bg-white hover-box dark-hover border-radius-6px ps-4 pe-4 pt-9 pb-9 box-shadow-extra-large box-shadow-extra-large-hover overflow-hidden">
                        <div class="feature-box-icon ms-40px me-40px lg-ms-15px lg-me-15px">
                            <h2 class="text-dark-gray fw-700 ls-minus-1px mb-0">2021</h2>
                        </div>
                        <div class="feature-box-content border-start border-color-extra-medium-gray ps-40px pe-40px lg-ps-15px lg-pe-15px last-paragraph-no-margin">
                            <p class="text-light-opacity">Hodal and Ninah Moved to US.</p>
                            <p class="text-light-opacity">Africa Oasis Foundation was established.</p>
                            <p class="text-light-opacity">Sponsorship Program began with 30 students.</p>
                        </div>
                        <div class="feature-box-overlay bg-extra-dark-slate-blue"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}