{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

    <section class="p-0 h-80 full-screen ipad-top-space-margin position-relative overflow-hidden sm-h-auto">
        <div class="container-fluid p-0 h-100 position-relative">
            <div class="row h-100 g-0">
                <div class="col-12 col-md-6 bg-sliding-line d-flex justify-content-center flex-column p-10 position-relative xl-p-6 md-p-5 sm-ps-30px sm-pe-30px  sm-pt-50px sm-pb-50px order-2 order-md-1">
                    <div class="vertical-title-center align-items-center w-75px justify-content-center position-absolute h-auto d-none d-md-flex">
                        <div class="title fs-16 alt-font text-dark-gray fw-700 text-uppercase ls-05px text-uppercase" data-fancy-text='{ "opacity": [0, 1], "translateY": [50, 0], "filter": ["blur(20px)", "blur(0px)"], "string": ["MAKING DISCIPLES JESUS CHRIST"], "duration": 400, "delay": 0, "speed": 50, "easing": "easeOutQuad" }'></div>
                    </div>
                    <div class="border-start border-color-extra-medium-gray ps-60px ms-100px lg-ps-30px lg-ms-70px position-relative z-index-9 sm-ps-30px sm-pe-30px sm-ms-0 border-0" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <h1 class="text-dark-gray fs-40 fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 ls-minus-4px sm-ls-minus-2px md-me-0">
                            Transforming Live, Restoring Relationships, changing communities
                        </h1>
                        <p class="w-100 mb-35px lg-w-90 sm-w-100">In the heart of Rwanda, a land known for its resilience and beauty, the Africa Oasis Foundation was established with a profound mission at its core.</p>
                        <a href="#" class="btn btn-extra-large btn-gradient-fuel-yellow-blue fw-400">Learn more - About us</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 position-relative order-1 order-md-2">
                    <div class="swiper h-100 banner-slider sm-h-450px swiper-light-pagination" data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-pagination-bullets", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "stopOnLastSlide": true, "disableOnInteraction": false },"keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "fade" }'>
                        <div class="swiper-wrapper">
                            <!-- start slider item -->
                            <div class="swiper-slide">
                                <div class="position-absolute left-0px top-0px w-100 h-100 cover-background" style="background-image:url({% static 'frontend/images/slides/1.jpg' %});"></div>
                            </div>
                            <!-- end slider item -->
                            <!-- start slider item -->
                            <div class="swiper-slide">
                                <div class="position-absolute left-0px top-0px w-100 h-100 cover-background" style="background-image:url({% static 'frontend/images/slides/2.jpg' %});"></div>
                            </div>
                            <!-- end slider item -->
                            <!-- start slider item -->
                            <div class="swiper-slide">
                                <div class="position-absolute left-0px top-0px w-100 h-100 cover-background" style="background-image:url({% static 'frontend/images/slides/3.jpg' %});"></div>
                            </div>
                            <!-- end slider item -->
                        </div>
                        <!-- start slider navigation -->
                        <!-- <div class="slider-one-slide-prev-1 icon-very-small text-white swiper-button-prev slider-navigation-style-06 d-none d-sm-inline-block"><i class="line-icon-Arrow-OutLeft icon-extra-large"></i></div>
                            <div class="slider-one-slide-next-1 icon-very-small text-white swiper-button-next slider-navigation-style-06 d-none d-sm-inline-block"><i class="line-icon-Arrow-OutRight icon-extra-large"></i></div> -->
                        <!-- end slider navigation -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 position-relative">
                    <div class="row align-items-center position-relative md-mb-15" data-anime='{ "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="col-md-5 sm-mb-30px" data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
                            <img class="w-100" src="{% static 'frontend/images/about-thumb-2.png' %}" alt="" />
                        </div>
                        <div class="col-lg-7 col-md-7 sm-mb-30px text-end" data-bottom-top="transform: translateY(-30px)" data-top-bottom="transform: translateY(30px)">
                            <img src="{% static 'frontend/images/about-thumb-3.png' %}" alt="" class="box-shadow-quadruple-large md-w-100" />
                        </div>
                        <div class="w-50 sm-w-100 overflow-hidden position-absolute sm-position-relative left-140px bottom-minus-200px sm-bottom-0px sm-left-0px p-0 sm-ps-15px sm-pe-15px" data-shadow-animation="true" data-animation-delay="100" data-bottom-top="transform: translateY(20px)" data-top-bottom="transform: translateY(-20px)">
                            <img src="{% static 'frontend/images/about-thumb-1.png' %}" alt="" class="box-shadow-quadruple-large w-100" />
                        </div>
                    </div> 
                </div>
                <div class="col-xl-5 col-lg-6 offset-xl-1 md-mt-20 sm-mt-0" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="mb-10px">
                        <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                        <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">ABOUT AFRICA OASIS</span>
                    </div>
                    <h4 class="text-dark-gray alt-font fw-600 ls-minus-2px mb-20px">
                        Discovering God's Love: The Story of Africa Oasis Foundation in Rwanda
                    </h4>
                    <p class="w-100 md-w-100 mb-35px sm-mb-20px">
                        Africa Oasis Foundation was founded in 2021. The organization, based out of Scottsdale, Arizona, educates, empowers, and encourages the orphaned, poor and in the country of Rwanda. Africa Oasis Foundation desires to reveal the truth of God’s unconditional love through Jesus Christ to the people of Rwanda.
                    </p>
                    <a href="#" class="btn btn-large btn-dark-gray btn-switch-text btn-box-shadow border-1 left-icon me-10px sm-mb-15px sm-mt-15px">
                        <span>
                            <span style="margin-right: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 512 512"><path fill="currentColor" d="m329.8 235.69l62.83-82.71l42.86 32.56l-62.83 82.75zm-12.86-9.53l66.81-88l-45-34.15l-66.81 88zm-27.48-97.78l-19.3 39.57l57-75l-42.51-32.3l-36.24 47.71zm-20.74-73.24l-46.64-35.43l-42 55.31l53.67 26.17zm107 235.52l-139-102.71l-9.92.91l4.56 2l62.16 138.43l-16.52 2.25l-57.68-128.5l-40-17.7l-4-30.84l39.41 19.42l36.36-3.33l17-34.83l-110.9-54.09l-80.68 112.51L177.6 346.67l-22.7 145.62H341V372.62l35.29-48.93L387 275.77z"/></svg>
                            </span>
                            <span class="btn-double-text" data-text="Our Impact">Our Impact</span> 
                        </span>
                    </a> 
                    <a href="#" class="btn btn-large btn-transparent-light-gray border-1 btn-switch-text left-icon sm-mb-15px sm-mt-15px">
                        <span>
                            <span style="margin-right: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 24 24"><path fill="currentColor" d="M19.95 21q-3.125 0-6.175-1.362t-5.55-3.863t-3.862-5.55T3 4.05q0-.45.3-.75t.75-.3H8.1q.35 0 .625.238t.325.562l.65 3.5q.05.4-.025.675T9.4 8.45L6.975 10.9q.5.925 1.187 1.787t1.513 1.663q.775.775 1.625 1.438T13.1 17l2.35-2.35q.225-.225.588-.337t.712-.063l3.45.7q.35.1.575.363T21 15.9v4.05q0 .45-.3.75t-.75.3M6.025 9l1.65-1.65L7.25 5H5.025q.125 1.025.35 2.025T6.025 9m8.95 8.95q.975.425 1.988.675T19 18.95v-2.2l-2.35-.475zm0 0"/></svg>
                            </span>
                            <span class="btn-double-text" data-text="Contact Us">Contact Us</span> 
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-extra-dark-slate-blue background-position-center-top big-section" style="background-image: url(images/vertical-line-bg-small.svg)">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-md-2 justify-content-center" data-anime='{"el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,0.7], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col icon-with-text-style-07 transition-inner-all mb-30px">
                    <div class="hover-box dark-hover feature-box p-55px lg-p-30px overflow-hidden bg-dark-slate-blue text-start box-shadow-double-large-hover">
                        <div class="feature-box-icon min-h-150px sm-min-h-100px mb-20 z-index-9"> 
                            <span class="icon-extra-large text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M4.5 16.5c-1.5 1.26-2 5-2 5s3.74-.5 5-2c.71-.84.7-2.13-.09-2.91a2.18 2.18 0 0 0-2.91-.09M12 15l-3-3a22 22 0 0 1 2-3.95A12.88 12.88 0 0 1 22 2c0 2.72-.78 7.5-6 11a22.4 22.4 0 0 1-4 2"/><path d="M9 12H4s.55-3.03 2-4c1.62-1.08 5 0 5 0m1 7v5s3.03-.55 4-2c1.08-1.62 0-5 0-5"/></g></svg>
                            </span>
                        </div>
                        {% comment %} <div class="feature-box-title fs-150 fw-600 text-black opacity-2 ls-minus-10px">Mission</div> {% endcomment %}
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="d-inline-block text-white mb-5px fs-18">Our Mission</span>
                            <p class="w-90 xl-w-100 lh-30 text-light-opacity lh-30 text-light-opacity">
                                Our mission is to make disciples of Jesus through authentic relationships, excellent education, and strengthened communities.
                            </p>
                        </div>
                        {% comment %} <div class="feature-box-overlay bg-aluminium-grey"></div> {% endcomment %}
                    </div>
                </div>
                <div class="col icon-with-text-style-07 transition-inner-all mb-30px">
                    <div class="hover-box dark-hover feature-box p-55px lg-p-30px overflow-hidden bg-dark-slate-blue text-start box-shadow-double-large-hover">
                        <div class="feature-box-icon min-h-150px sm-min-h-100px mb-20 z-index-9"> 
                            <span class="icon-extra-large text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 256 256"><path fill="#fff" d="M221.87 83.16A104.1 104.1 0 1 1 195.67 49l22.67-22.68a8 8 0 0 1 11.32 11.32l-96 96a8 8 0 0 1-11.32-11.32l27.72-27.72a40 40 0 1 0 17.87 31.09a8 8 0 1 1 16-.9a56 56 0 1 1-22.38-41.65l22.75-22.75a87.88 87.88 0 1 0 23.13 29.67a8 8 0 0 1 14.44-6.9"/></svg>
                            </span>
                        </div>
                        {% comment %} <div class="feature-box-title fs-200 fw-600 text-black opacity-2 ls-minus-10px">Vision</div> {% endcomment %}
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="d-inline-block text-white mb-5px fs-18">Our Vision</span>
                            <p class="w-100 xl-w-100 lh-30 text-light-opacity">
                                That every person we serve would know Christ and make Him known, resulting in transformed lives, restored relationships, and changed communities.
                            </p>
                        </div>
                        {% comment %} <div class="feature-box-overlay bg-aluminium-grey"></div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row mb-6 sm-mb-50px">
                <div class="col-md-12 text-center text-md-start" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="fs-40 xxl-fs-40 sm-fs-20 fw-600 text-dark-gray alt-font text-center" data-bottom-top="transform: translate3d(-50px, 0px, 0px);" data-top-bottom="transform: translate3d(50px, 0px, 0px);">
                        What We Do
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="stack-box py-0 z-index-99"> 
        <div class="stack-box-contain">
            <div class="stack-item stack-item-01 bg-white lg-pt-8 lg-pb-8 md-pb-0">
                <div class="stack-item-wrapper">
                    <div class="container-fluid">
                        <div class="row align-items-center full-screen md-h-auto"> 
                            <div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url({% static 'frontend/images/what-we-do/education.jpg' %})">
                                <div class="position-absolute right-minus-130px top-60px md-top-auto md-bottom-minus-50px fs-170 lg-fs-120 lg-right-minus-80px md-right-0px md-left-0px text-center text-lg-start alt-font z-index-9 fw-600 text-dark-gray opacity-3">01</div>
                                <div class="position-absolute right-0px bottom-minus-1px">
                                    <div class="vertical-title-center">
                                        {% comment %} <div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray bg-white pt-30px pb-30px ps-10px pe-10px">
                                            <span class="d-inline-block">See more details</span>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 ps-12 pe-14 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px position-relative align-self-center text-md-start text-center"> 
                                <div class="mb-15px">
                                    <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                                    <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">SAFE LEARNING ENVIRONMENT</span>
                                </div>
                                <h1 class="text-dark-gray alt-font fw-600 ls-minus-4px mb-25px">Education.</h1>
                                <p class="w-100 md-w-100 mb-35px">
                                    AOF Scholarship Program provides a safe learning environment, daily meals, extensive medical care, and discipleship for every student. African Oasis Academy, a Christian school located in Africa that is committed to providing quality education and leadership development to young people across the continent.
                                </p>
                                <a href="#" class="btn btn-large btn-dark-gray btn-switch-text btn-box-shadow fw-400">
                                    <span> 
                                        <span class="btn-double-text" data-text="See More">See More</span> 
                                        <span><i class="feather icon-feather-arrow-right"></i></span>
                                    </span>
                                </a>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stack-item stack-item-02 bg-linen md-pt-0 md-pb-0">
                <div class="stack-item-wrapper">
                    <div class="container-fluid">
                        <div class="row align-items-center full-screen md-h-auto">  
                            <div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url({% static 'frontend/images/what-we-do/farming.png' %})">
                                <div class="position-absolute right-minus-130px top-60px md-top-auto md-bottom-minus-50px fs-170 lg-fs-120 lg-right-minus-80px md-right-0px md-left-0px text-center text-lg-start alt-font z-index-9 fw-600 text-dark-gray opacity-3">02</div>
                                <div class="position-absolute right-0px bottom-minus-1px">
                                    <div class="vertical-title-center">
                                        {% comment %} <div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray bg-linen pt-30px pb-30px ps-10px pe-10px">
                                            <span class="d-inline-block">Latest projects</span>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 ps-12 pe-14 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px position-relative align-self-center text-md-start text-center"> 
                                <div class="mb-15px">
                                    <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                                    <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">
                                        Sustainable Agricultural Empowerment
                                    </span>
                                </div>
                                <h1 class="text-dark-gray alt-font fw-600 ls-minus-4px mb-25px">Farming Outreach.</h1>
                                <p class="w-95 md-w-100 mb-35px">
                                    In an effort to continually improve our programs and help the families we work with become more self-reliant, the Africa Oasis Foundation Farming Outreach was started in 2024. Farming God’s Way training classes are held on a bi-annual basis and are taught by our farm staff.
                                </p>
                                <a href="#" class="btn btn-large btn-dark-gray btn-switch-text btn-box-shadow fw-400">
                                    <span> 
                                        <span class="btn-double-text" data-text="Explore project">Explore project</span> 
                                        <span><i class="feather icon-feather-arrow-right"></i></span>
                                    </span>
                                </a>  
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="stack-item stack-item-03 bg-white lg-pt-8 md-pb-0 md-pt-0">
                <div class="stack-item-wrapper">
                    <div class="container-fluid">
                        <div class="row align-items-center full-screen md-h-auto"> 
                            <div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url({% static 'frontend/images/what-we-do/feeding-outreach.jpg' %})">
                                <div class="position-absolute right-minus-130px top-60px md-top-auto md-bottom-minus-50px fs-170 lg-fs-120 lg-right-minus-80px md-right-0px md-left-0px text-center text-lg-start alt-font z-index-9 fw-600 text-dark-gray opacity-3">03</div>
                                <div class="position-absolute right-0px bottom-minus-1px">
                                    <div class="vertical-title-center">
                                        {% comment %} <div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray bg-white pt-30px pb-30px ps-10px pe-10px">
                                            <span class="d-inline-block">Latest projects</span>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 ps-12 pe-14 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px sm-pb-0 position-relative align-self-center text-md-start text-center"> 
                                <div class="mb-15px">
                                    <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                                    <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">
                                        Nutrition for Tomorrow
                                    </span>
                                </div>
                                <h1 class="text-dark-gray alt-font fw-600 ls-minus-4px mb-25px">Feeding Outreach.</h1>
                                <p class="w-95 md-w-100 mb-35px">
                                    Africa Oasis Foundation now feeds 100 children lunch every Monday through Friday. It's a heartwarming achievement that underscores our commitment to combating hunger and nourishing young minds in our community. Through dedicated efforts and the generosity of our supporters, we've expanded our feeding program to ensure that these children receive nutritious meals every weekday.
                                </p>
                                <a href="#" class="btn btn-large btn-dark-gray btn-switch-text btn-box-shadow fw-400">
                                    <span> 
                                        <span class="btn-double-text" data-text="Explore project">Explore project</span> 
                                        <span><i class="feather icon-feather-arrow-right"></i></span>
                                    </span>
                                </a>  
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>

    <section class="big-section overflow-hidden bg-slate-blue position-relative z-index-0">
        <img src="{% static 'frontend/images/circle-bg.png' %}" class="position-absolute top-minus-150px left-minus-30px z-index-minus-1" data-bottom-top="transform: rotate(0deg) translateY(0)" data-top-bottom="transform:rotate(-20deg) translateY(0)" alt="" />
        <div class="container">
            <div class="row align-items-center mb-6 sm-mb-9 text-center text-lg-start">
                <div class="col-lg-5 md-mb-20px">
                    <div class="mb-10px">
                        <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                        <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">ABOUT AFRICA OASIS</span>
                    </div>
                    <h3 class="alt-font text-white fw-600 mb-0 ls-minus-1px" style="font-size: 36px;">
                        By cultivating genuine connections, providing quality education, and fortifying communal bonds
                    </h3>
                </div>
                <div class="col-lg-5 last-paragraph-no-margin md-mb-20px">
                    <p class="w-85 md-w-100">
                        AOF provides a safe learning environment, daily meals, extensive medical care, and discipleship for every child.
                    </p>
                </div>
                <div class="col-lg-2 d-flex justify-content-center justify-content-lg-end">
                    <a href="{% url 'frontend:students' %}" class="btn border-1 btn-transparent-light-gray btn-medium text-white">
                        See More
                        <i class="feather icon-feather-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="outside-box-right-25 sm-outside-box-right-0">
                        <div class="swiper slider-one-slide" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                            <div class="swiper-wrapper">
                                {% for student in students %}
                                    <div class="swiper-slide">
                                        <div class="interactive-banner-style-09 border-radius-6px overflow-hidden position-relative">
                                            <img src="{{ student.image.url }}" alt="" />
                                            <div class="opacity-very-light bg-slate-blue"></div>
                                            <div class="image-content h-100 w-100 bg-gradient-gray-light-dark-transparent ps-15 pe-15 pt-13 pb-13 md-p-10 d-flex justify-content-bottom align-items-start flex-column">
                                                <div class="hover-label-icon position-relative z-index-9">
                                                    <div class="label bg-base-color fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12 ls-05px" style="background: #2946f3;">Not sponsored</div>
                                                    <i class="line-icon-Financial text-white icon-extra-large"></i>
                                                </div>
                                                <div class="mt-auto d-flex align-items-start w-100 z-index-1 position-relative overflow-hidden flex-column">
                                                    <span class="text-white fw-600 fs-20">{{ student.name }}</span>
                                                    <span class="content-title text-white fs-13 fw-500 text-uppercase ls-05px">{{ student.age }} Years Old, {{ student.gender }}</span>
                                                    <a href="{% url 'frontend:getStudent' student.slug %}" class="content-title-hover fs-13 lh-24 fw-500 ls-05px text-uppercase text-white opacity-6 text-decoration-line-bottom">See More</a>
                                                    <span class="content-arrow lh-42px rounded-circle bg-white w-50px h-50px ms-20px text-center"><i class="fa-solid fa-chevron-right text-dark-gray fs-16"></i></span>
                                                </div>
                                                <div class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-regal-blue-transparent opacity-9"></div>
                                                <div class="box-overlay bg-gradient-dark-transparent"></div>
                                                <a href="{% url 'frontend:getStudent' student.slug %}" class="position-absolute z-index-1 top-0px left-0px h-100 w-100"></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0">
        <div class="container">
            <div class="row mb-6">
                <div class="col-xl-5 col-md-6" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="mb-10px">
                        <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                        <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">SPECIAL PROJECTS</span>
                    </div>
                    <h4 class="text-dark-gray alt-font fw-600 w-90 ls-minus-2px">We help AOF Academy in Bugesera-Rwanda</h4>
                </div>
                <div class="offset-xl-1 col-xl-5 col-md-6">
                    <div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="accordion-item active-accordion">
                            <div class="accordion-header border-bottom border-color-dark-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01" aria-expanded="true" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-minus"></i><span class="fw-600 alt-font fs-18">Holiday youth camp</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-dark-gray">
                                    <p>This 3-day camp in January will bring students 100 and older together to encourage them,..</p>
                                    <a href="#">
                                        See more
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-dark-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span class="fw-600 alt-font fs-18">Renovating the house for one family</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-dark-gray">
                                    <p>
                                        This family of BAZUBAGIRA Rosalie a mother of 7 children lives in KAMPEKA Cell, MBUNGANZIRA village. During our meeting with the KAMPEKA Cell leaders,..
                                    </p>
                                    <a href="#">
                                        See more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0 ipad-top-space-margin md-pt-0">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-xl-6 col-lg-8 text-center position-relative page-title-double-large">
                    <div class="d-flex flex-column justify-content-center extra-very-small-screen">
                        <h1 class="text-dark-gray alt-font ls-minus-1px fw-700">Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-0 ps-15 pe-15 xl-ps-2 xl-pe-2 lg-ps-2 lg-pe-2 sm-mx-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <ul class="blog-classic blog-wrapper grid-loading grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                        <li class="grid-sizer"></li>
                        {% for blog in blog %}
                            <li class="grid-item">
                                <div class="card bg-transparent border-0 h-100">
                                    <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                        <a href="{% url 'frontend:viewBlog' blog.slug %}">
                                            <img src="{% static 'frontend/images/blog/1.png' %}" alt />
                                        </a>
                                    </div>
                                    <div class="card-body px-0 pt-30px pb-30px">
                                        <a href="{% url 'frontend:viewBlog' blog.slug %}" class="card-title mb-10px fw-600 fs-17 lh-26 text-dark-gray text-dark-gray-hover d-inline-block w-95">
                                            {{ blog.title }}
                                        </a>
                                        <p class="mb-10px w-95">
                                            {{ blog.description|safe|truncatewords:10 }}
                                        </p>
                                        <a href="{% url 'frontend:viewBlog' blog.slug %}" class="card-link alt-font fs-12 text-uppercase text-dark-gray text-dark-gray-hover fw-700">
                                            More reading
                                            <i class="feather icon-feather-arrow-right icon-very-small"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-12 mt-2 d-flex justify-content-center">
                    <ul class="pagination pagination-style-01 fs-13 fw-500 mb-0">
                        <li class="page-item">
                            <a class="page-link" href="{% url 'frontend:blog' %}">
                                See More
                                <i class="feather icon-feather-arrow-right fs-18 d-xs-none"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 counter-style-04" data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <!-- start counter item -->
                <div class="col last-paragraph-no-margin md-mb-30px text-center text-md-start">
                    <span class="alt-font fw-600 d-block mb-5px text-dark-gray fs-18">Student Sponsor.</span>
                    <div class="separator-line-1px bg-extra-medium-gray w-90 mt-25px mb-25px sm-w-100"></div>
                    <h3 class="vertical-counter d-inline-flex alt-font text-dark-gray fw-700 ls-minus-2px sm-ls-minus-1px sm-mb-0" data-text="+" data-to="30"></h3>
                </div>
                <!-- end counter item -->
                <!-- start counter item -->
                <div class="col last-paragraph-no-margin md-mb-30px text-center text-md-start">
                    <span class="alt-font fw-600 d-block mb-5px text-dark-gray fs-18">Student enrolled in Oasis School.</span>
                    <div class="separator-line-1px bg-extra-medium-gray w-90 mt-25px mb-25px sm-w-100"></div>
                    <h3 class="vertical-counter d-inline-flex alt-font text-dark-gray fw-700 ls-minus-2px sm-ls-minus-1px sm-mb-0" data-text="+" data-to="0"></h3> 
                </div>
                <!-- end counter item -->
                <!-- start counter item -->
                <div class="col last-paragraph-no-margin sm-mb-30px text-center text-md-start">
                    <span class="alt-font fw-600 d-block mb-5px text-dark-gray fs-18">Post secondary student support.</span>
                    <div class="separator-line-1px bg-extra-medium-gray w-90 mt-25px mb-25px sm-w-100"></div>
                    <h3 class="vertical-counter d-inline-flex alt-font text-dark-gray fw-700 ls-minus-2px sm-ls-minus-1px sm-mb-0" data-text="+" data-to="30"></h3> 
                </div>
                <!-- end counter item -->
                <!-- start counter item -->
                <div class="col last-paragraph-no-margin text-center text-md-start">
                    <span class="alt-font fw-600 d-block mb-5px text-dark-gray fs-18">Empower women.</span>
                    <div class="separator-line-1px bg-extra-medium-gray w-90 mt-25px mb-25px sm-w-100"></div>
                    <h3 class="vertical-counter d-inline-flex alt-font text-dark-gray fw-700 ls-minus-2px sm-ls-minus-1px sm-mb-0" data-text="+" data-to="10"></h3> 
                </div>
                <!-- end counter item -->
            </div>
        </div>
    </section>

    <section class="big-section position-relative"> 
        <div class="background-position-center-top background-no-repeat position-absolute h-100 w-100 left-0px top-0px" style="background-image: url({% static 'frontend/images/bg-1.png' %})"></div>
        <div class="container position-relative">
            <div class="row justify-content-center mb-8 lg-mb-8px" data-anime='{ "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col-xl-4 col-md-5">
                    <h2 class="alt-font text-dark-gray mb-30px fw-600 ls-minus-3px fs-34">
                        AOF believes that Christ welcomes all
                        <i class="bi bi-heart-fill d-inline-block align-top ms-10px animation-zoom icon-very-medium text-red"></i>
                    </h2>
                </div>
                <div class="col-xl-6 col-md-7 overflow-hidden offset-xl-2"> 
                    <div class="swiper" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 40, "loop": true, "autoplay": { "delay": 8000, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView":1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                        <div class="swiper-wrapper"> 
                            <div class="swiper-slide">
                                <h5 class="text-dark-gray mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font fs-24">
                                    Our policy supports providing hope and promoting change irrespective of race or religion. We embrace supporters and volunteers from all backgrounds. At Africa Oasis Foundation , our motivation stems from <span class="text-decoration-line-bottom-medium fw-700">Jeremiah 29:11</span> that says “For I know the plans I have for you, ‘declares the Lord’ plans to prosper you and not to harm you, plans to give you hope and a future.”
                                </h5>
                            </div>
                        </div>  
                    </div> 
                </div>
            </div> 
        </div>
    </section>

{% endblock %}