{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

    <section class="p-0 h-50 full-screen ipad-top-space-margin position-relative overflow-hidden sm-h-auto">
        <div class="container-fluid p-0 h-100 position-relative">
            <div class="row h-50 g-0">
                <div class="col-12 col-md-6 d-flex justify-content-center flex-column p-10 position-relative xl-p-6 md-p-5 sm-ps-30px sm-pe-30px  sm-pt-50px sm-pb-50px order-2 order-md-1" style="background-color: #005153;">
                    <div class="vertical-title-center align-items-center w-75px justify-content-center position-absolute h-auto d-none d-md-flex">
                        <div class="title fs-16 alt-font text-white fw-700 text-uppercase ls-05px text-uppercase" data-fancy-text='{ "opacity": [0, 1], "translateY": [50, 0], "filter": ["blur(20px)", "blur(0px)"], "string": ["MAKING DISCIPLES JESUS CHRIST"], "duration": 400, "delay": 0, "speed": 50, "easing": "easeOutQuad" }'></div>
                    </div>
                    <div class="border-start border-color-extra-medium-gray ps-60px ms-100px lg-ps-30px lg-ms-70px position-relative z-index-9 sm-ps-30px sm-pe-30px sm-ms-0 border-0" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <h1 class="text-white fs-40 fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 ls-minus-4px sm-ls-minus-2px md-me-0">
                            Transforming Live, Restoring Relationships, changing communities
                        </h1>
                        <p class="w-100 mb-35px lg-w-90 sm-w-100 text-white">In the heart of Rwanda, a land known for its resilience and beauty, the Africa Oasis Foundation was established with a profound mission at its core.</p>
                        <a href="#" class="btn btn-extra-large btn-gradient-fuel-yellow-blue fw-400">Learn more - About us</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 position-relative order-1 order-md-2">
                    <div class="swiper h-100 banner-slider sm-h-450px swiper-light-pagination" data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-pagination-bullets", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "stopOnLastSlide": true, "disableOnInteraction": false },"keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "fade" }'>
                        <div class="swiper-wrapper">
                            {% for slide in slides %}
                                <div class="swiper-slide">
                                    <div class="position-absolute left-0px top-0px w-100 h-100 cover-background" style="background-image:url({{ slide.image.url }});"></div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- start slider navigation -->
                        <!-- <div class="slider-one-slide-prev-1 icon-very-small text-white swiper-button-prev slider-navigation-style-06 d-none d-sm-inline-block"><i class="line-icon-Arrow-OutLeft icon-extra-large"></i></div>
                            <div class="slider-one-slide-next-1 icon-very-small text-white swiper-button-next slider-navigation-style-06 d-none d-sm-inline-block"><i class="line-icon-Arrow-OutRight icon-extra-large"></i></div> -->
                        <!-- end slider navigation -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 position-relative">
                    <div class="col-12 position-relative overflow-hidden border-radius-6px h-350px lg-h-550px md-h-400px d-flex align-items-center justify-content-center">
                        <video muted class="video-bg html-video border-radius-6px video-play-icon" poster="{% static 'frontend/images/video.jpg' %}">
                            <source type="video/mp4" src="https://player.vimeo.com/video/949457345" />
                            <source type="video/webm" src="https://player.vimeo.com/video/949457345" />
                        </video> 
                        <a href="https://player.vimeo.com/video/949457345" class="popup-youtube">
                            <div class="absolute-middle-center z-index-9">
                                <div class="d-flex justify-content-center">
                                    <img src="{% static 'frontend/images/text-curve.png' %}" class="animation-rotation w-50" alt="">
                                </div>
                                <div class="absolute-middle-center w-50 z-index-minus-1">
                                    <img src="{% static 'frontend/images/play.png' %}" alt="">
                                </div> 
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 md-mt-20 sm-mt-0" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="mb-10px">
                        <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                        <span class="text-dark fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">ABOUT AFRICA OASIS FOUNDATION</span>
                    </div>
                    <h4 class="text-dark-gray alt-font fw-600 ls-minus-2px mb-20px">
                        Discovering God's Love: The Story of Africa Oasis Foundation in Rwanda
                    </h4>
                    <p class="w-100 md-w-100 mb-35px sm-mb-20px">
                        Africa Oasis Foundation was founded in 2021. The organization, based out of Scottsdale, Arizona, educates, empowers, and encourages the orphaned, poor and in the country of Rwanda. Africa Oasis Foundation desires to reveal the truth of God’s unconditional love through Jesus Christ to the people of Rwanda.
                    </p>
                    <a href="{% url 'frontend:projects' %}" class="btn btn-large btn-dark-gray btn-switch-text btn-box-shadow border-1 left-icon me-10px sm-mb-15px sm-mt-15px">
                        <span>
                            <span style="margin-right: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 512 512"><path fill="currentColor" d="m329.8 235.69l62.83-82.71l42.86 32.56l-62.83 82.75zm-12.86-9.53l66.81-88l-45-34.15l-66.81 88zm-27.48-97.78l-19.3 39.57l57-75l-42.51-32.3l-36.24 47.71zm-20.74-73.24l-46.64-35.43l-42 55.31l53.67 26.17zm107 235.52l-139-102.71l-9.92.91l4.56 2l62.16 138.43l-16.52 2.25l-57.68-128.5l-40-17.7l-4-30.84l39.41 19.42l36.36-3.33l17-34.83l-110.9-54.09l-80.68 112.51L177.6 346.67l-22.7 145.62H341V372.62l35.29-48.93L387 275.77z"/></svg>
                            </span>
                            <span class="btn-double-text" data-text="Our Projects">Our Projects</span> 
                        </span>
                    </a> 
                    <a href="{% url 'frontend:contact' %}" class="btn btn-large btn-transparent-light-gray border-1 btn-switch-text left-icon sm-mb-15px sm-mt-15px">
                        <span>
                            <span style="margin-right: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em" viewBox="0 0 24 24"><path fill="currentColor" d="M19.95 21q-3.125 0-6.175-1.362t-5.55-3.863t-3.862-5.55T3 4.05q0-.45.3-.75t.75-.3H8.1q.35 0 .625.238t.325.562l.65 3.5q.05.4-.025.675T9.4 8.45L6.975 10.9q.5.925 1.187 1.787t1.513 1.663q.775.775 1.625 1.438T13.1 17l2.35-2.35q.225-.225.588-.337t.712-.063l3.45.7q.35.1.575.363T21 15.9v4.05q0 .45-.3.75t-.75.3M6.025 9l1.65-1.65L7.25 5H5.025q.125 1.025.35 2.025T6.025 9m8.95 8.95q.975.425 1.988.675T19 18.95v-2.2l-2.35-.475zm0 0"/></svg>
                            </span>
                            <span class="btn-double-text" data-text="Contact Us">Contact Us</span> 
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-0">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center" data-anime='{"el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,0.7], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                {% for section in sections %}
                    <div class="col icon-with-text-style-07 transition-inner-all mb-30px">
                        <div class="hover-box dark-hover feature-box p-55px lg-p-30px overflow-hidden bg-dark-slate-blue text-start box-shadow-double-large-hover">
                            <div class="feature-box-icon min-h-150px sm-min-h-100px mb-20 z-index-9"> 
                                <span>
                                    <img src="{{ section.icon.url }}" alt="{{ section.title }}" class="w-50">
                                </span>
                            </div>
                            <div class="feature-box-title fs-100 fw-600 text-black opacity-2 ls-minus-10px">{{ section.get_section_display }}</div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block text-white mb-5px fs-18">{{ section.title }}</span>
                                <p class="w-90 xl-w-100 lh-30 text-light-opacity lh-30 text-light-opacity">
                                    {{ section.description }}
                                </p>
                            </div>
                            <div class="feature-box-overlay bg-aluminium-grey"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-extra-dark-slate-blue background-position-center-top big-section" style="background-image: url({% static 'frontend/images/shapes/vertical-line-bg-small.svg' %})">
        <div class="container">
            <div class="row align-items-center mb-6 sm-mb-9 text-center text-lg-start">
                <div class="col-lg-5 md-mb-20px">
                    <h3 class="alt-font text-white fw-600 mb-0 ls-minus-1px" style="font-size: 36px;">
                        What We Do
                    </h3>
                </div>
                <div class="col-lg-7 last-paragraph-no-margin md-mb-20px">
                    <p class="w-100 md-w-100">
                        The Community Impact Programs of Africa Oasis Foundation: Rooted in Biblical Principles for Lasting Change.
                    </p>
                </div>
            </div>
            <div class="position-absolute left-minus-100px" data-bottom-top="transform: translateY(-180px)" data-top-bottom="transform: translateY(180px)">
                <img src="{% static 'frontend/images/shapes/bg-05.png' %}" alt="" >
            </div>
            <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "scale":[0.9,1], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <!-- start interactive banner item -->
                <div class="col lg-mb-30px mb-3">
                    <div class="interactive-banner-style-06">
                        <div class="interactive-banners-image">
                            <img src="{% static 'frontend/images/what-we-do/card/education.jpg' %}" alt="" />
                            <div class="overlay-bg bg-gradient-black-bottom-transparent opacity-light"></div>
                            <a href="{% url 'frontend:education' %}" class="banners-icon text-white icon-hover-base-color position-absolute top-60px left-60px lg-top-30px lg-left-30px">
                                {% comment %} <img src="{% static 'frontend/images/icons/png/education.png' %}" alt="" class="w-25"> {% endcomment %}
                            </a>
                        </div>
                        <div class="interactive-banners-content p-60px lg-p-30px"> 
                            <div class="h-100 w-100 last-paragraph-no-margin"> 
                                <a href="{% url 'frontend:education' %}" class="fs-26 d-block text-white mb-10px fw-500">Education</a>
                                <p class="fs-14 text-white interactive-banners-content-text w-100 lg-w-100">
                                    Your partnership provides essential educational supplies and fosters critical thinking environments, empowering students to engage deeply and think independently, preparing them for future success and innovation.
                                </p>
                                <a href="{% url 'frontend:education' %}" class="btn btn-white btn-small btn-switch-text btn-rounded text-transform-none btn-box-shadow purchase-envato">
                                    <span>
                                        <span class="btn-double-text" data-text="Read More">Read More</span>
                                    </span> 
                                </a>
                            </div>
                        </div>
                        <div class="box-overlay bg-gradient-dark-transparent"></div>
                    </div>
                </div>
                <!-- end interactive banner item -->
                <!-- start interactive banner item -->
                <div class="col lg-mb-30px mb-3">
                    <div class="interactive-banner-style-06">
                        <div class="interactive-banners-image">
                            <img src="{% static 'frontend/images/what-we-do/card/vocational.jpg' %}" alt="" />
                            <div class="overlay-bg bg-gradient-black-bottom-transparent opacity-light"></div>
                            <a href="{% url 'frontend:vocationalTraining' %}" class="banners-icon text-white icon-hover-base-color position-absolute top-60px left-60px lg-top-30px lg-left-30px">
                                {% comment %} <img src="{% static 'frontend/images/icons/png/vocational.png' %}" alt="" class="w-25"> {% endcomment %}
                            </a>
                        </div>
                        <div class="interactive-banners-content p-60px lg-p-30px"> 
                            <div class="h-100 w-100 last-paragraph-no-margin"> 
                                <a href="{% url 'frontend:vocationalTraining' %}" class="fs-26 d-block text-white mb-10px fw-500">Vocational Training</a>
                                <p class="fs-14 text-white interactive-banners-content-text w-100 lg-w-100">
                                    Your partnership supports training programs that equip local farmers with advanced techniques for improved crop yields and sustainable practices, boosting economic stability and community sustainability.
                                </p>
                                <a href="{% url 'frontend:vocationalTraining' %}" class="btn btn-white btn-small btn-switch-text btn-rounded text-transform-none btn-box-shadow purchase-envato">
                                    <span>
                                        <span class="btn-double-text" data-text="Read More">Read More</span>
                                    </span> 
                                </a>
                            </div>
                        </div>
                        <div class="box-overlay bg-gradient-dark-transparent"></div>
                    </div>
                </div>
                <!-- end interactive banner item -->
                <!-- start interactive banner item -->
                <div class="col lg-mb-30px mb-3">
                    <div class="interactive-banner-style-06">
                        <div class="interactive-banners-image">
                            <img src="{% static 'frontend/images/what-we-do/card/medical.jpg' %}" alt="" />
                            <div class="overlay-bg bg-gradient-black-bottom-transparent opacity-light"></div>
                            <a href="{% url 'frontend:medicalCare' %}" class="banners-icon text-white icon-hover-base-color position-absolute top-60px left-60px lg-top-30px lg-left-30px">
                                {% comment %} <img src="{% static 'frontend/images/icons/png/medical.png' %}" alt="" class="w-25"> {% endcomment %}
                            </a>
                        </div>
                        <div class="interactive-banners-content p-60px lg-p-30px"> 
                            <div class="h-100 w-100 last-paragraph-no-margin"> 
                                <a href="{% url 'frontend:medicalCare' %}" class="fs-26 d-block text-white mb-10px fw-500">Medical Care</a>
                                <p class="fs-14 text-white interactive-banners-content-text w-100 lg-w-100">
                                    Your partnership provides comprehensive medical care for students and supports outreach programs in nearby villages, addressing healthcare needs and promoting public health.
                                </p>
                                <a href="{% url 'frontend:medicalCare' %}" class="btn btn-white btn-small btn-switch-text btn-rounded text-transform-none btn-box-shadow purchase-envato">
                                    <span>
                                        <span class="btn-double-text" data-text="Read More">Read More</span>
                                    </span> 
                                </a>
                            </div>
                        </div>
                        <div class="box-overlay bg-gradient-dark-transparent"></div>
                    </div>
                </div>
                <!-- end interactive banner item -->
                <!-- start interactive banner item -->
                <div class="col lg-mb-30px mb-3">
                    <div class="interactive-banner-style-06">
                        <div class="interactive-banners-image">
                            <img src="{% static 'frontend/images/what-we-do/card/community.jpg' %}" alt="" />
                            <div class="overlay-bg bg-gradient-black-bottom-transparent opacity-light"></div>
                            <a href="{% url 'frontend:communityEmpowerment' %}" class="banners-icon text-white icon-hover-base-color position-absolute top-60px left-60px lg-top-30px lg-left-30px">
                                {% comment %} <img src="{% static 'frontend/images/icons/png/community.png' %}" alt="" class="w-25"> {% endcomment %}
                            </a>
                        </div>
                        <div class="interactive-banners-content p-60px lg-p-30px"> 
                            <div class="h-100 w-100 last-paragraph-no-margin"> 
                                <a href="{% url 'frontend:communityEmpowerment' %}" class="fs-26 d-block text-white mb-10px fw-500">Community Support</a>
                                <p class="fs-14 text-white interactive-banners-content-text w-100 lg-w-100">
                                    Your partnership enables our team to offer resources for financial independence, emotional and physical health, and spiritual growth, including financial literacy programs, mental health counseling, wellness activities, and spiritual guidance, promoting holistic well-being.
                                </p>
                                <a href="{% url 'frontend:communityEmpowerment' %}" class="btn btn-white btn-small btn-switch-text btn-rounded text-transform-none btn-box-shadow purchase-envato">
                                    <span>
                                        <span class="btn-double-text" data-text="Read More">Read More</span>
                                    </span> 
                                </a>
                            </div>
                        </div>
                        <div class="box-overlay bg-gradient-dark-transparent"></div>
                    </div>
                </div>
                <!-- end interactive banner item -->
                <!-- start interactive banner item -->
                <div class="col lg-mb-30px mb-3">
                    <div class="interactive-banner-style-06">
                        <div class="interactive-banners-image">
                            <img src="{% static 'frontend/images/what-we-do/card/tunga.jpg' %}" alt="" />
                            <div class="overlay-bg bg-gradient-black-bottom-transparent opacity-light"></div>
                            <a href="#" class="banners-icon text-white icon-hover-base-color position-absolute top-60px left-60px lg-top-30px lg-left-30px">
                                {% comment %} <img src="{% static 'frontend/images/icons/png/tunga.png' %}" alt="" class="w-25"> {% endcomment %}
                            </a>
                        </div>
                        <div class="interactive-banners-content p-60px lg-p-30px"> 
                            <div class="h-100 w-100 last-paragraph-no-margin"> 
                                <a href="{% url 'frontend:communityEmpowerment' %}" class="fs-26 d-block text-white mb-10px fw-500">Tunga Women Initiative</a>
                                <p class="fs-14 text-white interactive-banners-content-text w-100 lg-w-100">
                                    Africa Oasis empowers mothers in Bugesera District through a beading and tailoring program, weekly Bible study, and money management training, fostering spiritual and financial growth. Their crafts drive social and economic upliftment, and we are honored to support their resilience.
                                </p>
                                <a href="{% url 'frontend:communityEmpowerment' %}" class="btn btn-white btn-small btn-switch-text btn-rounded text-transform-none btn-box-shadow purchase-envato">
                                    <span>
                                        <span class="btn-double-text" data-text="Read More">Read More</span>
                                    </span> 
                                </a>
                            </div>
                        </div>
                        <div class="box-overlay bg-gradient-dark-transparent"></div>
                    </div>
                </div>
                <!-- end interactive banner item -->
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "scale":[0.9,1], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                {% for project in projects %}
                    <div class="col lg-mb-30px">
                        <div class="interactive-banner-style-04 transition-inner-all">
                            <figure class="m-0 hover-box position-relative overflow-hidden border-radius-6px">
                                <img class="lg-w-100" src="{{ project.image.url }}" alt="" />
                                <div class="overlay-bg bg-gradient-gray-light-dark-transparent opacity-full-dark"></div>
                                <figcaption class="d-flex flex-column justify-content-end h-100 w-100 p-25px">
                                    <div class="d-flex flex-column justify-content-center align-items-center last-paragraph-no-margin text-center features-content p-40px lg-p-50px md-p-25px">
                                        <div class="position-relative z-index-1">
                                            <a href="{% url 'frontend:viewProject' project.slug %}" class="d-block fw-600 text-white text-white-hover box-title fs-22 mb-5px">
                                                {{ project.title }}
                                            </a>
                                            <a href="{% url 'frontend:viewProject' project.slug %}" class="d-flex justify-content-center align-items-center w-60px h-60px rounded-circle bg-dark-gray mx-auto mt-20px">
                                                <i class="fa-solid fa-arrow-right text-white icon-small"></i>
                                            </a>
                                        </div>
                                        <div class="box-overlay bg-slate-blue border-radius-6px"></div>
                                    </div>
                                    <div class="fs-26 fw-500 text-center text-white box-button p-15px border-radius-2px d-inline-block">{{ project.title }}</div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="big-section overflow-hidden bg-slate-blue position-relative z-index-0">
        <img src="{% static 'frontend/images/circle-bg.png' %}" class="position-absolute top-minus-150px left-minus-30px z-index-minus-1" data-bottom-top="transform: rotate(0deg) translateY(0)" data-top-bottom="transform:rotate(-20deg) translateY(0)" alt="" />
        <div class="container">
            <div class="row align-items-center mb-6 sm-mb-9 text-center text-lg-start">
                <div class="col-lg-5 md-mb-20px">
                    <div class="mb-10px">
                        <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                        <span class="text-white fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">ABOUT AFRICA OASIS</span>
                    </div>
                    <h3 class="alt-font text-white fw-600 mb-0 ls-minus-1px" style="font-size: 36px;">
                        By cultivating genuine connections, providing quality education, and fortifying communal bonds
                    </h3>
                </div>
                <div class="col-lg-7 last-paragraph-no-margin md-mb-20px">
                    <h5 class="alt-font fs-20 text-white">How far does $49 go?</h5>
                    <p class="w-100 md-w-100">
                        $49/month goes a long way. When you give toward what’s needed most, your generosity allows daily discipleship to take place through
                    </p>
                    <div class="pt-2 justify-content-center justify-content-lg-end">
                        <a href="{% url 'frontend:monthlyDonating' %}" class="btn border-1 btn-transparent-light-gray btn-medium text-white">
                            Donate Monthly
                            <i class="feather icon-feather-chevron-right"></i>
                        </a>
                        <a href="{% url 'frontend:students' %}" class="btn border-1 btn-transparent-light-gray btn-medium text-white">
                            See More Students
                            <i class="feather icon-feather-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="outside-box-right-25 sm-outside-box-right-0">
                        <div class="swiper slider-one-slide" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                            <div class="swiper-wrapper">
                                {% for student in students %}
                                    <div class="swiper-slide">
                                        <div class="interactive-banner-style-09 border-radius-6px overflow-hidden position-relative">
                                            <img src="{{ student.image.url }}" alt="" />
                                            <div class="opacity-very-light bg-slate-blue"></div>
                                            <div class="image-content h-100 w-100 bg-gradient-gray-light-dark-transparent ps-15 pe-15 pt-13 pb-13 md-p-10 d-flex justify-content-bottom align-items-start flex-column">
                                                <div class="hover-label-icon position-relative z-index-9">
                                                    <div class="label bg-base-color fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12 ls-05px" style="background: #2946f3;">Not sponsored</div>
                                                    <i class="line-icon-Financial text-white icon-extra-large"></i>
                                                </div>
                                                <div class="mt-auto d-flex align-items-start w-100 z-index-1 position-relative overflow-hidden flex-column">
                                                    <span class="text-white fw-600 fs-20">{{ student.name }}</span>
                                                    <span class="content-title text-white fs-13 fw-500 text-uppercase ls-05px">{{ student.age }} Years Old, {{ student.gender }}</span>
                                                    <a href="{% url 'frontend:getStudent' student.slug %}" class="content-title-hover fs-13 lh-24 fw-500 ls-05px text-uppercase text-white opacity-6 text-decoration-line-bottom">See More</a>
                                                    <span class="content-arrow lh-42px rounded-circle bg-white w-50px h-50px ms-20px text-center"><i class="fa-solid fa-chevron-right text-dark-gray fs-16"></i></span>
                                                </div>
                                                <div class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-regal-blue-transparent opacity-9"></div>
                                                <div class="box-overlay bg-gradient-dark-transparent"></div>
                                                <a href="{% url 'frontend:getStudent' student.slug %}" class="position-absolute z-index-1 top-0px left-0px h-100 w-100"></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 pb-0">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 counter-style-04" data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <!-- start counter item -->
                <div class="col last-paragraph-no-margin md-mb-30px text-center text-md-start">
                    <span class="alt-font fw-600 d-block mb-5px text-dark-gray fs-18">Student <br> Sponsor.</span>
                    <div class="separator-line-1px bg-extra-medium-gray w-90 mt-25px mb-25px sm-w-100"></div>
                    <h3 class="vertical-counter d-inline-flex alt-font text-dark-gray fw-700 ls-minus-2px sm-ls-minus-1px sm-mb-0" data-text="+" data-to="{{ student_count }}"></h3>
                </div>
                <!-- end counter item -->
                <!-- start counter item -->
                <div class="col last-paragraph-no-margin md-mb-30px text-center text-md-start">
                    <span class="alt-font fw-600 d-block mb-5px text-dark-gray fs-18">Student enrolled in Oasis School.</span>
                    <div class="separator-line-1px bg-extra-medium-gray w-90 mt-25px mb-25px sm-w-100"></div>
                    <h3 class="vertical-counter d-inline-flex alt-font text-dark-gray fw-700 ls-minus-2px sm-ls-minus-1px sm-mb-0" data-text="+" data-to="{{ student_count }}"></h3> 
                </div>
                <!-- end counter item -->
                <!-- start counter item -->
                <div class="col last-paragraph-no-margin sm-mb-30px text-center text-md-start">
                    <span class="alt-font fw-600 d-block mb-5px text-dark-gray fs-18">Vocational Training.</span>
                    <div class="separator-line-1px bg-extra-medium-gray w-90 mt-25px mb-25px sm-w-100"></div>
                    <h3 class="vertical-counter d-inline-flex alt-font text-dark-gray fw-700 ls-minus-2px sm-ls-minus-1px sm-mb-0" data-text="+" data-to="3"></h3> 
                </div>
                <!-- end counter item -->
                <!-- start counter item -->
                <div class="col last-paragraph-no-margin text-center text-md-start">
                    <span class="alt-font fw-600 d-block mb-5px text-dark-gray fs-18">Empower <br> women.</span>
                    <div class="separator-line-1px bg-extra-medium-gray w-90 mt-25px mb-25px sm-w-100"></div>
                    <h3 class="vertical-counter d-inline-flex alt-font text-dark-gray fw-700 ls-minus-2px sm-ls-minus-1px sm-mb-0" data-text="+" data-to="{{ project_count }}"></h3> 
                </div>
                <!-- end counter item -->
            </div>
        </div>
    </section>

    <section class="bg-extra-dark-slate-blue big-section position-relative"> 
        <div class="background-position-center-top background-no-repeat position-absolute h-100 w-100 left-0px top-0px" style="background-image: url({% static 'frontend/images/shapes/vertical-line-bg-small.svg' %})"></div>
        <div class="position-absolute left-minus-100px" data-bottom-top="transform: translateY(-180px)" data-top-bottom="transform: translateY(180px)">
            <img src="{% static 'frontend/images/shapes/bg-05.png' %}" alt="" >
        </div>
        <div class="container position-relative">
            <div class="row justify-content-center mb-8 lg-mb-8px" data-anime='{ "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col-xl-4 col-md-5">
                    <h2 class="alt-font text-white mb-30px fw-600 ls-minus-3px fs-34">
                        AOF believes that Christ welcomes all
                        <i class="bi bi-heart-fill d-inline-block align-top ms-10px animation-zoom icon-very-medium text-red"></i>
                    </h2>
                </div>
                <div class="col-xl-6 col-md-7 overflow-hidden offset-xl-2"> 
                    <div class="swiper" data-slider-options='{ "slidesPerView": 1, "spaceBetween": 40, "loop": true, "autoplay": { "delay": 8000, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1 }, "768": { "slidesPerView":1 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                        <div class="swiper-wrapper"> 
                            <div class="swiper-slide">
                                <h5 class="text-white mb-15px w-95 xl-w-100 lh-40 ls-minus-1px alt-font fs-24">
                                    Our policy supports providing hope and promoting change irrespective of race or religion. We embrace supporters and volunteers from all backgrounds. At Africa Oasis Foundation , our motivation stems from <span class="text-decoration-line-bottom-medium fw-700">Jeremiah 29:11</span> that says “For I know the plans I have for you, ‘declares the Lord’ plans to prosper you and not to harm you, plans to give you hope and a future.”
                                </h5>
                            </div>
                        </div>  
                    </div> 
                </div>
            </div> 
        </div>
    </section>

{% endblock %}