
{% load static %}
<!DOCTYPE html>
<html lang="en">
 
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="AOF ">
        <title>
            Welcome to AOF
        </title>
    </head>
    <body>
        <!--TODO: Add Navbar  -->
       
    {% block content %}

    {% endblock content %}
       <!-- TODO: Add footer -->
       <!-- Add aos -->
       <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>