{% load static %}

<style>
     .bg-regal-blue {
     background-color: #162340;
     }
     .bg-blue-whale {
     background-color: #16233F;
     }
</style>

<section id="slider" class="p-0 top-space-margin ">
     <div class="demo-corporate-slider_wrapper fullscreen-container" data-alias="portfolio-viewer" data-source="gallery" style="background-color:transparent;padding:0px;">
          <div id="about-rwanda-slider" class="rev_slider bg-regal-blue fullscreenbanner" style="display:none;" data-version="5.3.1.6">
               <ul>
                    <li data-index="rs-01" data-transition="parallaxleft" data-slotamount="default"
                         data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                         data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off"
                         data-title="Crossfit" data-param1="" data-param2="" data-param3="" data-param4=""
                         data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                         data-description="">
                         <!-- slide's main background image -->
                         <img src="{% static 'frontend/images/about-rwanda/slider-1.jpg' %}" alt="Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                         <!-- start overlay layer -->
                         <div class="tp-caption tp-shape tp-shapewrapper " id="slide-1-layer-01"
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                              data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                              data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                              data-frames='[{"delay":0,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                              {"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power4.easeInOut"}]' style="background:rgba(22,35,63,0.1); z-index: 0;">
                         </div>
                         <!-- end overlay layer -->
                         <!-- start shape layer -->
                         <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-regal-blue border-radius-50"
                              id="slide-1-layer-02" data-x="['center','center','center','center']"
                              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                              data-voffset="['0','0','0','0']" data-width="['900','700','700','600']"
                              data-height="['900','700','700','600']" data-whitespace="nowrap" data-type="shape"
                              data-responsive_offset="on"
                              data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"x:0px;y:50px;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;opacity:0;","to":"o:0.5;","ease":"Back.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                              data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                              data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                              data-paddingleft="[0,0,0,0]" style="z-index: 0;">
                         </div>
                         <!-- end shape layer -->
                         <!-- start shape layer -->
                         <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-regal-blue border-radius-50"
                              id="slide-1-layer-03" data-x="['center','center','center','center']"
                              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                              data-voffset="['0','0','0','0']" data-width="['1200','1000','900','800']"
                              data-height="['1200','1000','900','800']" data-whitespace="nowrap" data-type="shape"
                              data-responsive_offset="on"
                              data-frames='[{"delay":1300,"speed":1000,"frame":"0","from":"x:0px;y:50px;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;opacity:0;","to":"o:0.3;","ease":"Back.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                              data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                              data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                              data-paddingleft="[0,0,0,0]" style="z-index: 0;">
                         </div>
                         <!-- end shape layer -->
                         <!-- start row zone layer -->
                         <div id="rrzm_638" class="rev_row_zone rev_row_zone_middle">
                         <!-- start row layer -->
                         <div class="tp-caption  " id="slide-1-layer-04" data-x="['left','left','left','left']"
                              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                              data-voffset="['-426','-426','-426','-426']" data-width="none" data-height="none"
                              data-whitespace="nowrap" data-type="row" data-columnbreak="3"
                              data-responsive_offset="on" data-responsive="off"
                              data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                              data-textAlign="['inherit','inherit','inherit','inherit']"
                              data-paddingtop="[0,0,0,0]" data-paddingright="[100,75,50,30]"
                              data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,75,50,30]">
                              <!-- start column layer -->
                              <div class="tp-caption" id="slide-1-layer-05" data-x="['left','left','left','left']"
                                   data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']"
                                   data-voffset="['100','100','100','100']" data-width="none" data-height="none"
                                   data-whitespace="nowrap" data-type="column" data-responsive_offset="on"
                                   data-responsive="off"
                                   data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                   data-columnwidth="100%" data-verticalalign="top"
                                   data-textAlign="['center','center','center','center']">
                                   <div class="tp-caption mx-auto" id="slide-1-layer-07"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['0','0','0','0']" data-fontsize="['75','60','70','50']"
                                        data-lineheight="['70','65','75','55']"
                                        data-fontweight="['700','700','700','700']"
                                        data-letterspacing="['-2','-2','-2','0']"
                                        data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"
                                        data-width="['700','600','600','auto']" data-height="auto"
                                        data-whitespace="normal" data-basealign="grid" data-type="text"
                                        data-responsive_offset="off" data-verticalalign="middle"
                                        data-responsive="on"
                                        data-frames='[{"delay":"1500","split":"chars","splitdelay":0.03,"speed":800,"split_direction":"middletoedge","frame":"0","from":"x:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":100,"frame":"999","to":"opacity:0;fb:0;","ease":"Power4.easeOut"}]'
                                        data-textAlign="['center','center','center','center']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[33,28,35,25]" data-paddingleft="[0,0,0,0]"
                                        style="word-break: initial; text-shadow: #0b1236 3px 3px 15px;">
                                        ABOUT RWANDA 
                                   </div>
                                   <!-- end title layer -->
                                   <!-- start text layer -->
                                   <div class="tp-caption mx-auto" id="slide-1-layer-08"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['0','0','0','0']" data-fontsize="['20','20','24','20']"
                                        data-lineheight="['36','36','40','30']"
                                        data-fontweight="['300','300','300','300']"
                                        data-letterspacing="['0','0','0','0']"
                                        data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"
                                        data-width="['500','500','auto','auto']" data-height="auto"
                                        data-whitespace="normal" data-basealign="grid" data-type="text"
                                        data-responsive_offset="off" data-verticalalign="middle"
                                        data-responsive="on"
                                        data-frames='[{"delay":2500,"speed":800,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:0.6;fb:0;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"power3.inOut"}]'
                                        data-textAlign="['center','center','center','center']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[36,36,60,40]" data-paddingleft="[0,0,0,0]">
                                        Rwanda, "the land of a thousand hills," in central Africa, has five volcanoes, twenty-three lakes, and rivers forming the source of the Nile. It's bordered by Uganda, Tanzania, Burundi, and the Democratic Republic of Congo.
                                   </div>
                                   <div class="tp-caption tp-resizeme" id="slide-1-layer-09"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                                        data-voffset="['0','0','0','0']" data-width="auto" data-height="none"
                                        data-whitespace="nowrap" data-fontsize="['18','16','16','16']"
                                        data-lineheight="['70','55','55','55']" data-type="text"
                                        data-responsive_offset="off" data-responsive="off"
                                        data-frames='[{"delay":3000,"speed":1000,"frame":"0","from":"y:100px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[75,70,65,60]"
                                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[45,35,30,30]">
                                   </div>
                              </div>
                         </div>
                         </div>
                    </li>
                    <li data-index="rs-02" data-transition="parallaxleft" data-slotamount="default"
                         data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                         data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off"
                         data-title="Crossfit" data-param1="" data-param2="" data-param3="" data-param4=""
                         data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                         data-description="">
                         <!-- slide's main background image -->
                         <img src="{% static 'frontend/images/about-rwanda/slider-2.jpg' %}" alt="Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                         <!-- start overlay layer -->
                         <div class="tp-caption tp-shape tp-shapewrapper " id="slide-1-layer-01"
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                              data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                              data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                              data-frames='[{"delay":0,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                              {"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power4.easeInOut"}]' style="background:rgba(22,35,63,0.1); z-index: 0;">
                         </div>
                         <!-- end overlay layer -->
                         <!-- start shape layer -->
                         <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-regal-blue border-radius-50"
                              id="slide-1-layer-02" data-x="['center','center','center','center']"
                              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                              data-voffset="['0','0','0','0']" data-width="['900','700','700','600']"
                              data-height="['900','700','700','600']" data-whitespace="nowrap" data-type="shape"
                              data-responsive_offset="on"
                              data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"x:0px;y:50px;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;opacity:0;","to":"o:0.5;","ease":"Back.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                              data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                              data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                              data-paddingleft="[0,0,0,0]" style="z-index: 0;">
                         </div>
                         <!-- end shape layer -->
                         <!-- start shape layer -->
                         <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-regal-blue border-radius-50"
                              id="slide-1-layer-03" data-x="['center','center','center','center']"
                              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                              data-voffset="['0','0','0','0']" data-width="['1200','1000','900','800']"
                              data-height="['1200','1000','900','800']" data-whitespace="nowrap" data-type="shape"
                              data-responsive_offset="on"
                              data-frames='[{"delay":1300,"speed":1000,"frame":"0","from":"x:0px;y:50px;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;opacity:0;","to":"o:0.3;","ease":"Back.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                              data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                              data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                              data-paddingleft="[0,0,0,0]" style="z-index: 0;">
                         </div>
                         <!-- end shape layer -->
                         <!-- start row zone layer -->
                         <div id="rrzm_638" class="rev_row_zone rev_row_zone_middle">
                         <!-- start row layer -->
                         <div class="tp-caption  " id="slide-1-layer-04" data-x="['left','left','left','left']"
                              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                              data-voffset="['-426','-426','-426','-426']" data-width="none" data-height="none"
                              data-whitespace="nowrap" data-type="row" data-columnbreak="3"
                              data-responsive_offset="on" data-responsive="off"
                              data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                              data-textAlign="['inherit','inherit','inherit','inherit']"
                              data-paddingtop="[0,0,0,0]" data-paddingright="[100,75,50,30]"
                              data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,75,50,30]">
                              <!-- start column layer -->
                              <div class="tp-caption" id="slide-1-layer-05" data-x="['left','left','left','left']"
                                   data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']"
                                   data-voffset="['100','100','100','100']" data-width="none" data-height="none"
                                   data-whitespace="nowrap" data-type="column" data-responsive_offset="on"
                                   data-responsive="off"
                                   data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                   data-columnwidth="100%" data-verticalalign="top"
                                   data-textAlign="['center','center','center','center']">
                                   <div class="tp-caption mx-auto" id="slide-1-layer-07"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['0','0','0','0']" data-fontsize="['75','60','70','50']"
                                        data-lineheight="['70','65','75','55']"
                                        data-fontweight="['700','700','700','700']"
                                        data-letterspacing="['-2','-2','-2','0']"
                                        data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"
                                        data-width="['700','600','600','auto']" data-height="auto"
                                        data-whitespace="normal" data-basealign="grid" data-type="text"
                                        data-responsive_offset="off" data-verticalalign="middle"
                                        data-responsive="on"
                                        data-frames='[{"delay":"1500","split":"chars","splitdelay":0.03,"speed":800,"split_direction":"middletoedge","frame":"0","from":"x:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":100,"frame":"999","to":"opacity:0;fb:0;","ease":"Power4.easeOut"}]'
                                        data-textAlign="['center','center','center','center']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[33,28,35,25]" data-paddingleft="[0,0,0,0]"
                                        style="word-break: initial; text-shadow: #0b1236 3px 3px 15px;">
                                        Hilly Rwanda
                                   </div>
                                   <!-- end title layer -->
                                   <!-- start text layer -->
                                   <div class="tp-caption mx-auto" id="slide-1-layer-08"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['0','0','0','0']" data-fontsize="['20','20','24','20']"
                                        data-lineheight="['36','36','40','30']"
                                        data-fontweight="['300','300','300','300']"
                                        data-letterspacing="['0','0','0','0']"
                                        data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"
                                        data-width="['500','500','auto','auto']" data-height="auto"
                                        data-whitespace="normal" data-basealign="grid" data-type="text"
                                        data-responsive_offset="off" data-verticalalign="middle"
                                        data-responsive="on"
                                        data-frames='[{"delay":2500,"speed":800,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:0.6;fb:0;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"power3.inOut"}]'
                                        data-textAlign="['center','center','center','center']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[36,36,60,40]" data-paddingleft="[0,0,0,0]">
                                        Known for its hills, Rwanda in central Africa features volcanoes, lakes, and Nile-sourcing rivers. It is surrounded by Uganda, Tanzania, Burundi, and the Democratic Republic of Congo.
                                   </div>
                                   <div class="tp-caption tp-resizeme" id="slide-1-layer-09"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                                        data-voffset="['0','0','0','0']" data-width="auto" data-height="none"
                                        data-whitespace="nowrap" data-fontsize="['18','16','16','16']"
                                        data-lineheight="['70','55','55','55']" data-type="text"
                                        data-responsive_offset="off" data-responsive="off"
                                        data-frames='[{"delay":3000,"speed":1000,"frame":"0","from":"y:100px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[75,70,65,60]"
                                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[45,35,30,30]">
                                   </div>
                              </div>
                         </div>
                         </div>
                    </li>
                    <li data-index="rs-03" data-transition="parallaxleft" data-slotamount="default"
                         data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                         data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off"
                         data-title="Crossfit" data-param1="" data-param2="" data-param3="" data-param4=""
                         data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                         data-description="">
                         <!-- slide's main background image -->
                         <img src="{% static 'frontend/images/about-rwanda/slider-3.jpg' %}" alt="Image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                         <!-- start overlay layer -->
                         <div class="tp-caption tp-shape tp-shapewrapper " id="slide-1-layer-01"
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                              data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                              data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                              data-frames='[{"delay":0,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                              {"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power4.easeInOut"}]' style="background:rgba(22,35,63,0.1); z-index: 0;">
                         </div>
                         <!-- end overlay layer -->
                         <!-- start shape layer -->
                         <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-regal-blue border-radius-50"
                              id="slide-1-layer-02" data-x="['center','center','center','center']"
                              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                              data-voffset="['0','0','0','0']" data-width="['900','700','700','600']"
                              data-height="['900','700','700','600']" data-whitespace="nowrap" data-type="shape"
                              data-responsive_offset="on"
                              data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"x:0px;y:50px;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;opacity:0;","to":"o:0.5;","ease":"Back.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                              data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                              data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                              data-paddingleft="[0,0,0,0]" style="z-index: 0;">
                         </div>
                         <!-- end shape layer -->
                         <!-- start shape layer -->
                         <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-regal-blue border-radius-50"
                              id="slide-1-layer-03" data-x="['center','center','center','center']"
                              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                              data-voffset="['0','0','0','0']" data-width="['1200','1000','900','800']"
                              data-height="['1200','1000','900','800']" data-whitespace="nowrap" data-type="shape"
                              data-responsive_offset="on"
                              data-frames='[{"delay":1300,"speed":1000,"frame":"0","from":"x:0px;y:50px;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;opacity:0;","to":"o:0.3;","ease":"Back.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                              data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                              data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                              data-paddingleft="[0,0,0,0]" style="z-index: 0;">
                         </div>
                         <!-- end shape layer -->
                         <!-- start row zone layer -->
                         <div id="rrzm_638" class="rev_row_zone rev_row_zone_middle">
                         <!-- start row layer -->
                         <div class="tp-caption  " id="slide-1-layer-04" data-x="['left','left','left','left']"
                              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                              data-voffset="['-426','-426','-426','-426']" data-width="none" data-height="none"
                              data-whitespace="nowrap" data-type="row" data-columnbreak="3"
                              data-responsive_offset="on" data-responsive="off"
                              data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                              data-textAlign="['inherit','inherit','inherit','inherit']"
                              data-paddingtop="[0,0,0,0]" data-paddingright="[100,75,50,30]"
                              data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,75,50,30]">
                              <!-- start column layer -->
                              <div class="tp-caption" id="slide-1-layer-05" data-x="['left','left','left','left']"
                                   data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']"
                                   data-voffset="['100','100','100','100']" data-width="none" data-height="none"
                                   data-whitespace="nowrap" data-type="column" data-responsive_offset="on"
                                   data-responsive="off"
                                   data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                   data-columnwidth="100%" data-verticalalign="top"
                                   data-textAlign="['center','center','center','center']">
                                   <div class="tp-caption mx-auto" id="slide-1-layer-07"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['0','0','0','0']" data-fontsize="['75','60','70','50']"
                                        data-lineheight="['70','65','75','55']"
                                        data-fontweight="['700','700','700','700']"
                                        data-letterspacing="['-2','-2','-2','0']"
                                        data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"
                                        data-width="['700','600','600','auto']" data-height="auto"
                                        data-whitespace="normal" data-basealign="grid" data-type="text"
                                        data-responsive_offset="off" data-verticalalign="middle"
                                        data-responsive="on"
                                        data-frames='[{"delay":"1500","split":"chars","splitdelay":0.03,"speed":800,"split_direction":"middletoedge","frame":"0","from":"x:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":100,"frame":"999","to":"opacity:0;fb:0;","ease":"Power4.easeOut"}]'
                                        data-textAlign="['center','center','center','center']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[33,28,35,25]" data-paddingleft="[0,0,0,0]"
                                        style="word-break: initial; text-shadow: #0b1236 3px 3px 15px;">
                                        Heart of Africa
                                   </div>
                                   <!-- end title layer -->
                                   <!-- start text layer -->
                                   <div class="tp-caption mx-auto" id="slide-1-layer-08"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['0','0','0','0']" data-fontsize="['20','20','24','20']"
                                        data-lineheight="['36','36','40','30']"
                                        data-fontweight="['300','300','300','300']"
                                        data-letterspacing="['0','0','0','0']"
                                        data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"
                                        data-width="['500','500','auto','auto']" data-height="auto"
                                        data-whitespace="normal" data-basealign="grid" data-type="text"
                                        data-responsive_offset="off" data-verticalalign="middle"
                                        data-responsive="on"
                                        data-frames='[{"delay":2500,"speed":800,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:0.6;fb:0;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"power3.inOut"}]'
                                        data-textAlign="['center','center','center','center']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[36,36,60,40]" data-paddingleft="[0,0,0,0]">
                                        Central Africa's Rwanda, with its hills, volcanoes, and lakes, is bordered by Uganda, Tanzania, Burundi, and the Democratic Republic of Congo.
                                   </div>
                                   <div class="tp-caption tp-resizeme" id="slide-1-layer-09"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                                        data-voffset="['0','0','0','0']" data-width="auto" data-height="none"
                                        data-whitespace="nowrap" data-fontsize="['18','16','16','16']"
                                        data-lineheight="['70','55','55','55']" data-type="text"
                                        data-responsive_offset="off" data-responsive="off"
                                        data-frames='[{"delay":3000,"speed":1000,"frame":"0","from":"y:100px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]" data-paddingright="[75,70,65,60]"
                                        data-paddingbottom="[0,0,0,0]" data-paddingleft="[45,35,30,30]">
                                   </div>
                              </div>
                         </div>
                         </div>
                    </li>
               </ul>
               <div class="tp-bannertimer" style="height: 10px; background-color: rgba(0, 0, 0, 0.10); z-index: 98"></div>
          </div>
     </div>
</section>