<div class="modal fade" id="editSlideModal{{ slide.id }}" tabindex="-1" role="dialog" aria-labelledby="editSlideModalLabel{{ slide.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="card-header">
                    <h4>Edit Slide</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'backend:edit_slide' slide.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_image">Image</label>
                            <input type="file" name="image" id="id_image" class="form-control">
                            {% if slide.image %}
                                <img src="{{ slide.image.url }}" alt="Slide Image" class="img-thumbnail mt-2" style="max-height: 100px;">
                            {% endif %}
                        </div>
                        <div class="form-group form-check mt-3">
                            <input type="checkbox" name="status" id="id_status" class="form-check-input" {% if slide.status %}checked{% endif %}>
                            <label for="id_status" class="form-check-label">Active</label>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>