{% extends 'backend/layouts/app.html' %}
{% load static %}
{% block content %}

<div class="container-fluid dashboard-2">
    <div class="row">
        <div class="col-xxl-12"> 
            <div class="card"> 
                <div class="card-header">
                    <h4>Settings</h4>
                </div>
                <div class="card-body"> 
                    <ul class="nav nav-tabs border-tab border-0 mb-0 nav-danger" id="topline-tab" role="tablist">
                        <li class="nav-item"><a class="nav-link active nav-border pt-0 txt-danger nav-danger" id="home-slider-tab" data-bs-toggle="tab" href="#home-slider" role="tab" aria-controls="home-slider" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>Slides</a></li>
                        <li class="nav-item"><a class="nav-link nav-border txt-danger nav-danger" id="impact-tab-tab" data-bs-toggle="tab" href="#impact-tab" role="tab" aria-controls="impact-tab" aria-selected="false"><i class="icofont icofont-file-document"></i>Impact</a></li>
                    </ul>
                    <div class="tab-content" id="topline-tabContent">
                        <div class="tab-pane fade show active" id="home-slider" role="tabpanel" aria-labelledby="home-slider-tab">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h4>Slides</h4>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addnewslider">Add New Slider</button>
                                </div>
                                <div class="modal fade" id="addnewslider" tabindex="-1" role="dialog" aria-labelledby="addnewslider" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4>Add New Slide</h4>
                                                </div>
                                                <div class="card-body">
                                                    <form method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        <button type="submit" class="btn btn-primary w-100">Add</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <div class="row">
                                        {% for slide in slides %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <img src="{{ slide.image.url }}" alt="Slide Image" class="img-thumbnail" style="max-height: 100px;">
                                                <span>Status: 
                                                    {% if slide.status %}
                                                        <span class="badge badge-primary">Active</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Inactive</span>
                                                    {% endif %}
                                                </span>
                                                <div>
                                                    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#editSlideModal{{ slide.id }}">Edit</button>
                                                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteSlideModal{{ slide.id }}">Delete</button>
                                                </div>
                                            </li>
                                            
                                            <!-- Edit Slide Modal -->
                                            {% include 'backend/settings/edit.html' %}
                                            
                                            <!-- Delete Slide Modal -->
                                            {% include 'backend/settings/delete.html' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="impact-tab" role="tabpanel" aria-labelledby="impact-tab-tab">
                            <div class="card-body">
                                Impact Number
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
