{% load static %}

<section class="bg-extra-dark-slate-blue background-position-center-top big-section" style="background-image: url(images/vertical-line-bg-small.svg)">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center" data-anime='{"el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,0.7], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col icon-with-text-style-07 transition-inner-all mb-30px">
                <div class="hover-box dark-hover feature-box p-55px lg-p-30px overflow-hidden bg-dark-slate-blue text-start box-shadow-double-large-hover">
                    <div class="feature-box-icon min-h-150px sm-min-h-100px mb-20 z-index-9"> 
                        <span>
                            <img src="{% static 'frontend/images/icons/svg/mission.svg' %}" alt="" class="w-50">
                        </span>
                    </div>
                    <div class="feature-box-title fs-100 fw-600 text-black opacity-2 ls-minus-10px">Mission</div>
                    <div class="feature-box-content last-paragraph-no-margin">
                        <span class="d-inline-block text-white mb-5px fs-18">Our Mission</span>
                        <p class="w-90 xl-w-100 lh-30 text-light-opacity lh-30 text-light-opacity">
                            Our mission is to make disciples of Jesus through authentic relationships, excellent education, and strengthened communities.
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-aluminium-grey"></div>
                </div>
            </div>
            <div class="col icon-with-text-style-07 transition-inner-all mb-30px">
                <div class="hover-box dark-hover feature-box p-55px lg-p-30px overflow-hidden bg-dark-slate-blue text-start box-shadow-double-large-hover">
                    <div class="feature-box-icon min-h-150px sm-min-h-100px mb-20 z-index-9"> 
                        <span class="icon-extra-large text-white">
                            <img src="{% static 'frontend/images/icons/svg/vision.svg' %}" alt="" class="w-50">
                        </span>
                    </div>
                    <div class="feature-box-title fs-100 fw-600 text-black opacity-2 ls-minus-10px">Vision</div>
                    <div class="feature-box-content last-paragraph-no-margin">
                        <span class="d-inline-block text-white mb-5px fs-18">Our Vision</span>
                        <p class="w-100 xl-w-100 lh-30 text-light-opacity">
                            That every person we serve would know Christ and make Him known, resulting in transformed lives, restored relationships, and changed communities.
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-aluminium-grey"></div>
                </div>
            </div>
            <div class="col icon-with-text-style-07 transition-inner-all mb-30px">
                <div class="hover-box dark-hover feature-box p-55px lg-p-30px overflow-hidden bg-dark-slate-blue text-start box-shadow-double-large-hover">
                    <div class="feature-box-icon min-h-150px sm-min-h-100px mb-20 z-index-9"> 
                        <span class="icon-extra-large text-white">
                            <img src="{% static 'frontend/images/icons/svg/values.svg' %}" alt="" class="w-50">
                        </span>
                    </div>
                    <div class="feature-box-title fs-100 fw-600 text-black opacity-2 ls-minus-10px">Values</div>
                    <div class="feature-box-content last-paragraph-no-margin">
                        <span class="d-inline-block text-white mb-5px fs-18">Our Values</span>
                        <p class="w-100 xl-w-100 lh-30 text-light-opacity">
                            Our values are relationships, biblical truth, passion, stewardship, integrity, and family, guiding our mission with faith and dedication.
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-aluminium-grey"></div>
                </div>
            </div>
        </div>
    </div>
</section>