{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Education {% endblock %}
{% block content %}

<section class="section-dark p-0 bg-dark-gray"> 
    <div class="swiper lg-no-parallax  full-screen md-h-600px sm-h-500px ipad-top-space-margin swiper-light-pagination" data-slider-options='{ "slidesPerView": 1, "loop": true, "parallax": true, "speed": 1000, "pagination": { "el": ".swiper-pagination-bullets", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "disableOnInteraction": false },  "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide overflow-hidden">
                <div class="cover-background position-absolute top-0 start-0 w-100 h-100" data-swiper-parallax="500" style="background-image:url({% static 'frontend/images/what-we-do/education.jpg' %});">
                    <div class="opacity-light bg-gradient-sherpa-blue-black"></div>
                    <div class="container h-100" data-swiper-parallax="-500">
                        <div class="row align-items-center h-100">
                            <div class="col-xl-7 col-lg-8 col-md-10 position-relative text-white text-center text-md-start" data-anime='{ "el": "childs", "translateX": [100, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                <div>
                                    <span class="fs-20 opacity-6 mb-25px sm-mb-15px d-inline-block fw-300">Empowering students with holistic educational support.</span>
                                </div>
                                <h1 class="alt-font w-90 xl-w-100 text-shadow-double-large ls-minus-2px">AOF Scholarship <span class="fw-600">Excellence.</span></h1>
                            </div>
                        </div>
                        <div class="position-absolute bottom-minus-45px" data-anime='{ "translateY": [150, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'><span class="alt-font number text-white opacity-3 fs-190 fw-600 ls-minus-5px">01</span></div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide overflow-hidden">
                <div class="cover-background position-absolute top-0 start-0 w-100 h-100" data-swiper-parallax="500" style="background-image:url({% static 'frontend/images/what-we-do/education.jpg' %});">
                    <div class="opacity-light bg-gradient-sherpa-blue-black"></div>
                    <div class="container h-100" data-swiper-parallax="-500">
                        <div class="row align-items-center h-100">
                            <div class="col-xl-7 col-lg-8 col-md-10 position-relative text-white text-center text-md-start" data-anime='{ "el": "childs", "translateX": [100, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'> 
                                <div>
                                    <span class="fs-20 opacity-6 mb-25px sm-mb-15px d-inline-block fw-300">Developing future leaders through comprehensive education.</span>
                                </div>
                                <h1 class="alt-font w-90 xl-w-100 text-shadow-double-large ls-minus-2px">Quality Leadership <span class="fw-600">Academy.</span></h1> 
                            </div>
                            <div class="position-absolute bottom-minus-45px" data-anime='{ "translateY": [150, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'><span class="alt-font number text-white opacity-3 fs-190 fw-600 ls-minus-5px">02</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide overflow-hidden">
                <div class="cover-background position-absolute top-0 start-0 w-100 h-100" data-swiper-parallax="500" style="background-image:url({% static 'frontend/images/what-we-do/education.jpg' %});">
                    <div class="opacity-light bg-gradient-sherpa-blue-black"></div>
                    <div class="container h-100" data-swiper-parallax="-500">
                        <div class="row align-items-center h-100">
                            <div class="col-xl-7 col-lg-8 col-md-10 position-relative text-white text-center text-md-start" data-anime='{ "el": "childs", "translateX": [100, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                <div>
                                    <span class="fs-20 opacity-6 mb-25px sm-mb-15px d-inline-block fw-300">Committed to quality education in Africa.</span>
                                </div>
                                <h1 class="alt-font w-90 xl-w-100 text-shadow-double-large ls-minus-2px">African <span class="fw-600">Oasis</span> Education</h1>
                            </div>
                            <div class="position-absolute bottom-minus-45px" data-anime='{ "translateY": [150, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'><span class="alt-font number text-white opacity-3 fs-190 fw-600 ls-minus-5px">03</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
    </div>
</section>

<section class="background-position-left-top background-no-repeat position-relative">
    <div class="position-absolute left-minus-200px top-25" data-bottom-top="transform: translateY(-80px)" data-top-bottom="transform: translateY(80px)">
        <img src="{% static 'frontend/images/circle-full-bg.png' %}" alt="">
    </div>
    <div class="container">
        <div class="position-absolute right-0px bottom-minus-320px d-none d-md-block" data-bottom-top="transform: translateY(-80px)" data-top-bottom="transform: translateY(80px)">
            <img src="{% static 'frontend/images/what-we-do/education/testimonials-bg.png' %}" alt="">
        </div>
        <div class="row justify-content-center">                    
            <div class="col-lg-4 col-md-10 position-relative md-mb-40px sm-mb-25px" data-anime='{ "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="alt-font text-dark-gray fs-40 fw-600 ls-minus-3px mx-auto">Empowering Minds, Transforming Futures.</h2>
            </div>
            <div class="col-xl-7 col-lg-8 col-md-10 offset-xl-1 position-relative mt-minus-1">
                <div class="row row-cols-auto row-cols-sm-2" data-anime='{ "el": "childs", "translateX": [30, 0], "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <!-- start features box item -->
                    <div class="col-lg-6 align-self-start">
                        <div class="feature-box text-start ps-30px pe-30px xl-pe-5px sm-pe-0">
                            <div class="feature-box-icon position-absolute left-0px top-0px">
                                <h2 class="alt-font fs-100 fw-700 ls-minus-1px opacity-1 mb-0">01</h2>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin pt-30 md-pt-21 sm-pt-40px">
                                <p>
                                    Our unique sponsorship program is designed to foster a meaningful and lasting connection between you and a student at Africa Oasis Foundation and Oasis Academy. By participating, you will engage in a transformative journey that goes beyond mere financial support. Through your prayers, active engagement, and investment, you will help provide essential education and nourishment to a student at the Africa Oasis Foundation.
                                </p>
                                <span class="w-60px h-3px bg-dark d-inline-block"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-lg-6 align-self-end mt-25 xs-mt-30px">
                        <div class="feature-box text-start ps-30px pe-30px xl-pe-5px sm-pe-0">
                            <div class="feature-box-icon position-absolute left-0px top-0px">
                                <h2 class="alt-font fs-100 fw-700 ls-minus-1px opacity-1 mb-0">02</h2>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin pt-30 md-pt-21 sm-pt-40px">
                                <p>
                                    Your involvement extends beyond the individual student; you will also be making a significant impact on their family and contributing to the transformation of an entire community. We have witnessed firsthand the remarkable work that God is doing in Rwanda through our school, and we invite you to be a part of this powerful mission.
                                </p>
                                <span class="w-60px h-3px bg-dark d-inline-block"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-lg-6 align-self-start mt-minus-12 xs-mt-40px">
                        <div class="feature-box text-start ps-30px pe-30px xl-pe-5px sm-pe-0">
                            <div class="feature-box-icon position-absolute left-0px top-0px">
                                <h2 class="alt-font fs-100 fw-700 ls-minus-1px opacity-1 mb-0">03</h2>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin pt-30 md-pt-21 sm-pt-40px">
                                <p>
                                    Join us in this impactful endeavor and experience the profound difference your support can make in the lives of students, their families, and their communities. Together, we can continue to see God's incredible work unfold in Rwanda, fostering hope, growth, and lasting change.
                                </p>
                                <span class="w-60px h-3px bg-dark d-inline-block"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-gradient-tranquil-white position-relative">
    <div class="container">
        <div class="row justify-content-center align-items-center mb-4 text-center text-md-start">
            <div class="col-xxl-8 col-md-7 sm-mb-10px">
                <h2 class="alt-font text-dark-gray fw-600 ls-minus-3px mb-0">Testimonies</h2>
            </div>
            <div class="col-xxl-4 col-md-5 text-center text-md-end" data-anime='{ "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                
            </div>
        </div>
        <div class="position-absolute right-0px bottom-minus-320px d-none d-md-block" data-bottom-top="transform: translateY(-80px)" data-top-bottom="transform: translateY(80px)">
            <img src="{% static 'frontend/images/what-we-do/education/testimonials-bg.png' %}" alt="">
        </div>
        <div class="container position-relative z-index-1">
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 align-items-center mb-4 xs-mb-25px" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="col review-style-07 mb-30px"> 
                    <div class="d-flex justify-content-center h-100 flex-column border-radius-6px p-12 xl-p-10 bg-white box-shadow-quadruple-large">
                        <div class="mb-20px">
                            <img src="https://via.placeholder.com/148x148" class="rounded-circle w-90px lg-w-65px me-15px" alt="">
                            <div class="d-inline-block align-middle"> 
                                <div class="text-dark-gray fs-18 fw-600">John Doe</div>
                                <div class="lh-24 fs-16">Secondary Student</div>
                            </div>
                        </div>
                        <p class="mb-15px md-w-85 sm-w-100">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit illum quo iure voluptate provident itaque, tempora ut? Officiis, fuga quasi?
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="d-inline-block fw-500 text-uppercase border-radius-30px ps-15px pe-15px fs-12 lh-28 bg-dark-gray text-white">30 Nov</div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

{% endblock %}