{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Feeding Outreach {% endblock %}
{% block content %}

<section class="p-0 full-screen ipad-top-space-margin position-relative overflow-hidden sm-h-auto">
    <div class="container-fluid p-0 h-100 position-relative">
        <div class="row h-100 g-0">
            <div class="col-12 col-md-6 bg-white bg-sliding-line d-flex justify-content-center flex-column p-10 position-relative xl-p-6 md-p-5 sm-ps-30px sm-pe-30px  sm-pt-50px sm-pb-50px order-2 order-md-1">
                <div class="fs-140 sm-fs-60 lh-95 fw-600 text-dark-gray mb-50px sm-mb-30px alt-font ls-minus-8px sm-ls-minus-2px" data-anime='{ "el": "childs", "translateX": [80, 0], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="d-inline-block position-relative z-index-9">
                        <div class="highlight-separator mb-0" data-shadow-animation="true" data-animation-delay="1000">
                            Feeding Outreach
                        </div>
                    </div>
                </div>
                <p class="text-black">
                    Many communities face the challenges of malnutrition and starvation. Each month, we provide lunch to up to 1,500 students and children in Bugesera who otherwise cannot afford to attend school. Our aim is to draw more children off the streets and back into the classroom, while also alleviating widespread hunger in the community. By offering these meals, we not only address immediate nutritional needs but also encourage educational participation and long-term personal development.
                </p>
                <div class="icon-with-text-style-08" data-anime='{ "el": "childs", "translateX": [140, 0], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="feature-box feature-box-left-icon-middle">
                        <div class="feature-box-icon feature-box-icon-rounded w-55px h-55px rounded-circle bg-dark-gray me-15px rounded-box">
                            <i class="feather icon-feather-arrow-right text-white icon-small"></i>
                        </div>
                        <div class="feature-box-content">
                            <a href="{% url 'frontend:give' %}" target="blank" class="d-inline-block fs-20 ls-minus-05px alt-font fw-600 text-dark-gray text-dark-gray-hover">Donate to project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 position-relative order-1 order-md-2">
                <div class="swiper h-100 banner-slider sm-h-450px swiper-light-pagination" data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-pagination-bullets", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "stopOnLastSlide": true, "disableOnInteraction": false },"keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "fade" }'>
                    <div class="swiper-wrapper">
                        <!-- start slider item -->
                        <div class="swiper-slide">
                            <div class="position-absolute left-0px top-0px w-100 h-100 cover-background" style="background-image:url({% static 'frontend/images/what-we-do/feeding/slider-1.jpg' %});"></div>
                        </div>
                        <!-- end slider item -->
                        <!-- start slider item -->
                        <div class="swiper-slide">
                            <div class="position-absolute left-0px top-0px w-100 h-100 cover-background" style="background-image:url({% static 'frontend/images/what-we-do/feeding/slider-2.jpg' %});"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}