{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Medical Care Outreach {% endblock %}
{% block content %}

<section class="cover-background full-screen ipad-top-space-margin py-0 md-h-750px sm-h-650px" style="background-image:url({% static 'frontend/images/what-we-do/medical/medical-care.jpg' %});">
    <div class="opacity-full bg-black"></div>
    <div class="container h-100"> 
        <div class="row align-items-center h-100">
            <div class="col-xl-6 col-lg-8 col-md-10 position-relative z-index-1" data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>   
                <h1 class="text-white title-font fs-50 fw-300 ls-minus-2px mb-25px">
                    Medical Care Outreach
                </h1> 
                <div>
                    <p class="fw-300 fs-18 w-100 sm-w-95 text-white opacity-6">
                        We will soon open a clinic in Kamabuye that will provide necessary medical care for students in our Scholarship Program. This clinic will offer a range of healthcare services to ensure our students stay healthy and receive prompt treatment when needed.
                    </p>
                </div>
                <a href="{% url 'frontend:give' %}" class="btn btn-extra-large btn-switch-text btn-transparent-white-light btn-rounded border-1 ls-0px mt-15px">
                    <span>
                        <span class="btn-double-text" data-text="Donate to our project">Donate to our project</span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 256 256"><path fill="currentColor" d="M148 224a4 4 0 0 1-4 4h-32a4 4 0 0 1 0-8h32a4 4 0 0 1 4 4m-20-116a8 8 0 1 0-8-8a8 8 0 0 0 8 8m91.72 47l-12.37 55.6a11.9 11.9 0 0 1-7.72 8.71a12.2 12.2 0 0 1-4 .69a11.94 11.94 0 0 1-7.43-2.6L159.85 196h-63.7l-28.34 21.4a11.94 11.94 0 0 1-7.43 2.6a12.2 12.2 0 0 1-4-.69a11.9 11.9 0 0 1-7.72-8.71L36.28 155a12 12 0 0 1 2.5-10.28l29.35-35.23c3.3-53.33 41.83-86.68 52.52-94.94a12 12 0 0 1 14.7 0c10.69 8.26 49.22 41.61 52.52 94.94l29.35 35.23a12 12 0 0 1 2.5 10.28M97.11 188h61.78C214.07 92.49 145 32.05 130.46 20.84a4 4 0 0 0-4.92 0C111 32.05 41.93 92.49 97.11 188m-7.52 2.93C75.12 165.56 68.93 142.52 68 122.06L44.92 149.8a4 4 0 0 0-.83 3.43l12.36 55.63a4 4 0 0 0 6.41 2.26l.09-.07Zm121.49-41.13L188 122.06c-.89 20.46-7.08 43.5-21.55 68.87l26.64 20.12l.09.07a4 4 0 0 0 6.41-2.26l12.36-55.63a4 4 0 0 0-.87-3.43"/></svg>
                        </span>
                    </span>
                </a>
            </div>  
        </div> 
    </div>
</section>

<section class="pt-3 sm-pt-50px">
    <div class="container">
        <div class="row mb-10 align-items-center">
            <div class="col-lg-5 position-relative md-mb-20">
                <div class="w-70 xs-w-80" data-animation-delay="50" data-shadow-animation="true">
                    <img src="{% static 'frontend/images/what-we-do/medical/01.jpg' %}" alt="" class="border-radius-8px w-100">
                </div>
                <div class="w-60 overflow-hidden position-absolute right-minus-15px xs-right-15px xs-w-60 bottom-minus-50px" data-shadow-animation="true" data-animation-delay="250" data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
                    <img src="{% static 'frontend/images/what-we-do/medical/02.jpg' %}" alt="" class="border-radius-8px w-100 box-shadow-quadruple-large" />
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 offset-lg-1" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h3 class="text-dark-gray title-font fs-36 fw-300 ls-minus-2px">Seamless Healthcare Pathway Empowerment.</h3>
                <p class="mb-40px sm-mb-25px">
                    If our clinic in Kamabuye cannot meet a student's medical needs, we will refer them to specialized hospitals in Nyamata and Kigali. These hospitals are equipped to handle more complex medical issues and provide advanced care. Our referral process will ensure that students receive the best possible treatment and support, whether at our clinic or at a partner hospital. This system aims to guarantee comprehensive healthcare for all students in our program, enhancing their overall well-being and ability to succeed in their studies.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-very-light-gray">
    <div class="container">
        <!-- start dropcaps item -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-4 sm-mb-30px">
                <h3 class="title-font fw-300 text-black">
                    What We Provide
                </h3>
            </div>
            <div class="col-12 col-lg-7 col-md-9 offset-lg-1 dropcap-style-01 last-paragraph-no-margin">
                <p><span class="first-letter text-dark-gray fw-700">A</span>
                    frica Oasis Foundation provides physicals, HIV testing and counseling, basic hygiene education, malaria prevention, malnutrition rehabilitation, and medical financial assistance for many individuals. We work closely with our social worker in Bugesera who assesses, monitors, overseas all medical needs that arise in Bugesera.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pt-0"> 
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8 text-center position-relative page-title-double-large">
                <div class="d-flex flex-column justify-content-center extra-very-small-screen">
                    <h1 class="text-dark-gray title-font ls-minus-1px fw-300">Trust Is Established</h1>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xxl-7 col-lg-5 md-mb-15 sm-mb-20 text-center text-lg-start">
                <div class="row row-cols-1">
                    <div class="col-12 process-step-style-05 position-relative hover-box">
                        <div class="process-step-item d-flex">
                            <div class="process-content ps-30px last-paragraph-no-margin mb-30px">
                                <p class="w-90 lg-w-100">
                                    Our favorite aspect of our Medical Care Outreach is the opportunity to offer comfort, love, and hope to people in need. Being present during their difficult times allows us to provide emotional and medical support. When we share in their struggles, offering care and empathy, we build valuable relationships with the individuals we serve.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 process-step-style-05 position-relative hover-box">
                        <div class="process-step-item d-flex">
                            <div class="process-content ps-30px last-paragraph-no-margin mb-30px">
                                <p class="w-90 lg-w-100">
                                    This support goes beyond medical treatment. By being there to listen, offer a comforting word, or provide a shoulder to cry on, we establish a deep connection with our patients. This connection fosters trust, making them feel valued and understood. Over time, this trust strengthens, forming a solid foundation for ongoing support and care.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 process-step-style-05 position-relative hover-box">
                        <div class="process-step-item d-flex">
                            <div class="process-content ps-30px last-paragraph-no-margin mb-30px">
                                <p class="w-90 lg-w-100">
                                    Through our outreach, we aim not only to address medical needs but also to bring emotional and spiritual comfort to those facing challenges. By building these strong, trusting relationships, we can better support our patients in their journey towards health and well-being.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 position-relative md-mb-30px sm-mb-15">
                <img src="{% static 'frontend/images/up-up.png' %}" class="absolute-middle-center xs-w-95" alt="">
            </div>
        </div>
    </div>
</section>

<section class="pt-5 ps-15 pe-15 xl-ps-2 xl-pe-2 lg-ps-2 lg-pe-2 sm-mx-0 bg-extra-dark-slate-blue">
    <div class="container-fluid">
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 text-center">
                <h2 class="title-font text-white fw-300">
                    Successful Stories
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="blog-classic blog-wrapper grid-loading grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                    <li class="grid-sizer"></li>
                    {% for story in news %}
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="{% url 'frontend:story' story.slug %}">
                                        <img src="{{ story.image.url }}" alt />
                                    </a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px">
                                    <a href="{% url 'frontend:story' story.slug %}" class="card-title mb-10px fw-600 fs-17 lh-26 text-white text-dark-gray-hover d-inline-block w-95">
                                        {{ story.title }}
                                    </a>
                                    <div class="mb-10px w-100 text-white">
                                        {{ story.description|safe|truncatewords:4 }}
                                    </div>
                                    <div class="mt-15px">
                                        <span class="separator bg-dark-gray"></span>
                                        <a href="{% url 'frontend:story' story.slug %}" class="text-white text-white-hover d-inline-block fs-15 fw-500 fw-500">More Details</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <div class="text-center">
                            <span class="text-white">
                                No stories available!!!
                            </span>
                        </div>
                    {% endfor %}
                </ul>
                <div class="position-absolute right-0px bottom-minus-320px d-none d-md-block" data-bottom-top="transform: translateY(-80px)" data-top-bottom="transform: translateY(80px)">
                    <img src="{% static 'frontend/images/what-we-do/education/testimonials-bg.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}