{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Tunga Women Initiative {% endblock %}
{% block content %}

<section class="cover-background h-300px one-third-screen sm-h-500px" style="background-image:url({% static 'frontend/images/what-we-do/medical/medical-care.jpg' %});">
    <div class="opacity-medium bg-dark-slate-blue"></div> 
    <div class="container h-100"> 
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-xxl-8 col-lg-10 mb-9 md-mb-15 sm-mb-0 position-relative z-index-1 text-center d-flex flex-wrap align-items-center justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>   
                <h1 class="text-white title-font fw-300 ls-minus-2px mb-45px">
                    Tunga Women Initiatives
                </h1> 
            </div>  
        </div> 
    </div>
</section>

<section class="position-relative overflow-hidden">
    <div class="container position-relative z-index-1">
        <div class="row">
            <div class="col-lg-4 offset-lg-2 position-relative order-2 order-lg-1">
                <img src="{% static 'frontend/images/what-we-do/feeding/img-5.jpg' %}" alt="">
            </div>
            <div class="col-lg-5 offset-lg-1 mb-50px md-mt-0 order-1 order-lg-1 xs-mb-35px" data-anime='{ "el": "childs", "opacity": [0, 1], "translateY": [30, 0], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="fs-40 title-font fw-300 ls-minus-1px text-dark-gray mb-15px">Women’s Beading</h2>
                <p class="fs-14 w-100 mb-30px lg-w-100">
                    Africa Oasis is dedicated to empowering mothers in the Bugesera District, particularly within the Kamabuye community, through our comprehensive beading and tailoring program. Each week, our Site Coordinator leads these remarkable women in Bible study sessions, fostering deep and meaningful relationships. Beyond spiritual growth, the program includes practical money management training, equipping the participants with essential skills for financial independence.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pt-0 ps-4 pe-4 xl-ps-2 xl-pe-2 lg-px-0">
    <div class="container-fluid">
        <div class="row align-items-center mb-6 sm-mb-9 text-center text-lg-start">
            <div class="col-lg-12 md-mb-20px text-center">
                <h3 class="title-font text-black fs-50 fw-300 mb-3 ls-minus-1px">
                    Empower Teen Monthers Through Craft
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="blog-side-image blog-wrapper grid-loading grid grid-3col xxl-grid-2col xl-grid-2col lg-grid-2col md-grid-1col sm-grid-1col xs-grid-1col gutter-extra-large">
                    <li class="grid-sizer"></li>
                    {% for story in news %}
                        <li class="grid-item">
                            <div class="blog-box d-md-flex d-block flex-row h-100 border-radius-6px overflow-hidden box-shadow-extra-large">
                                <div class="blog-content w-50 sm-w-100 pt-50px pb-40px ps-40px pe-40px xl-p-30px bg-white d-flex flex-column justify-content-center align-items-start last-paragraph-no-margin">
                                    <a href="{% url 'frontend:story' story.slug %}" class="card-title text-dark-gray text-dark-gray-hover mb-5px fw-600 fs-18 lh-28">
                                        {{ story.title }}
                                    </a>
                                    <p>
                                        {{ story.description|truncatewords:10 }}
                                    </p>
                                    <div class="mt-15px">
                                        <span class="separator bg-dark-gray"></span>
                                        <a href="{% url 'frontend:story' story.slug %}" class="text-dark-gray text-dark-gray-hover d-inline-block fs-15 fw-500 fw-500">More Details</a>
                                    </div>
                                </div>
                                <div class="blog-image w-50 sm-w-100 cover-background" style="background-image: url({{ story.image.url }})">
                                    <a href="{% url 'frontend:story' story.slug %}" class="blog-post-image-overlay"></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark-gray overlap-height background-position-center-top" style="background-image: url({% static 'frontend/images/what-we-do/education/vertical-line-bg-small.svg' %})">
    <div class="container overlap-gap-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="position-relative" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <h4 class="text-white title-font fw-300 mb-20px">
                        Tailoring Circle
                    </h4>
                    <p class="text-white">
                        These women are not only developing valuable crafts but are also taking immense pride in the positive impact they are making in their community. Through their dedication and hard work, they are becoming catalysts for change, contributing to the social and economic upliftment of their families and neighbors. We are honored to witness and support the incredible difference these women are making, as they embody resilience, strength, and hope.
                    </p>
                </div>
            </div>
        </div>
    </div> 
</section>

{% endblock %}