{% extends 'frontend/layouts/app.html' %}
{% load static %}
{% block title %} Vocational Projects {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/revolution/css/navigation.css' %}">
{% endblock %}
{% block content %}

{% include 'frontend/inc/farming-outreach-slider.html' %}

<section class="position-relative overflow-hidden">
    <div class="container position-relative z-index-1">
        <div class="row">
            <div class="col-lg-6 position-relative order-2 order-lg-1">
                <img src="{% static 'frontend/images/what-we-do/farming/1.jpg' %}" alt="">
            </div>
            <div class="col-lg-6 mb-50px md-mt-0 order-1 order-lg-1 xs-mb-35px" data-anime='{ "el": "childs", "opacity": [0, 1], "translateY": [30, 0], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h2 class="fs-40 title-font fw-300 ls-minus-1px text-dark-gray mb-15px">Farming God’s way </h2>
                <p class="fs-16 fw-400 text-dark-gray w-100 mb-30px lg-w-100">
                    In 2024, the Africa Oasis Foundation launched the Farming Outreach program to continuously improve our initiatives and help the families we serve become more self-reliant. This program was established in response to the observed need to support parents and guardians of children in our Scholarship Program, equipping them to better care for their families. Since our Education Scholarship Outreach operates in a rural area, most of our families are subsistence farmers.
                </p>
                <p class="fs-16 fw-400 text-dark-gray w-100 mb-30px lg-w-100">
                    The Farming Outreach program introduces "Farming God’s Way," a resource designed to address the challenges our families face. This approach tackles both the spiritual and practical aspects of poverty. By integrating biblical principles, it provides sustainable and profitable farming methods.
                </p>
                <p class="fs-16 fw-400 text-dark-gray w-100 mb-30px lg-w-100">
                    Farming God’s Way" is not an organization, but a comprehensive teaching resource. It promotes improved and sustainable conservation agriculture techniques to local farmers. These methods help enhance crop yields, preserve soil health, and ensure long-term agricultural productivity. Through this program, we aim to empower farmers with the knowledge and skills they need to thrive, thereby fostering self-reliance and improved living conditions for their families.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-extra-dark-slate-blue" style="background-image: url({% static 'frontend/images/shapes/vertical-line-bg-small.svg' %})">
    <div class="container-fluid ps-10 pe-10 xxl-ps-5 xxl-pe-5 xl-px-0">
        <div class="row align-items-center mb-6 sm-mb-9 text-center text-lg-start">
            <div class="col-lg-12 md-mb-20px text-center">
                <h3 class="title-font text-white fs-50 fw-300 mb-3 ls-minus-1px">
                    The Problem
                </h3>
                <p class="w-100 md-w-100 text-white">
                    Despite ideal conditions for farming, many Rwandan families face food insecurity due to poor farming practices, soil erosion, and lack of motivation. Addressing these issues through improved agricultural techniques, education, and support is essential to help families fully utilize their environment's natural advantages.
                </p>
            </div>
        </div>
        <div class="position-absolute left-minus-100px" data-bottom-top="transform: translateY(-180px)" data-top-bottom="transform: translateY(180px)">
            <img src="{% static 'frontend/images/shapes/bg-05.png' %}" alt="" >
        </div>
        <div class="row justify-content-center">
            <div class="col-12 sliding-box-style-03 sliding-box justify-content-center d-flex lg-flex-nowrap flex-wrap" data-anime='{ "el": "childs", "translateY": [30, 0], "translateX": [30, 0], "opacity": [0,1], "duration": 800, "delay":200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="sliding-box-item box-shadow-extra-large md-mb-30px">
                    <div class="sliding-box-img position-relative">
                        <img src="{% static 'frontend/images/what-we-do/thumb/weather.jpg' %}" alt="" class="w-100" />
                        <div class="overlay-contnet w-100 h-100 d-flex flex-column align-items-center justify-content-center z-index-2 text-center">
                            <div class="alt-font fw-600 fs-22 lh-30 text-white w-60">Weather</div>
                        </div>
                        <div class="overlay bg-extra-dark-slate-blue"></div>
                    </div>
                    <div class="text-center d-flex flex-column align-items-center justify-content-center sliding-box-content bg-white p-60px xxl-p-50px xl-p-40px lg-p-35px last-paragraph-no-margin">
                        <div class="content-hover w-100">
                            <p class="text-dark-gray">
                                Rural Rwandan farmers face weather challenges, but outreach programs provide climate-smart techniques, weather education, and early warning systems to aid resilience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sliding-box-item box-shadow-extra-large active md-mb-30px">
                    <div class="sliding-box-img position-relative">
                        <img src="{% static 'frontend/images/what-we-do/thumb/pest.jpg' %}" alt="" class="w-100" />
                        <div class="overlay-contnet w-100 h-100 d-flex flex-column align-items-center justify-content-center z-index-2 text-center">
                            <div class="alt-font fw-600 fs-22 lh-30 text-white w-60">Pests</div>
                        </div>
                        <div class="overlay bg-extra-dark-slate-blue"></div>
                    </div>
                    <div class="text-center d-flex flex-column align-items-center justify-content-center sliding-box-content bg-white p-60px xxl-p-50px xl-p-40px lg-p-35px last-paragraph-no-margin">
                        <div class="content-hover w-100">
                            <p class="text-dark-gray">
                                Rwandan farmers face pest challenges, but outreach programs provide education, pest-resistant crops, and pesticide training, aiding agricultural productivity.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sliding-box-item box-shadow-extra-large">
                    <div class="sliding-box-img position-relative">
                        <img src="{% static 'frontend/images/what-we-do/thumb/tools.jpg' %}" alt="" class="w-100" />
                        <div class="overlay-contnet w-100 h-100 d-flex flex-column align-items-center justify-content-center z-index-2 text-center">
                            <div class="alt-font fw-600 fs-22 lh-30 text-white w-60">Tools</div>
                        </div>
                        <div class="overlay bg-extra-dark-slate-blue"></div>
                    </div>
                    <div class="text-center d-flex flex-column align-items-center justify-content-center sliding-box-content bg-white p-60px xxl-p-50px xl-p-40px lg-p-35px last-paragraph-no-margin">
                        <div class="content-hover w-100">
                            <p class="text-dark-gray">
                                Rwandan farmers lack modern tools, but outreach programs provide access and training, boosting mechanization, efficiency, and livelihoods.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white background-position-center-top overflow-hidden" style="background-image: url('images/demo-architecture-dotted-pattern.svg')">
    <div class="container">
        <div class="row align-items-center mb-6 sm-mb-9 text-center text-lg-start">
            <div class="col-lg-12 md-mb-20px">
                <h3 class="title-font text-black text-center fs-50 fw-300 mb-0 ls-minus-1px">
                    From Farm to Market
                </h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "scale":[0.9,1], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
            <!-- start interactive banner item -->
            <div class="col interactive-banner-style-03 transition-inner-all md-mb-30px mb-3">
                <div class="position-relative overflow-hidden border-radius-6px last-paragraph-no-margin">
                    <figure class="m-0">
                        <div class="bg-gradient-gray-light-dark-transparent position-absolute top-0px left-0px w-100 h-100 z-index-1"></div>
                        <img src="{% static 'frontend/images/what-we-do/farming/img-1.jpg' %}" alt="" />
                        <figcaption class="d-flex flex-column w-100 h-100 p-60px lg-p-35px z-index-1">
                            <span class="mb-auto fs-14 text-white text-white-hover w-90 lg-w-100">
                                A significant challenge for subsistence farmers in Rwanda is obtaining a fair price for their products. Most farmers lack proper storage facilities for maize, forcing them to sell at harvest time when prices are at their lowest. While "Farming God’s Way" will help increase crop yields, we also want to ensure farmers receive fair compensation for their efforts.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end interactive banner item -->
            <!-- start interactive banner item -->
            <div class="col interactive-banner-style-03 transition-inner-all md-mb-30px mb-3">
                <div class="position-relative overflow-hidden border-radius-6px last-paragraph-no-margin">
                    <figure class="m-0">
                        <div class="bg-gradient-gray-light-dark-transparent position-absolute top-0px left-0px w-100 h-100 z-index-1"></div>
                        <img src="{% static 'frontend/images/what-we-do/farming/img-2.jpg' %}" alt="" />
                        <figcaption class="d-flex flex-column w-100 h-100 p-60px lg-p-35px z-index-1">
                            <span class="mb-auto fs-14 text-white text-white-hover w-90 lg-w-100">
                                To address this issue, the Africa Oasis Foundation constructed a warehouse. This facility allows us to purchase maize and beans from farmers at fair prices that reflect the true value of their products. The warehouse provides much-needed storage space, enabling farmers to store their crops safely and sell them when market prices are more favorable. This reduces their vulnerability to market fluctuations and helps them avoid the financial strain of selling at low prices during harvest time.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end interactive banner item -->
            <!-- start interactive banner item -->
            <div class="col interactive-banner-style-03 transition-inner-all md-mb-30px mb-3">
                <div class="position-relative overflow-hidden border-radius-6px last-paragraph-no-margin">
                    <figure class="m-0">
                        <div class="bg-gradient-gray-light-dark-transparent position-absolute top-0px left-0px w-100 h-100 z-index-1"></div>
                        <img src="{% static 'frontend/images/what-we-do/farming/img-3.jpg' %}" alt="" />
                        <figcaption class="d-flex flex-column w-100 h-100 p-60px lg-p-35px z-index-1">
                            <span class="mb-auto fs-14 text-white text-white-hover w-90 lg-w-100">
                                Furthermore, the warehouse serves as a central collection point, simplifying logistics and reducing transportation costs for farmers. By buying directly from the farmers, we eliminate middlemen who often take a significant portion of the profit. This ensures that the farmers receive a larger share of the final sale price.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end interactive banner item -->
            <!-- start interactive banner item -->
            <div class="col interactive-banner-style-03 transition-inner-all md-mb-30px mb-3">
                <div class="position-relative overflow-hidden border-radius-6px last-paragraph-no-margin">
                    <figure class="m-0">
                        <div class="bg-gradient-gray-light-dark-transparent position-absolute top-0px left-0px w-100 h-100 z-index-1"></div>
                        <img src="{% static 'frontend/images/what-we-do/farming/img-4.jpg' %}" alt="" />
                        <figcaption class="d-flex flex-column w-100 h-100 p-60px lg-p-35px z-index-1">
                            <span class="mb-auto fs-14 text-white text-white-hover w-90 lg-w-100">
                                The benefits of this initiative are multifaceted. Our farmers can enjoy increased yields from the improved farming techniques taught by "Farming God’s Way." They also receive fair and timely payment for their crops, which helps to stabilize their income and improve their overall financial security. Additionally, by storing and selling their crops at optimal times, farmers can better plan for their future needs and investments.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end interactive banner item -->
            <!-- start interactive banner item -->
            <div class="col interactive-banner-style-03 transition-inner-all md-mb-30px mb-3">
                <div class="position-relative overflow-hidden border-radius-6px last-paragraph-no-margin">
                    <figure class="m-0">
                        <div class="bg-gradient-gray-light-dark-transparent position-absolute top-0px left-0px w-100 h-100 z-index-1"></div>
                        <img src="{% static 'frontend/images/what-we-do/farming/img-5.jpg' %}" alt="" />
                        <figcaption class="d-flex flex-column w-100 h-100 p-60px lg-p-35px z-index-1">
                            <span class="mb-auto fs-14 text-white text-white-hover w-90 lg-w-100">
                                Overall, this initiative not only enhances the economic well-being of the farmers but also ensures a steady supply of quality maize and beans for the community. Our families feel a sense of pride and accomplishment in their work, knowing that their efforts are valued and that their crops are helping to feed their community. Through these efforts, we aim to create a more sustainable and prosperous future for subsistence farmers in Rwanda.
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end interactive banner item -->
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'frontend/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script type="text/javascript">
        /* https://learn.jquery.com/using-jquery-core/document-ready/ */
        jQuery(document).ready(function () {

            let windowHeight = $(window).outerHeight();
            $(window).resize(function() {
                windowHeight = $(window).outerHeight();
            })

            /* initialize the slider based on the Slider's ID attribute from the wrapper above */
            jQuery('#aof-slider').show().revolution({
                sliderType: "standard",
                /* options are 'auto', 'fullwidth' or 'fullscreen' */
                sliderLayout: 'fullscreen',
                /* sets the Slider's default timeline */
                delay: 9000,
                /* options that disable autoplay */
                stopLoop: "off",
                stopAfterLoops: 0,
                stopAtSlide: 1,
                navigation: {
                    keyboardNavigation: "on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    mouseScrollReverse: "default",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        touchOnDesktop: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: true
                    },
                    arrows: {

                        enable: true,
                        style: 'uranus',
                        rtl: false,
                        hide_onleave: false,
                        hide_onmobile: true,
                        hide_under: 0,
                        hide_over: 778,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        left: {
                            container: 'slider',
                            h_align: 'left',
                            v_align: 'center',
                            h_offset: 10,
                            v_offset: 10
                        },
                        right: {
                            container: 'slider',
                            h_align: 'right',
                            v_align: 'center',
                            h_offset: 10,
                            v_offset: 10
                        }

                    }

                },

                responsiveLevels: [1240, 1024, 778, 480],
                /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
                gridwidth: [1190, 1024, 778, 480],
                /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
                gridheight: [900, 920, 700, 650],
                /* Lazy Load options are "all", "smart", "single" and "none" */
                lazyType: "smart",
                spinner: "spinner0",
                parallax: {
                    type: "mouse+scroll",
                    origo: "enterpoint",
                    speed: 400,
                    speedbg: 1500,
                    speedls: 1000,
                    levels: [5, 10, 15, 20, 25, 30, 35, 40, 60, 46, -10, -15, -20, -25, -30, 55],
                }
                ,
                shadow: 0,
                shuffle: "off",
                autoHeight: "on",
                fullScreenAutoWidth: "on",
                fullScreenAlignForce: "on",
                fullScreenOffsetContainer: "",
                fullScreenOffset: "1px",
                disableProgressBar: "on",
                hideThumbsOnMobile: "on",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            }
            );
        });
    </script>
{% endblock %}