name: Deploy AOF to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Deploy to DigitalOcean
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DROPLETS }}
          username: ${{ secrets.DROPLET_USERNAME }}
          password: ${{ secrets.SUDO_PASSWORD }}
          script: |
            source venv/bin/activate
            cd aof
            git remote set-url origin git@github.com:Shami-Og/aof.git
            git fetch origin
            git reset --hard origin/main

            pip install -r requirements.txt

        
            python manage.py makemigrations  --noinput
             python manage.py makemigrations --merge --noinput
            python manage.py migrate --noinput
            python manage.py collectstatic --noinput
            echo "${{ secrets.SUDO_PASSWORD }}" | sudo -S systemctl restart gunicorn